footer.main-footer
    .container
        .pull-right.hidden-xs
            b
                |   Version
            |   2.0
        strong
            |   Copyright &copy; 2014-2015
            a( href="#")
                |   Computer Enchiladas
        |   All Rights Reserved.