.row(ng-if='networkId' id="network-detail")
    .col-xs-2.col-sm-2.col-md-2.col-lg-2(style="position: absolute; margin-top: -64px; right: 0px")
        a.btn.btn-primary.btn-block.pull-right(ng-click="newUser()" ui-sref-opts="{reload: true}" ng-if="networkId && (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)")
            i.fa.fa-plus
            |   User
    .col-xs-12.col-sm-4.col-md-3.col-lg-2(style="position: absolute; margin-top: -64px")
        a.btn.btn-default(ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}")
            i.fa.fa-chevron-left
                |   Back
    .col-xs-12(id="tab-sections")
        tabset( vertical="false" type="pills")
            tab( heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Articles" ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Boards" ui-sref="networks.boards({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Events" ui-sref="networks.events({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Members" active="true")
                |   &nbsp;

.col-xs-12(ng-if="!users && (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)")
    .col-xs-12
        .callout.callout-info.text-center
            h4
                i.fa.fa-users
                i.fa.fa-info-circle.pull-right
                |   Users: empty!
            p

                |   Add a new user by choosing '+ User' button on the top right corner.
                |   Users are the people whom will be joining on this network and
                |   they are a valuable asset towards successful collaboration.
div
    .row
        .col-sm-6.col-xs-12(ng-repeat="user in users track by $index")
            .info-box
                span.info-box-icon.bg-aqua
                    i.fa.fa-user-secret(ng-show="!user.avatarImage")
                    img( src="{{user.avatarImage.url}}" style="max-width: 100%; max-height: 100$; margin: -40px auto 0")
                .info-box-content
                    span.info-box-text
                        |   {{user.profile.firstName}} {{user.profile.lastName}}
                    span.info-box-number
                        |   Web Architect
                    .progress
                        .progress-bar.bg-aqua(style="width: 20%")
                    .btn-group.dropup.pull-right
                        button.btn.btn-primary.btn-xs.dropdown-toggle( type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
                            |   Action&nbsp;
                            span.caret
                        ul.dropdown-menu
                            li
                                a(ng-click="messageModal($index);" href="javascript:void(0)")
                                    |   Message
                            //li.divider(role="separator")
                            //li
                                a(href="javascript:void(0)")
                                    |   Another action
                    span.progress-description
                        i.fa.fa-caret-up.text-green
                            |   20%
                        |   last
                        b
                            |   30 Days

    .row
        modal-window-view( modal-id="modalNewMessage" actions='actions' title="New Message" type="conversation")
            modal-private-conversation( open="{{open}}" )

modal-window-view( modal-id="modalUserForm" title="User")
    modal-user-form