.row(style="margin-top: 20px")
   .col-xs-12.col-sm-5.col-md-5.col-lg-4
      conversations( conversations="conversations" current="conversation._id" load="load" )
   .col-xs-12.col-sm-7.col-md-7.col-lg-8
      current-conversation( current="conversation" private="isPrivate" )