.box.box-primary
   .box-header.with-border
      h3.box-title
         |   Start New {{type}} Conversation
      .box-tools.pull-right
         button.btn.btn-box-tool( data-dismiss="modal" aria-label="Close")
            i.fa.fa-times
   .box-body
      form(novalidate)
         form-input-tag(
            model="conversation.topic"
            label="Topic (optional)"
            required="true")
         .form-group(ng-show="conversation.members.length")
            label
               | Members
            div
               span.bg-blue( ng-repeat="member in conversation.members track by $index" style="padding: 5px; margin-right: 5px;")
                  span(ng-if="member.name")
                     |  {{member.name}}
                  span(ng-if="!member.name")
                     |  {{member.email}}

                  i.fa.fa-close(style="padding: 0 5px; cursor: pointer" ng-click="removeMember($index)")
         div(ng-if="type=='private'")
            auto-complete(input-model="tempMember" placeholder="Members" auto-complete-http="getAutoCompleteUserEmails" selected="selected")
         .input-group
            input.form-control( type="text" placeholder="Type Message ..." ng-model="conversation.message.content")
            span.input-group-btn
               button.btn.btn-primary.btn-flat( type="button" ng-click="sendMessage()")
                  |   Send