.row(id="network-detail")
    .col-xs-12.col-sm-4.col-md-3.col-lg-2(style="position: absolute; margin-top: -64px")
        a.btn.btn-default(ui-sref="networks.boards({id: networkId})" ui-sref-opts="{reload: true}")
            i.fa.fa-chevron-left
                |   Back
    .col-xs-12(id="tab-sections")
        tabset( vertical="false" type="pills")
            tab( heading="Scrum" ui-sref="networks.board({tab: 'scrum'})" active="tab.scrum")
                tasks-current( board="board")
            tab( heading="Backlog" ui-sref="networks.board({tab: 'backlog'})" active="tab.backlog")
                tasks-backlog( id="board._id")
            tab( heading="New Task" ui-sref="networks.board({tab: 'newTask'})" active="tab.newTask")
                .col-xs-12
                    tasks-new( id="board._id")
            tab( heading="Edit Task" ng-show="false" active="tab[3]")
                tasks-new( id="board._id")
