.row(ng-if='networkId' id="network-detail")
    .col-xs-2.col-sm-2.col-md-2.col-lg-2(style="position: absolute; margin-top: -64px; right: 0px")
        a.btn.btn-primary.btn-block.pull-right(ui-sref="boards.new({networkId: networkId})" ui-sref-opts="{reload: true}" ng-if="networkId && (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)")
            i.fa.fa-plus
            |   Board
    .col-xs-12.col-sm-4.col-md-3.col-lg-2(style="position: absolute; margin-top: -64px")
        a.btn.btn-default(ui-sref="networks.list" ui-sref-opts="{reload: true}")
            i.fa.fa-chevron-left
                |   Back
    .col-xs-12(id="tab-sections")
        tabset( vertical="false" type="pills")
            tab( heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Articles" ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Boards" active="true")
                |   &nbsp;
            tab( heading="Events" ui-sref="networks.events({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
            tab( heading="Members" ui-sref="networks.members({id: networkId})" ui-sref-opts="{reload: true}")
                |   &nbsp;
.col-xs-12(ng-if="boards")
    .row
        .col-xs-12
            .col-xs-12.col-sm-4.no-padding
                strong
                    |Name
            .col-xs-12.col-sm-4
                strong
                    |Members
            .col-xs-12.col-sm-4
                strong
                    |Tasks
.col-xs-12(ng-if="!boards && (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)")
    .col-xs-12
        .callout.callout-info.text-center
            h4
                i.fa.fa-tasks
                i.fa.fa-info-circle.pull-right
                |   Boards: empty!
            p

                |   Add a new board by choosing '+ Board' button on the top right corner.
                |   Boards are helpful when working on large projects because
                |   they help prevent losing track of progress.
.row
    .col-xs-12
        .list-group
            .list-group-item( ng-repeat="board in boards track by $index" ui-sref="networks.board({id: networkId, boardId: board._id})" ui-sref-opts="{reload: true}")
                .col-xs-12.col-sm-4.no-padding
                    strong
                        i.fa.fa-server
                        |{{board.name}}
                .col-xs-12.col-sm-4
                    span(ng-repeat="member in board.members track by $index")
                        |&mdash;{{member.profile.firstName}} {{member.profile.lastName}}
                        br
                .col-xs-12.col-sm-4(ng-show="board._owner === currentUser._id")
                    a.btn.btn-default.btn-block( ui-sref="boards.edit({board: board._id})" ui-sref-opts="{reload: true}" ng-click="$event.stopPropagation()")
                        |EDIT
                    a.btn.btn-danger.btn-block( ng-click="remove( board._id ); $event.stopPropagation()")
                        |DELETE

                .clearfix



.row(style="margin-top: 50px; display: none")
    .col-xs-12.col-sm-4.col-md-3.col-lg-2
        a.btn.btn-primary(ui-sref="boards.new" ui-sref-opts="{reload: true}")
            i.fa.fa-plus
            |   Add Board
