.navbar.navbar-default(style="visibility: hidden")
.navbar.navbar-default.navbar-fixed-top( style="background-color: #fff;")
    .container
        .navbar-header
            button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#seed-navigation" )
                span.sr-only
                    != lang.sr.toggleNavigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a( class="navbar-brand" href="/" )
                img( src="/assets/img/logo.jpg" style="margin-top:-7px; height: 35px;")
            //
                != lang.components.navigation.title

        #seed-navigation.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a( href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")
                        != lang.components.navigation.domains.title
                        span.caret
                    ul( class="dropdown-menu" role="menu")
                        each val in navigation
                          li
                            a( href='/knowledge/articles')
                              != val
                        li.divider
                        li.text-center
                            small
                                != lang.components.navigation.domains.moreToCome
                li
                    a(href="/questions")
                        |   Questions?

            ul.nav.navbar-nav.navbar-right
                li
                    a( href="/app#/login" )
                        != lang.components.navigation.login
            //
                li
                    a( href="/app#/register")
                        != lang.components.navigation.register
