.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#seed-navigation" )
                span.sr-only
                    != lang.sr.toggleNavigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a( class="navbar-brand" href="#/feed" )
                != lang.components.navigation.title

        #seed-navigation.navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/app#/users")
                        |   Users
                li
                    a(href="/app#/questions")
                        |   Questions

            ul.nav.navbar-nav.navbar-right
                //
                    li
                        a( href="/app#/myAccount")
                            != lang.components.navigation.myAccount
                li
                    a( href="javascript: void(0)" ng-click="logout()" )
                        != lang.components.navigation.logout