.skin-purple {
  .nav-pills > li.active > a {
    border-top-color: #555299;
    background: #605ca8;
  }
  .nav-stacked > li.active > a {
    border-left-color: #555299;
  }
  .btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
    background-color: #605ca8;
    border-color: #555299;
    color: #fff;
  }
  .box-primary {
    border-top-color: #555299;
  }
  a {
    color: #555299;
  }
  a.btn-default {
    color: #444;
  }
  //.icheckbox_flat-purple,
  //.iradio_flat-purple {
  //  background: url('/assets/img/purple.png') no-repeat;
  //}
}

