
<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container">
      <div class="navbar-header"><a ui-sref="root" ui-sref-options="{reload: true}" class="navbar-brand"><b>  Admin</b>  LTE</a>
        <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle collapsed"><i class="fa fa-bars"></i></button>
      </div>
      <div id="navbar-collapse" class="collapse navbar-collapse pull-left">
        <ul class="nav navbar-nav">
          <li class="dropdown"><a href="javascript:void(0);" data-toggle="dropdown" role="button" aria-expanded="false" class="dropdown-toggle">  Domains<span class="caret"></span></a>
            <ul role="menu" class="dropdown-menu">
              <li><a ui-sref="knowledge">  Knowledge 2</a></li>
              <li class="divider"></li>
              <li class="text-center"><a ui-sref="knowledge"><small>  See All</small></a></li>
            </ul>
          </li>
          <li><a ui-sref="questions">  Questions?</a></li>
        </ul>
      </div>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a ui-sref="login">  Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>