.row( id="dashboard" ng-controller="AdminDashboardController")
    .col-xs-12
        .panel-group( id="accordion" role="tablist" aria-multiselectable="true")
            .panel.panel-default
                .panel-heading(role="tab" id="headingOne")
                    h4.panel-title
                        a( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
                            |   Network 1: Client Services
                .panel-collapse.collapse.in(id="collapseOne" role="tabpanel" aria-labelledby="headingOne")
                    .panel-body
                        .col-lg-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-fuchsia
                                    i.fa.fa-line-chart
                                .info-box-content
                                    span.info-box-text
                                        |   Logins
                                    span.info-box-number
                                        |   90
                                    .progress
                                        .progress-bar.bg-aqua(style="width: 20%")
                                    span.progress-description
                                        i.fa.fa-caret-up.text-green
                                            |   20%
                                        |   last
                                        b
                                            |   30 Days
                        .col-lg-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-red
                                    i.ion.ion-clock
                                .info-box-content
                                    span.info-box-text
                                        |   Bounce Rate
                                    span.info-box-number
                                        |   10
                                        small
                                            |%
                                    .progress
                                        .progress-bar.bg-green(style="width: 4%")
                                    span.progress-description
                                        i.fa.fa-caret-down.text-red
                                            |   4%
                                        |   last
                                        b
                                            |   30 Days
                        .col-md-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-purple
                                    i.fa.fa-book
                                .info-box-content
                                    span.info-box-text
                                        |   Articles
                                    span.info-box-number
                                        |   14
                                    .progress
                                        .progress-bar.bg-red(style="width: 10%")
                                    span.progress-description
                                        i.fa.fa-caret-up.text-green
                                            |   10%
                                        |   last
                                        b
                                            |   30 Days
                        .col-md-4.col-xs-12
                            .small-box.bg-aqua
                                .inner
                                    h3
                                        |   10 / 3
                                    p
                                        |   Tasks / Boards

                                .icon
                                    .fa.fa-tasks
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                        .col-md-4.col-xs-12
                            .small-box.bg-green
                                .inner
                                    h3
                                        |   4
                                    p
                                        |   Members

                                .icon
                                    .i.fa.fa-users
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                        .col-md-4.col-xs-12
                            .small-box.bg-yellow
                                .inner
                                    h3
                                        |   4
                                    p
                                        |   Conversations

                                .icon
                                    .i.ion.ion-ios-chatboxes
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                .panel-heading(role="tab" id="headingTwo")
                    h4.panel-title
                        a.collapsed( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
                            |   Network 2: MAHRIO
                .panel-collapse.collapse(id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo")
                    .panel-body
                        .col-lg-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-fuchsia
                                    i.fa.fa-line-chart
                                .info-box-content
                                    span.info-box-text
                                        |   Logins
                                    span.info-box-number
                                        |   90
                                    .progress
                                        .progress-bar.bg-aqua(style="width: 20%")
                                    span.progress-description
                                        i.fa.fa-caret-up.text-green
                                            |   20%
                                        |   last
                                        b
                                            |   30 Days
                        .col-lg-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-red
                                    i.ion.ion-clock
                                .info-box-content
                                    span.info-box-text
                                        |   Bounce Rate
                                    span.info-box-number
                                        |   10
                                        small
                                            |%
                                    .progress
                                        .progress-bar.bg-green(style="width: 4%")
                                    span.progress-description
                                        i.fa.fa-caret-down.text-red
                                            |   4%
                                        |   last
                                        b
                                            |   30 Days
                        .col-md-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-purple
                                    i.fa.fa-book
                                .info-box-content
                                    span.info-box-text
                                        |   Articles
                                    span.info-box-number
                                        |   14
                                    .progress
                                        .progress-bar.bg-red(style="width: 10%")
                                    span.progress-description
                                        i.fa.fa-caret-up.text-green
                                            |   10%
                                        |   last
                                        b
                                            |   30 Days
                        .col-md-4.col-xs-12
                            .small-box.bg-aqua
                                .inner
                                    h3
                                        |   10 / 3
                                    p
                                        |   Tasks / Boards

                                .icon
                                    .fa.fa-tasks
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                        .col-md-4.col-xs-12
                            .small-box.bg-green
                                .inner
                                    h3
                                        |   4
                                    p
                                        |   Members

                                .icon
                                    .i.fa.fa-users
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                        .col-md-4.col-xs-12
                            .small-box.bg-yellow
                                .inner
                                    h3
                                        |   4
                                    p
                                        |   Conversations

                                .icon
                                    .i.ion.ion-ios-chatboxes
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                .panel-heading(role="tab" id="headingThree")
                    h4.panel-title
                        a.collapsed( role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
                            |   Network 2: Computer Science &amp; Engineering
                .panel-collapse.collapse(id="collapseThree" role="tabpanel" aria-labelledby="headingThree")
                    .panel-body
                        .col-lg-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-fuchsia
                                    i.fa.fa-line-chart
                                .info-box-content
                                    span.info-box-text
                                        |   Logins
                                    span.info-box-number
                                        |   90
                                    .progress
                                        .progress-bar.bg-aqua(style="width: 20%")
                                    span.progress-description
                                        i.fa.fa-caret-up.text-green
                                            |   20%
                                        |   last
                                        b
                                            |   30 Days
                        .col-lg-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-red
                                    i.ion.ion-clock
                                .info-box-content
                                    span.info-box-text
                                        |   Bounce Rate
                                    span.info-box-number
                                        |   10
                                        small
                                            |%
                                    .progress
                                        .progress-bar.bg-green(style="width: 4%")
                                    span.progress-description
                                        i.fa.fa-caret-down.text-red
                                            |   4%
                                        |   last
                                        b
                                            |   30 Days
                        .col-md-4.col-xs-12
                            .info-box
                                span.info-box-icon.bg-purple
                                    i.fa.fa-book
                                .info-box-content
                                    span.info-box-text
                                        |   Articles
                                    span.info-box-number
                                        |   14
                                    .progress
                                        .progress-bar.bg-red(style="width: 10%")
                                    span.progress-description
                                        i.fa.fa-caret-up.text-green
                                            |   10%
                                        |   last
                                        b
                                            |   30 Days
                        .col-md-4.col-xs-12
                            .small-box.bg-aqua
                                .inner
                                    h3
                                        |   10 / 3
                                    p
                                        |   Tasks / Boards

                                .icon
                                    .fa.fa-tasks
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                        .col-md-4.col-xs-12
                            .small-box.bg-green
                                .inner
                                    h3
                                        |   4
                                    p
                                        |   Members

                                .icon
                                    .i.fa.fa-users
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right
                        .col-md-4.col-xs-12
                            .small-box.bg-yellow
                                .inner
                                    h3
                                        |   4
                                    p
                                        |   Conversations

                                .icon
                                    .i.ion.ion-ios-chatboxes
                                a.small-box-footer( href="#")
                                    |   View
                                    i.fa.fa-arrow-circle-right