.row( id="dashboard" ng-controller="AuthorizedDashboardController")
    .col-xs-12
        .h3.text-center(ng-if="!networks.length")
            |   You have not joined any network. Proceed to discover networks on the left menu or the following link
            br
            br
            .row
                .col-xs-6.col-xs-offset-3
                    a.btn.btn-success.btn-block(ui-sref="networks.list" ui-sref-opts="{reload: true}")
                        |   Networks
        .panel-group( id="accordion" role="tablist" aria-multiselectable="true" ng-if="networks.length")
            .panel.panel-default
                .panel-heading(role="tab" id="heading{{$index}}" ng-repeat-start="network in networks track by $index")
                    h4.panel-title
                        a( role="button" data-toggle="collapse" data-parent="#accordion" href="#{{network._id}}" aria-expanded="{{!$index ? 'true':'false'}}" aria-controls="{{network._id}}")
                            |   {{network.name}}
                .panel-collapse.collapse.in(id="{{network._id}}" role="tabpanel" aria-labelledby="heading{{$index}}" ng-repeat-end="")
                    .panel-body
                        .row
                            .col-md-3.col-sm-6.col-xs-12
                                .small-box.bg-aqua
                                    .inner
                                        h3
                                            |   {{::network.boards.length || 0}}&nbsp;
                                        p
                                            |   Boards

                                    .icon
                                        .fa.fa-tasks
                                    a.small-box-footer( href="#")
                                        |   View
                                        i.fa.fa-arrow-circle-right
                            .col-md-3.col-sm-6.col-xs-12
                                .small-box.bg-green
                                    .inner
                                        h3
                                            |   {{::network.members.length || 0}}&nbsp;
                                        p
                                            |   Members
                                    .icon
                                        .i.fa.fa-users
                                    a.small-box-footer( href="#")
                                        |   View
                                        i.fa.fa-arrow-circle-right
                            .col-md-3.col-sm-6.col-xs-12
                                .small-box.bg-purple
                                    .inner
                                        h3
                                            |   {{::network.articles.length || 0}}&nbsp;
                                        p
                                            |   Articles

                                    .icon
                                        .i.fa.fa-book
                                    a.small-box-footer( href="#")
                                        |   More info
                                        i.fa.fa-arrow-circle-right
                            .col-md-3.col-sm-6.col-xs-12
                                .small-box.bg-yellow
                                    .inner
                                        h3
                                            |   {{::network.events.length || 0}}&nbsp;
                                        p
                                            |   Events

                                    .icon
                                        .fa.fa-calendar
                                    a.small-box-footer( href="#")
                                        |   View
                                        i.fa.fa-arrow-circle-right
