div( id="dashboard" ng-controller="DashboardController")
    .row
        .col-lg-3.col-sm-6.col-xs-12
            .info-box
                span.info-box-icon.bg-aqua
                    i.fa.fa-line-chart
                .info-box-content
                    span.info-box-text
                        |   VISITORS
                    span.info-box-number
                        |   90
                    .progress
                        .progress-bar.bg-aqua(style="width: 20%")
                    span.progress-description
                        i.fa.fa-caret-up.text-green
                            |   20%
                        |   last
                        b
                            |   30 Days
        .col-lg-3.col-sm-6.col-xs-12
            .info-box
                span.info-box-icon.bg-red
                    i.ion.ion-clock
                .info-box-content
                    span.info-box-text
                        |   BOUNCE RATE
                    span.info-box-number
                        |   10
                        small
                            |%
                    .progress
                        .progress-bar.bg-green(style="width: 0%")
                    span.progress-description
                        i.fa.fa-caret-down.text-red
                            |   4%
                        |   last
                        b
                            |   30 Days
        .col-lg-3.col-sm-6.col-xs-12
            .info-box
                span.info-box-icon.bg-purple
                    i.fa.fa-book
                .info-box-content
                    span.info-box-text
                        |   ARTICLES
                    span.info-box-number
                        |   14
                    .progress
                        .progress-bar.bg-red(style="width: 10%")
                    span.progress-description
                        i.fa.fa-caret-up.text-green
                            |   10%
                        |   last
                        b
                            |   30 Days

        .col-lg-3.col-sm-6.col-xs-12
            .info-box
                span.info-box-icon.bg-yellow
                    i.fa.fa-users
                .info-box-content
                    span.info-box-text
                        |   MEMBERS
                    span.info-box-number
                        |   23
                    .progress
                        .progress-bar.bg-yellow(style="width: 10%")
                    span.progress-description
                        i.fa.fa-caret-up.text-green
                            |   10%
                        |   last
                        b
                            |   30 Days
    .row
        .col-md-8.col-xs-12
            .box.box-primary(id="line-chart")
                .box-header
                    h4.box-title
                        |   Monthly Visitors
                    .box-body
                        canvas.chart.chart-line( id="line" data="line_data" labels="line_labels" legend="true" series="line_series" click="onClick"
                            style="width: 100%; height: 250px" )
        .col-md-4.col-xs-12
            .box.box-primary(id="doughnut-chart")
                .box-header
                    h4.box-title
                        |   Article Breakdown
                .box-body
                    canvas.chart.chart-doughnut( id="doughnut" data="doughnut_data" labels="doughnut_labels" legend="true"
                        style="width: 100%; height: 200px;")

    .row
        .col-lg-3.col-sm-6.col-xs-12
            .small-box.bg-aqua
                .inner
                    h3
                        |   10 / 3
                    p
                        |   Tasks / Boards

                .icon
                    .fa.fa-tasks
                a.small-box-footer( href="#")
                    |   More info
                    i.fa.fa-arrow-circle-right
        .col-lg-3.col-sm-6.col-xs-12
            .small-box.bg-purple
                .inner
                    h3
                        |   53
                    p
                        |   Questions
                .icon
                    .fa.fa-question
                a.small-box-footer( href="#")
                    |   More info
                    i.fa.fa-arrow-circle-right
        .col-lg-3.col-sm-6.col-xs-12
            .small-box.bg-green
                .inner
                    h3
                        |   44
                    p
                        |   Newsletter Signups

                .icon
                    .i.fa.fa-newspaper-o
                a.small-box-footer( href="#")
                    |   More info
                    i.fa.fa-arrow-circle-right
        .col-lg-3.col-sm-6.col-xs-12
            .small-box.bg-yellow
                .inner
                    h3
                        |   4
                    p
                        |   Conversations

                .icon
                    .i.ion.ion-ios-chatboxes
                a.small-box-footer( href="#")
                    |   More info
                    i.fa.fa-arrow-circle-right