section( id="about")
    div.container-fluid
        div.row.text-center
            div.col-lg-12.wow.fadeIn
                h1
                    |   Degree Analysis for Students
                p(style="max-width: 80%; margin: 0 auto;")
                    |   Which Degree's purpose is to organize educational data and develop insights on the value of education for students, teachers, institutions, and policy makers.
                hr.colored
        div.row.text-center.content-row
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".2s")
                div.about-content
                    i.fa.fa-money.fa-4x
                    h3
                        |   Security
                    p
                        |   Should you finance a career, a business, or both?
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".4s")
                div.about-content
                    i.fa.fa-area-chart.fa-4x
                    h3
                        |   Knowledge
                    p
                        |   Understand the financial markets, job sectors, and disruption taking place with computer technology.
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".6s")
                div.about-content
                    i.fa.fa-shield.fa-4x
                    h3
                        |   Protection
                    p
                        |   Have the peace of mind and confidence your long-term goals with resist the test of time.
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".8s")
                div.about-content
                    i.fa.fa-rocket.fa-4x
                    h3
                        |   Blast-off
                    p
                        |   There's already a lot that can be done, let's get started!