section( id="about")
    div.container-fluid
        div.row.text-center
            div.col-lg-12.wow.fadeIn
                h1
                    |   A Theme for Creatives &amp; Agencies
                p
                    |   Vitality is the perfect theme for a freelance professional or an agency.
                hr.colored
        div.row.text-center.content-row
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".2s")
                div.about-content
                    i.fa.fa-eye.fa-4x
                    h3
                        |   Retina Ready
                    p
                        |   This theme includes the retina.js plugin for easy retina image support so your images and graphics will look great on mobile devices!
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".4s")
                div.about-content
                    i.fa.fa-edit.fa-4x
                    h3
                        |   Easy to Edit
                    p
                        |   Vitality is built using Bootstrap 3, and is easy to edit and customize. LESS files are included as well for deeper customization.
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".6s")
                div.about-content
                    i.fa.fa-tablet.fa-4x
                    h3
                        |   Responsive
                    p
                        |   When building this theme, we've paid close attention to how it looks on various screen sizes. Try it out on a phone or tablet!
            div.col-md-3.col-sm-6.wow.fadeIn( data-wow-delay=".8s")
                div.about-content
                    i.fa.fa-heart.fa-4x
                    h3
                        |   Built with Love
                    p
                        |   All of our themes are crafted with care, and we strive to make your experience as one of our customers the best as possible.