section.bg-gray
    div.container.text-center.wow.fadeIn
        div.row
            div.col-lg-12
            h2
                |   Latest Articles
            p
                |   Here's what the talk is all about.
            hr.colored
        .row.text-left
            .col-md-4.col-lg-4
                a.blog-preview-img( href="#articleModal1" data-toggle="modal")
                    img.img-responsive( src="assets/static/assets/img/people/5.jpg" )
                .blog-preview-content
                    h3
                        a( href="#")
                            |   Article Title
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quisquam, sunt, corporis.
                    .continue
                        a( href="#")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   April 10, 2014
                        li
                            |   |
                        li
                            |   By Jesus Rocha
            .col-md-4.col-lg-4.blog-col
                a.blog-preview-img( href="#articleModal1" data-toggle="modal")
                    img.img-responsive( src="assets/static/assets/img/people/5.jpg" )
                .blog-preview-content
                    h3
                        a( href="#")
                            |   Article Title
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quisquam, sunt, corporis.
                    .continue
                        a( href="#")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   April 10, 2014
                        li
                            |   |
                        li
                            |   Jesus Rocha
            .col-md-4.col-lg-4.blog-col
                a.blog-preview-img( href="#articleModal1" data-toggle="modal")
                    img.img-responsive( src="assets/static/assets/img/people/5.jpg" )
                .blog-preview-content
                    h3
                        a( href="#")
                            |   Article Title
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, quisquam, sunt, corporis.
                    .continue
                        a( href="#")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   April 10, 2014
                        li
                            |   |
                        li
                            |   Jesus Rocha