section
    div.container.text-center.wow.fadeIn
        div.row
            div.col-lg-12
            h2
                |   Latest Articles
            p
                |   Here's what the talk is all about.
            hr.colored
        .row.text-left
            .col-md-4.col-lg-4
                a.blog-preview-img( href="#articleModal1" data-toggle="modal")
                    img.img-responsive( src="http://l.yimg.com/bt/api/res/1.2/Lux7KyhoY2b0ruoWSpU6Cw--/YXBwaWQ9eW5ld3NfbGVnbztmaT1maWxsO2g9MjI1O3E9NzU7dz0zMDA-/http://globalfinance.zenfs.com/en_us/News/Reuters/da95275bb17421c276dce5002f08d833" )
                .blog-preview-content
                    h3
                        a( href="#articleModal1")
                            |   Nearly half of all youth say 'American dream' is dead
                    p
                        |   American's youth are down on the future, with nearly half of those ages 18 through 29 believing the "American Dream" is more dead than alive, a nationwide survey released Thursday by Harvard University’s Institute of Politics shows.
                    .continue
                        a( href="#articleModal1")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   December 10, 2014
                        li
                            |   |
                        li
                            |   Which Degree
            .col-md-4.col-lg-4.blog-col
                a.blog-preview-img( href="#articleModal1" data-toggle="modal")
                    img.img-responsive( src="https://bethforboe.files.wordpress.com/2013/06/math-english1.jpg" )
                .blog-preview-content
                    h3
                        a( href="#articleModal1")
                            |   ‘Not a Math Person’: How to Remove Obstacles to Learning Math
                    p
                        |   During the summer of 2015, Boaler invited 81 seventh- and eighth-graders from a low-income district near Stanford to come to a summer math camp focused on algebra concepts.
                        |   She gave the students a pre-test and found that their abilities ranged from very low (getting 0 answers correct) to fairly high. Then, for 18 days she taught them math well.
                    .continue
                        a( href="#articleModal1")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   December 8, 2015
                        li
                            |   |
                        li
                            |   Which Degree
            .col-md-4.col-lg-4.blog-col
                a.blog-preview-img( href="#articleModal1" data-toggle="modal")
                    img.img-responsive( src="http://vindecoder.expert/statics/web/img/logos_big/Tesla.png" )
                .blog-preview-content
                    h3
                        a( href="#articleModal1")
                            |   Tesla Just Posted 1,656 Job Openings. Here's Why.
                    p
                        |   After losing $1.88 billion since 2007, Tesla is piling on the personnel as it offers more models, builds the world’s biggest battery factory and expands globally, including stores opening this week in Mexico City and Edinburgh. For the youngest publicly traded U.S. automaker, it’s a race to grow without jeopardizing Chief Executive Officer Elon Musk’s push to turn cash-flow positive in next year’s first quarter.
                    .continue
                        a( href="#articleModal1")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   December 9, 2015
                        li
                            |   |
                        li
                            |   Which Degree