section
    div.container.text-center.wow.fadeIn
        div.row
            div.col-lg-12
            h2
                |   Latest Articles
            p
                |   Here's what the talk is all about.
            hr.colored
        .row.text-left
            .col-md-4.col-lg-4
                .blog-preview-content
                    h3
                        a( href="/article/cheat-sheet-for-applying-to-herseys-data-science-team")
                            |   CHEAT SHEET FOR APPLYING TO HERSHEYS DATA SCIENCE TEAM
                    p
                        |   Bloomberg created a series of cheat sheets for applying to Hersheys and a ton of other firms
                    .continue
                        a( href="/article/cheat-sheet-for-applying-to-herseys-data-science-team")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   December 19, 2015
                        li
                            |   |
                        li
                            |   Erik Peterson
            .col-md-4.col-lg-4.blog-col
                .blog-preview-content
                    h3
                        a( href="/article/top-investment-bank-goldman-sachs-release-their-top-charts-for-the-upcoming-year")
                            |   TOP INVESTMENT BANK GOLDMAN SACHS RELEASE THEIR TOP CHARTS FOR THE COMING YEAR
                    p
                        |   For finance majors, you likely have heard of Goldman Sachs. This famous Investment
                        |   Bank recently went public in 1999, and I say recent because it's been around since 1869.
                    .continue
                        a( href="/article/top-investment-bank-goldman-sachs-release-their-top-charts-for-the-upcoming-year")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   December 20, 2015
                        li
                            |   |
                        li
                            |   Erik Peterson
            .col-md-4.col-lg-4.blog-col
                .blog-preview-content
                    h3
                        a( href="/article/The_internet_of_things")
                            |   The Internet Of Things
                    p
                        |   While everyone is already deeply rooted with social media as the best way to communicate with real people, we begin to wonder... 'are we ready to conversate with machines?'
                    .continue
                        a( href="/article/The_internet_of_things")
                            |   Read More →
                    ul.meta.list-inline
                        li
                            |   December 21, 2015
                        li
                            |   |
                        li
                            |   Jesus Guerrero