style
    |.banner{ background: #f26f21; padding: 30px 0; color: #f8f8f8;}
    |.banner h2 { font-size: 30px; margin: 0; line-height: 49px; }

.banner
    .container
        .row
            .col-lg-6
                h2
                    |   Connect to Start Bootstrap:

            .col-lg-6
                ul.list-inline.banner-social-buttons
                    li
                        a.btn.btn-default.btn-lg( href="https://twitter.com")
                            i.fa.fa-twitter.fa-fw
                            span.network-name
                                |   Twitter
                    li
                        a.btn.btn-default.btn-lg( href="https://github.com")
                            i.fa.fa-facebook.fa-fw
                            span.network-name
                                |   Facebook
                    li
                        a.btn.btn-default.btn-lg( href="https://linkedin.com")
                            i.fa.fa-linkedin.fa-fw
                            span.network-name
                                |   Linkedin