aside.cta-quote( style="background-image: url('/assets/static/assets/img/bg-aside.jpg');")
    div.container.wow.fadeIn
        div.row
            div.col-md-10.col-md-offset-1
                span.quote
                    |   Good
                    span.text-primary
                        |   design
                    |   is finding that perfect balance between the way something
                    span.text-primary
                        |   looks
                    |   and how it
                    span.text-primary
                        |   functions
                    |   .
                hr.colored
                a.btn.btn-outline-light( href="#contact")
                    |   Let's Find It