footer.footer( style="background-image: url('https://s.graphiq.com/rx/img/product_page/c-companies.jpg')")
    .container.text-center
        //.row
            .col-md-4.contact-details
                h4
                    i.fa.fa-phone
                    |   Call
                p
                    |   555-213-4567

            .col-md-4.contact-details
                h4
                    i.fa.fa-map-marker
                    |   Visit
                p
                    |   3481 Melrose Place
                    br
                    |   Beverly Hills, CA 90210

            .col-md-4.contact-details
                h4
                    i.fa.fa-envelope
                    |   Email
                p
                    a( href="mailto:mail@example.com")
                        |   mail@example.com</a>

        .row.copyright
            .col-lg-12
                p.small
                    |   &copy; 2010 - 2015 Which Degree