style
    | .featurette { overflow: hidden; }
    | .featurette-divider { margin: 40px 0; }
    | .heading h2 { text-transform: inherit; }
    | .featurette-image.pull-right { margin-left: 40px; margin-bottom: 10px }
    | .featurette-image.pull-left { margin-right: 40px; margin-bottom: 10px }

section.container.heading

    <!-- First Featurette -->
    .featurette.wow.fadeIn( data-wow-delay=".2s")
        img.featurette-image.img-circle.img-responsive.pull-right( src="http://placehold.it/500x500" )
        h2.featurette-heading
            |   This First Heading
            span.text-muted
                |   Will Catch Your Eye

        p
            |   Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

    hr.featurette-divider

    <!-- Second Featurette -->
    .featurette.wow.fadeIn( data-wow-delay=".2s")
        img.featurette-image.img-circle.img-responsive.pull-left( src="http://placehold.it/500x500" )
        h2.featurette-heading
            |   This Second Heading
            span.text-muted
                |   Is Pretty Cool Too.

        p
            |   Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.

    hr.featurette-divider

    <!-- Third Featurette -->
    .featurette.wow.fadeIn( data-wow-delay=".2s")
        img.featurette-image.img-circle.img-responsive.pull-right( src="http://placehold.it/500x500" )
        h2.featurette-heading
            |   This Third Heading
            span.text-muted
                |   Will Seal the Deal.

        p
            |   Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
