section.cd-hero(style="padding:0")
    ul.cd-hero-slider
        li.selected
            .cd-full-width
                .col-data
                    h2
                        |   Hero slider
                    p
                        |   A simple, responsive slideshow in CSS &amp; jQuery.
                    a.cd-btn( href="http://codyhouse.co/?p=675")
                        |   Article &amp; Download

        li
            .cd-half-width
                .col-data
                    h2
                        |   Slide title here
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!
                    a.cd-btn( href="#0")
                        |   Start
                    a.cd-btn.secondary( href="#0")
                        |   Learn More

            .cd-half-width.cd-img-container
                img( src="/assets/static/assets/img/portfolio/mobile-screens.png" alt="tech 1")

        li
            .cd-half-width.cd-img-container
                img( src="/assets/static/assets/img/portfolio/tablet-screens.png" alt="tech 2")

            .cd-half-width
                .col-data
                    h2
                        |   Slide title here
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!
                    a.cd-btn( href="#0")
                        |   Start
                    a.cd-btn.secondary( href="#0")
                        |   Learn More

        li.cd-bg-video
            .cd-full-width
                .col-data
                    h2
                        |   Slide title here
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.
                    a.cd-btn( href="#0")
                        |   Learn more
            .cd-bg-video-wrapper( data-video="assets/static/assets/mp4/clouds")

        li(style="background-image: url('/assets/static/assets/img/portfolio/bg-4.jpg')")
            .cd-full-width
                .col-data
                    h2
                        |   Slide title here
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.
                    a.cd-btn( href="#0")
                        |   Start
                    a.cd-btn.secondary( href="#0")
                        |   Learn More

    .cd-slider-nav
        nav
            span.cd-marker.item-1
            ul
                li.selected
                    i.fa.fa-home.fa-2x
                    br
                    |   Intro
                li
                    i.fa.fa-share-alt.fa-2x
                    br
                    |   Networks
                li
                    i.fa.fa-book.fa-2x
                    br
                    |   Articles
                li
                    i.fa.fa-calendar.fa-2x
                    br
                    |   Events
                li
                    i.fa.fa-comments.fa-2x
                    br
                    |   Chats
