section.cd-hero(style="padding:0")
    ul.cd-hero-slider
        li.selected(style="background-image: url('http://www.edushine.in/wp-content/uploads/2014/12/Higher-Education.jpg')")
            .cd-full-width(style="background: rgba(0,0,0,.8)")
                .col-data
                    h2(style="max-width: 100%")
                        |   Higher Education Insights
                    p
                        |   Let us provide you educational intelligence, virtual job shadowing &amp; direct networking to domain-experts.
                    a( href="#" style="background: url('https://slack.global.ssl.fastly.net/66f9/img/ios_app_store_badge.png') no-repeat;padding: 9px 63px 10px 64px")
                    |&nbsp;
                    a( href="#" style="background: url('https://slack.global.ssl.fastly.net/66f9/img/google_play_badge.png') no-repeat;padding: 10px 55px;")
        li(style="background-image: url('http://uxhow.com/wp-content/uploads/2014/08/partnership2.jpg')")
            .cd-full-width(style="background: rgba(0,0,0,.4)")
                .col-data(style="text-shadow: 1px 1px 1px #000")
                    h2(style="max-width: 100%;")
                        |   Grow Your Connections
                    p
                        |   We are sourcing business &amp; financial networks, along with computer technology, to cultivate a community.
                    div(style="position: absolute; width: 100%; left: 0;")
                        a.cd-btn( href="#" style="margin: 0 auto; width: 200px")
                            |   Check us out
        li(style="background: url('http://marketingland.com/wp-content/ml-loads/2014/08/writing-blogging-content-ss-1920.jpg');background-size:cover;")
            .cd-half-width
                .col-data
                    h2
                        |   Discovery
                    p
                        |   You can depend on us to provide expert, unopinionated, content. We are obsessive researchers.
                    div(style="position: absolute; width: 100%; left: 0;")
                        a.cd-btn( href="#" style="margin: 0 auto; width: 200px")
                            |   READ MORE
        li(style="background: url('http://www.al.com/events/img/category/76.jpg'); background-size: cover;")
            .cd-full-width(style="background: rgba(0,0,0,.8)")
                .col-data
                    h2(style="max-width: 100%;")
                        |   Get Involved
                    p
                        |   Learn about local and regional gatherings.
                    div(style="position: absolute; width: 100%; left: 0;")
                        a.cd-btn( href="#" style="margin: 0 auto; width: 200px")
                            |   View Events
        li(style="background: url('http://www.esteco.com/sites/default/files/Users_collaboration-world.png') no-repeat center center #000; background-size: contain")
            .cd-full-width(style="background: rgba(0,0,0,.1)")
                .col-data
                    h2(style="max-width: 100%;")
                        |   Conversations For Good
                    p
                        |   Connect to domain-experts who work in a wide variety of industries.
                    div(style="position: absolute; width: 100%; left: 0;")
                        a.cd-btn( href="#" style="margin: 0 auto; width: 200px")
                            |   Meet the Experts
    .cd-slider-nav
        nav
            span.cd-marker.item-1
            ul
                li.selected
                    i.fa.fa-home.fa-2x
                    br
                    |   Intro
                li
                    i.fa.fa-share-alt.fa-2x
                    br
                    |   Networks
                li
                    i.fa.fa-book.fa-2x
                    br
                    |   Articles
                li
                    i.fa.fa-calendar.fa-2x
                    br
                    |   Events
                li
                    i.fa.fa-comments.fa-2x
                    br
                    |   Chats
