header.video
    div.overlay
    div.intro-content
        img.img-responsive.img-centered( src="/assets/static/assets/img/profile.png")
        div.brand-name
            |   Vitality
        hr.colored
        div.brand-name-subtext
            |   by Start Bootstrap

    div.scroll-down.page-scroll
        a.btn(href="#about")
            i.fa.fa-angle-down