.portfolio-modal.modal.fade( id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true" style="background-image: url('/assets/static/assets/img/portfolio/bg-4.jpg')")
    .modal-content
        .close-modal( data-dismiss="modal" )
            .lr
                .rl
        .modal-body
            .container
                .row
                    .col-lg-8.col-lg-offset-2
                        img.img-responsive.img-centered( src="/assets/static/assets/img/client-logos/logo-2.png")
                        h2
                            |   Portfolio IV
                        hr.colored
                        p
                            |   What's in here?
                    .col-lg-12
                        img.img-responsive.img-centered( src="/assets/static/assets/img/portfolio/tablet-screens.png")
                    .col-lg-8.col-lg-offset-2
                        ul.list-inline.item-details
                            li
                                |   Client:
                                strong
                                    a( href="http://startbootstrap.com")
                                        |   Start Bootstrap
                            li
                                |   Date:
                                strong
                                    a( href="http://startbootstrap.com")
                                        |   April 2014
                            li
                                |   Service:
                                strong
                                    a( href="http://startbootstrap.com")
                                        |   Web Development
                        button.btn.btn-default( type="button" data-dismiss="modal")
                            i.fa.fa-times
                            |   Close