nav.navbar.navbar-inverse.navbar-fixed-top.navbar-expanded
    div.container
        <!-- Brand and toggle get grouped for better mobile display -->
        div.navbar-header
            button.navbar-toggle( data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" type="button")
                span.sr-only
                    |   Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#page-top")
                img.img-resposive( src="/assets/static/assets/img/logo.png")
        <!-- Collect the nav links, forms, and other content for toggling -->
        div.collapse.navbar-collapse( id="bs-example-navbar-collapse-1")
            ul.nav.navbar-nav.navbar-right
                li.hidden
                    a(href="#page-top")
                li
                    a(href="#about")
                        |   About
                //li
                    a(href="#process")
                        |   Process
                //li
                    a(href="#work")
                        |   Work
                //li
                    a(href="#pricing")
                        |   Pricing
                li
                    a(href="#contact")
                        |   Contact
                li
                    a(href="#login")
                        i.fa.fa-lock
                        |   Login