section
    .container.text-center.wow.fadeIn
        h2
            |   Portfolio
        hr.colored
        p
            |   Here are some other projects that I've worked on.

        .row.content-row
            .col-lg-12
                .portfolio-filter
                    ul.clearfix( id="filters")
                        li
                            span.filter.active( data-filter="identity graphic logo web")
                                |   All
                        li
                            span.filter( data-filter="identity")
                                |   Identity
                        li
                            span.filter( data-filter="graphic")
                                |   Graphic
                        li
                            span.filter( data-filter="web")
                                |   Web


        .row
            .col-lg-12
                div( id="portfoliolist")

                    .portfolio.identity( data-cat="identity" href="#portfolioModal1" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/identity/1.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Generic Inc.
                                    span.text-category
                                        |   Brand Identity
                                .caption-bg

                    .portfolio.web( data-cat="web" href="#portfolioModal2" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/web/1.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Brands
                                    span.text-category
                                        |   Web Development
                                .caption-bg

                    .portfolio.graphic( data-cat="graphic" href="#portfolioModal3" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/graphic/1.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Excellence
                                    span.text-category
                                        |   Poster Design
                                .caption-bg

                    .portfolio.web( data-cat="web" href="#portfolioModal4" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/web/2.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   YouTV
                                    span.text-category
                                        |   Web Development
                                .caption-bg

                    .portfolio.graphic( data-cat="graphic" href="#portfolioModal1" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/graphic/2.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Office Supplies
                                    span.text-category
                                        |   Graphic Design
                                .caption-bg

                    .portfolio.web( data-cat="web" href="#portfolioModal2" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/web/3.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Fooder
                                    span.text-category
                                        |   Mobile App
                                .caption-bg

                    .portfolio.graphic( data-cat="graphic" href="#portfolioModal3" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/graphic/3.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Mountain Tea
                                    span.text-category
                                        |   Graphic Design
                                .caption-bg

                    .portfolio.graphic( data-cat="graphic" href="#portfolioModal4" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/graphic/4.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Checkmark
                                    span.text-category
                                        |   Graphic Design
                                .caption-bg

                    .portfolio.identity( data-cat="identity" href="#portfolioModal1" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/identity/2.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Demish
                                    span.text-category
                                        |   Brand Identity
                                .caption-bg

                    .portfolio.web( data-cat="web" href="#portfolioModal2" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/web/4.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   OneRepublic
                                    span.text-category
                                        |   Web Development
                                .caption-bg

                    .portfolio.graphic( data-cat="graphic" href="#portfolioModal3" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/graphic/5.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Postable
                                    span.text-category
                                        |   Graphic Design
                                .caption-bg

                    .portfolio.identity( data-cat="identity" href="#portfolioModal4" data-toggle="modal")
                        .portfolio-wrapper
                            img(src="/assets/static/assets/img/creative/portfolio/items/identity/3.jpg")
                            .caption
                                .caption-text
                                    a.text-title
                                        |   Simpli Nota
                                    span.text-category
                                        |   Brand Identity
                                .caption-bg