section.pricing( id="pricing" style="background-image: url('/assets/static/assets/img/bg-pricing.jpg')")
    .container.wow.fadeIn
        .row.text-center
            .col-lg-12
                h2
                    |   Pricing
                hr.colored
                p
                    |   Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    |   Eum, quae, laborum, voluptate delectus odio doloremque error porro obcaecati nemo animi
                    |   ducimus quaerat nostrum? Ab molestiae eaque et atque architecto reiciendis.

        .row.content-row
            .col-md-4
                .pricing-item.featured-first
                    h3
                        |   Basic
                    hr.colored
                    .price
                        span.number
                            sup
                                |   $
                            |25
                        |   / month
                    ul.list-group
                        li.list-group-item
                            |   60 Users
                        li.list-group-item
                            |   Unlimited Forums
                        li.list-group-item
                            |   Unlimited Reports
                        li.list-group-item
                            |   3,000 Entries per Month
                        li.list-group-item
                            |   200 MB Storage
                        li.list-group-item
                            |   Unlimited Support
                    a.btn.btn-outline-dark(href="#")
                        |   Sign Up

            .col-md-4
                .pricing-item.featured
                    h3
                        |   Plus
                    hr.colored
                    .price
                        span.number
                            sup
                                |   $
                            |50
                        |   / month
                    ul.list-group
                        li.list-group-item
                            b
                                |   60
                            |   Users
                        li.list-group-item
                            |   Unlimited Forums
                        li.list-group-item
                            |   Unlimited Reports
                        li.list-group-item
                            b
                                |   3,000
                            |   Entries per Month
                        li.list-group-item
                            b
                                |   200 MB
                            |    Storage
                        li.list-group-item
                            |   Unlimited Support
                    a.btn.btn-outline-dark(href="#")
                        |   Sign Up

            .col-md-4
                .pricing-item.featured-last
                    h3
                        |   Premium
                    hr.colored
                    .price
                        span.number
                            sup
                                |   $
                            |150
                        |   / month
                    ul.list-group
                        li.list-group-item
                            |   60 Users
                        li.list-group-item
                            |   Unlimited Forums
                        li.list-group-item
                            |   Unlimited Reports
                        li.list-group-item
                            |   3,000 Entries per Month
                        li.list-group-item
                            |   200 MB Storage
                        li.list-group-item
                            |   Unlimited Support
                    a.btn.btn-outline-dark(href="#")
                        |   Sign Up