section.services( id="process")
    .container
        .row.text-center
            .col-lg-12.wow.fadeIn
                h2
                    |   Our Process
                hr.colored
                p
                    |   Here is an overview of how we approach each new project.
        .row.content-row
            .col-md-4.wow.fadeIn( data-wow-delay=".2s")
                .media
                    .pull-left
                        i.fa.fa-clipboard
                .media-body
                    h3.media-heading
                        |   Plan
                    ul
                        li
                            |   Client interview
                        li
                            |   Gather consumer data
                        li
                            |   Create content strategy
                        li
                            |   Analyze research
            .col-md-4.wow.fadeIn( data-wow-delay=".4s")
                .media
                    .pull-left
                        i.fa.fa-pencil
                .media-body
                    h3.media-heading
                        |   Create
                    ul
                        li
                            |   Build wireframe
                        li
                            |   Gather client feedback
                        li
                            |   Code Development
                        li
                            |   Market review
            .col-md-4.wow.fadeIn( data-wow-delay=".6s")
                .media
                    .pull-left
                        i.fa.fa-rocket
                .media-body
                    h3.media-heading
                        |   Launch
                    ul
                        li
                            |   Deploy mahrio
                        li
                            |   Market product launch
                        li
                            |   Collect UX data
                        li
                            |   Quarterly maintenance