section.bg-gray
    div.container.text-center.wow.fadeIn
        div.row
            div.col-lg-12
            h2
                |   Our Team
            p
                |   We are a group of digital marketers with a passion for great art that serves a practical purpose.
            hr.colored
        div.row.content-row
            div.col-lg-12
                div.about-carousel
                    div.item
                        img.img-responsive( src="assets/static/assets/img/people/5.jpg")
                        div.caption
                            h3
                                |   Erik Peterson
                            hr.colored
                            p
                                |   Co-founder / CEO
                            ul.list-inline.social
                                li
                                    a( href="#")
                                        i.fa.fa-facebook.fa-fw
                                li
                                    a( href="#")
                                        i.fa.fa-twitter.fa-fw
                                li
                                    a( href="#")
                                        i.fa.fa-linkedin.fa-fw
                    div.item
                        img.img-responsive( src="/assets/static/assets/img/people/2.jpg")
                        div.caption
                            h3
                                |   Jesus Rocha
                            hr.colored
                            p
                                |   Co-founder / CTO
                            ul.list-inline.social
                                li
                                    a( href="#")
                                        i.fa.fa-facebook.fa-fw
                                li
                                    a( href="#")
                                        i.fa.fa-twitter.fa-fw
                                li
                                    a( href="#")
                                        i.fa.fa-linkedin.fa-fw
                                li
                                    a( href="#")
                                        i.fa.fa-github.fa-fw