style
    | aside.clients img { margin: 50px auto; }

aside.clients
    .container
        .row
            .col-md-2.col-sm-6.col-md-offset-1
                a( href="#")
                    img.img-responsive.img-centered( src="http://placehold.it/100x100")
            .col-md-2.col-sm-6
                a( href="#")
                    img.img-responsive.img-centered( src="http://placehold.it/100x100")
            .col-md-2.col-sm-6
                a( href="#")
                    img.img-responsive.img-centered( src="http://placehold.it/100x100")
            .col-md-2.col-sm-6
                a( href="#")
                    img.img-responsive.img-centered( src="http://placehold.it/100x100")
            .col-md-2.col-sm-6
                a( href="#")
                    img.img-responsive.img-centered( src="http://placehold.it/100x100")