section.testimonials.bg-gray
    .container.wow.fadeIn
        .row
            .col-lg-10.col-lg-offset-1
                .testimonials-carousel
                    .item
                        .row
                            .col-lg-12
                                p.lead
                                    |   "Working with Vitality was both a valuable and rewarding experience."
                                hr.colored
                                p.quote
                                    |   Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    |   Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias
                                    |   nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati
                                    |   vero ipsam aut fugit?

                                .testimonial-info
                                    .testimonial-img
                                        img.img-circle.img-responsive( src="/assets/static/assets/img/testimonials/1.jpg")

                                    .testimonial-author
                                        span.name
                                            |   Jim Walker
                                        p.small
                                            |   CEO of GeneriCorp
                                        .stars
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                    .item
                        .row
                            .col-lg-12
                                p.lead
                                    |   "Working with Vitality was both a valuable and rewarding experience."
                                hr.colored
                                p.quote
                                    |   Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    |   Reprehenderit, temporibus, laborum, dignissimos doloremque corporis alias
                                    |   nostrum recusandae culpa id quisquam harum impedit sed sunt non obcaecati
                                    |   vero ipsam aut fugit?

                                .testimonial-info
                                    .testimonial-img
                                        img.img-circle.img-responsive( src="/assets/static/assets/img/testimonials/1.jpg")

                                    .testimonial-author
                                        span.name
                                            |   Jim Walker
                                        p.small
                                            |   CEO of GeneriCorp
                                        .stars
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star
                                            i.fa.fa-star