section.portfolio-carousel.wow.fadeIn
    .item( style="background-image: url('/assets/static/assets/img/portfolio/bg-1.jpg')")
        .container-fluid
            .row
                .col-md-4.col-md-push-8
                    .project-details
                        img.img-responsive.client-logo( src="/assets/static/assets/img/client-logos/logo-1.png")
                        span.project-name
                            |   Project Name
                        span.project-description
                            |   Branding, Website Design I
                        hr.colored
                        a.btn.btn-outline-light( href="#portfolioModal1" data-toggle="modal")
                            |   View Details
                            i.fa.fa-long-arrow-right.fa-fw
                .col-md-8.col-md-pull-4.hidden-xs
                    img.img-responsive.portfolio-image( src="/assets/static/assets/img/portfolio/mobile-screens.png")

    .item( style="background-image: url('/assets/static/assets/img/portfolio/bg-2.jpg')")
        .container-fluid
            .row
                .col-md-4.col-md-push-8
                    .project-details
                        img.img-responsive.client-logo( src="/assets/static/assets/img/client-logos/logo-2.png")
                        span.project-name
                            |   Project Name
                        span.project-description
                            |   Branding, Website Design II
                        hr.colored
                        a.btn.btn-outline-light( href="#portfolioModal2" data-toggle="modal")
                            |   View Details
                            i.fa.fa-long-arrow-right.fa-fw
                .col-md-8.col-md-pull-4.hidden-xs
                    img.img-responsive.portfolio-image( src="/assets/static/assets/img/portfolio/tablet-screens.png")

    .item( style="background-image: url('/assets/static/assets/img/portfolio/bg-3.jpg')")
        .container-fluid
            .row
                .col-md-4.col-md-push-8
                    .project-details
                        img.img-responsive.client-logo( src="/assets/static/assets/img/client-logos/logo-1.png")
                        span.project-name
                            |   Project Name
                        span.project-description
                            |   Branding, Website Design III
                        hr.colored
                        a.btn.btn-outline-light( href="#portfolioModal3" data-toggle="modal")
                            |   View Details
                            i.fa.fa-long-arrow-right.fa-fw
                .col-md-8.col-md-pull-4.hidden-xs
                    img.img-responsive.portfolio-image( src="/assets/static/assets/img/portfolio/mobile-screens.png")

    .item( style="background-image: url('/assets/static/assets/img/portfolio/bg-4.jpg')")
        .container-fluid
            .row
                .col-md-4.col-md-push-8
                    .project-details
                        img.img-responsive.client-logo( src="/assets/static/assets/img/client-logos/logo-2.png")
                        span.project-name
                            |   Project Name
                        span.project-description
                            |   Branding, Website Design IV
                        hr.colored
                        a.btn.btn-outline-light( href="#portfolioModal4" data-toggle="modal")
                            |   View Details
                            i.fa.fa-long-arrow-right.fa-fw
                .col-md-8.col-md-pull-4.hidden-xs
                    img.img-responsive.portfolio-image( src="/assets/static/assets/img/portfolio/tablet-screens.png")
