<section class="portfolio-carousel wow fadeIn">
<div class="item" style="background-image: url('assets/img/portfolio/bg-1.jpg')">
<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="project-details">
<img src="assets/img/client-logos/logo-1.png" class="img-responsive client-logo" alt="">
<span class="project-name">Project Name</span>
<span class="project-description">Branding, Website Design</span>
<hr class="colored">
<a href="#portfolioModal1" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
</div>
</div>
<div class="col-md-8 col-md-pull-4 hidden-xs">
<img src="assets/img/portfolio/mobile-screens.png" class="img-responsive portfolio-image" alt="">
</div>
</div>
</div>
</div>
<div class="item" style="background-image: url('assets/img/portfolio/bg-2.jpg')">
<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="project-details">
<img src="assets/img/client-logos/logo-2.png" class="img-responsive client-logo" alt="">
<span class="project-name">Project Name</span>
<span class="project-description">Branding, Website Design</span>
<hr class="colored">
<a href="#portfolioModal2" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
</div>
</div>
<div class="col-md-8 col-md-pull-4 hidden-xs">
<img src="assets/img/portfolio/tablet-screens.png" class="img-responsive portfolio-image" alt="">
</div>
</div>
</div>
</div>
<div class="item" style="background-image: url('assets/img/portfolio/bg-3.jpg')">
<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="project-details">
<img src="assets/img/client-logos/logo-1.png" class="img-responsive client-logo" alt="">
<span class="project-name">Project Name</span>
<span class="project-description">Branding, Website Design</span>
<hr class="colored">
<a href="#portfolioModal3" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
</div>
</div>
<div class="col-md-8 col-md-pull-4 hidden-xs">
<img src="assets/img/portfolio/mobile-screens.png" class="img-responsive portfolio-image" alt="">
</div>
</div>
</div>
</div>
<div class="item" style="background-image: url('assets/img/portfolio/bg-4.jpg')">
<div class="container-fluid">
<div class="row">
<div class="col-md-4 col-md-push-8">
<div class="project-details">
<img src="assets/img/client-logos/logo-2.png" class="img-responsive client-logo" alt="">
<span class="project-name">Project Name</span>
<span class="project-description">Branding, Website Design</span>
<hr class="colored">
<a href="#portfolioModal4" data-toggle="modal" class="btn btn-outline-light">View Details <i class="fa fa-long-arrow-right fa-fw"></i></a>
</div>
</div>
<div class="col-md-8 col-md-pull-4 hidden-xs">
<img src="assets/img/portfolio/tablet-screens.png" class="img-responsive portfolio-image" alt="">
</div>
</div>
</div>
</div>
</section>