section.bg-gray( id="work" )
    .container.text-center.wow.fadeIn
        h2
            |   Our Work
        hr.colored
        p
            |   Examples of our work which represent our design and marketing capabilities.