
<div render-video-bg="render-video-bg" class="row"></div>
<div class="row login">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 xs-no-padding">
    <h3>Contact Us</h3>
    <div class="panel panel-default">
      <error-message-box validation-errors="validationErrors"></error-message-box>
      <div class="panel-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail" class="col-sm-2 control-label"> Name<span class="text-danger">  *</span></label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-sm-6 input-group-lg">
                  <input type="email" placeholder="First Name" ng-model="firstName" class="form-control"/>
                </div>
                <div class="col-sm-6 input-group-lg">
                  <input type="email" placeholder="Last Name" ng-model="lastName" class="form-control"/>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label"> Email<span class="text-danger">  *</span></label>
            <div class="col-sm-10 input-group-lg">
              <input type="password" placeholder="Email" class="form-control"/>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label"> Message<span class="text-danger">  *</span></label>
            <div class="col-sm-10 input-group-lg">
              <textarea placeholder="How can we help you?" style="height: 100px" class="form-control"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary btn-lg btn-block"> Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>