
<div class="row">
  <div class="col-md-7 col-sm-12 text-left">
    <div id="intro-section">
      <h1>  Candid and Experienced Degree Knowledge</h1>
      <p class="transparent-text">
          WhichDegree.co is a domain-based degree exploration platform designed to connect you to professionals.
          Our mission is to deliver straight-talk from professionals, and we start with Information Technology;
          the domain which got us here.
      </p>
      <p class="text-center"><a ui-sref="questions" class="btn btn-primary">  Have Questions? We don't bite</a></p>
    </div>
  </div>
  <div class="col-md-5 col-sm-12 col-right">
    <div id="registration-form">
      <h4 class="text-center">  Free Domain-Knowledge News</h4>
      <form name="newsletter" id="newsletter" ng-submit="newsletterSignup()">
        <div class="form-group">
          <div role="alert" id="error" style="display: none" class="alert alert-danger">  Please Try Again!</div>
          <div role="alert" id="valid" style="display: none" class="alert alert-success text-center">  Thank You! We'll reach out soon.</div>
        </div>
        <div class="form-group input-group-lg">
          <input type="text" name="name" placeholder="Name" ng-model="entry.name" class="form-control"/>
        </div>
        <div class="form-group input-group-lg">
          <input type="email" name="email" placeholder="Email" ng-model="entry.email" class="form-control"/>
        </div>
        <div class="form-group input-group-lg">
          <select name="domain" id="domain" ng-model="domain" class="form-control">
            <option value="" selected="selected" disabled="disabled">  Domain</option>
            <option value="Information Technology">  Information Technology</option>
            <option value="custom">  Other...</option>
          </select>
        </div>
        <div id="otherDomain" style="display: none" class="form-group input-group-lg">
          <input type="text" name="other" placeholder="Tell Us Your Domain..." class="form-control"/><small>  We are working on extending into other domain</small>
        </div>
        <div class="form-group input-group-lg">
          <button type="submit" class="btn btn-primary btn-block btn-lg">  Sign Me Up!</button>
        </div>
      </form>
    </div>
  </div>
</div>