
<div id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px; right: 0px" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a ng-click="newTask()" ng-if="board._id &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-primary btn-block pull-right"><i class="fa fa-plus"></i>  Task</a></div>
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.boards({id: networkId})" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Scrum" ui-sref="networks.board({tab: 'scrum'})" active="tab.scrum"></tab>
      <tab heading="Backlog" ui-sref="networks.board({tab: 'backlog'})" active="tab.backlog"></tab>
    </tabset>
    <ng-switch on="tab.selected">
      <tasks-current board="board" ng-switch-when="scrum"></tasks-current>
      <tasks-backlog tasks="board.tasks" ng-switch-when="backlog"></tasks-backlog>
    </ng-switch>
  </div>
</div>
<modal-window-view modal-id="modalTaskForm" title="Task">
  <modal-task-form board-id="board._id" edit="task">
    <!--
    tab( heading="New Task" ui-sref="networks.board({tab: 'newTask'})" active="tab.newTask")
        .col-xs-12
            tasks-new( id="board._id")
    tab( heading="Edit Task" ng-show="false" active="tab[3]")
        ng-switch( on="typeof currentTask")
            div( ng-switch-when="undefined")
            tasks-new( id="currentTask" ng-switch-default)
    -->
  </modal-task-form>
</modal-window-view>