
<div ng-if="networkId" id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px; right: 0px" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a ng-click="newBoard()" ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-primary btn-block pull-right"><i class="fa fa-plus"></i>  Board</a></div>
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.list" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Articles" ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Boards" active="active">  &nbsp;</tab>
      <tab heading="Events" ui-sref="networks.events({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Members" ui-sref="networks.members({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
    </tabset>
  </div>
</div>
<div ng-if="boards" class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-12 col-sm-4 no-padding"><strong>Name</strong></div>
      <div class="col-xs-12 col-sm-4"><strong>Members</strong></div>
      <div class="col-xs-12 col-sm-4"><strong>Tasks</strong></div>
    </div>
  </div>
</div>
<div ng-if="!boards &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="col-xs-12">
  <div class="col-xs-12">
    <div class="callout callout-info text-center">
      <h4><i class="fa fa-tasks"></i><i class="fa fa-info-circle pull-right"></i>  Boards: empty!</h4>
      <p>
          Add a new board by choosing '+ Board' button on the top right corner.
          Boards are helpful when working on large projects because
          they help prevent losing track of progress.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <div ng-repeat="board in boards track by $index" ui-sref="networks.board({id: networkId, boardId: board._id})" ui-sref-opts="{reload: true}" class="list-group-item">
        <div class="col-xs-12 col-sm-4 no-padding"><strong><i class="fa fa-server"></i>{{board.name}}</strong></div>
        <div class="col-xs-12 col-sm-4"><span ng-repeat="member in board.members track by $index">&mdash;{{member.profile.firstName}} {{member.profile.lastName}}<br/></span></div>
        <div ng-show="board._owner === currentUser._id" class="col-xs-12 col-sm-4"><a ng-click="editBoard( board ); $event.stopPropagation()" ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-default btn-block">  EDIT</a><a ng-click="remove( board._id ); $event.stopPropagation()" class="btn btn-danger btn-block">  DELETE</a></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<modal-window-view modal-id="modalBoardForm" title="Board">
  <modal-board-form edit="edit" network-id="networkId"></modal-board-form>
</modal-window-view>