
<div>
  <auto-complete ng-model="message.to"></auto-complete>
  <div class="form-group">
    <input placeholder="Subject:" ng-model="message.subject" class="form-control"/>
  </div>
  <div>
    <textarea id="wysihtml5-content" wysihtml5="wysihtml5" placeholder="Enter text ..." ng-model="message.content" style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #e3e3e3; padding: 10px;"></textarea>
  </div>
  <div class="form-group">
    <div class="btn btn-default btn-file"><i class="fa fa-paperclip"></i>  Attachment
      <input type="file"/>
    </div>
    <p class="help-block">  Max. 32MB</p>
  </div>
</div>