li.dropdown.messages-menu
    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown" ng-click="isOpen()")
        i.fa.fa-comments
        span.label.label-success(ng-show="chat && chat.total")
            |   {{chat.total}}
    ul.dropdown-menu(id="msgDropdown")
        li.header
            b
                |   Conversations
            span( ng-show="chat && chat.total")
                |   ({{chat.total}})
        li
            ul.menu
                li( ng-repeat="conversation in notifications.chat" ng-style="{background: conversation.isNew ? '#F5F8FE' : ''}")
                    i.text-blue.fa.pull-right(ng-click="toggleNotification($event, conversation._id)"
                        style="position: absolute; margin-top: 25px; right: 10px; cursor: pointer;"
                        ng-class="conversation.isNew ? 'fa-circle':'fa-circle-o'")
                    a( ui-sref="conversations.view({id: conversation._id})" ui-sref-opts="{reload: true}")
                        .pull-left
                            img.img-circle( ng-src="{{conversation.members[ conversation.messages[0]._user ].avatarImage.url}}" alt="User Image")
                        h4
                            span(ng-repeat="user in conversation.members")
                                |   {{user.profile.firstName}};
                            small
                                i.fa.fa-clock-o
                                    |   {{conversation.messages[0].created | date : 'MM-dd h:mm a' }}

                        p(style="margin-right: 15px")
                            |   {{conversation.members[ conversation.messages[0]._user ].profile.firstName}}: {{conversation.messages[0].content}}
        li.footer
            a( ui-sref="conversations" ui-sref-opts="{reload: true}" )
                |   See All Conversations