header.main-header
    a.logo( ui-sref="root")
        span.logo-mini
            i.fa.fa-beer
        span.logo-lg
            |   MAHR.IO
    nav.navbar.navbar-static-top( role="navigation")
        a.sidebar-toggle( ng-click="toggleSidebar()" href="#" data-toggle="offcanvas" role="button")
            span.sr-only
                |   Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        .navbar-custom-menu
            ul.nav.navbar-nav
                li.dropdown.messages-menu
                    a.dropdown-toggle( href="#" data-toggle="dropdown")
                        i.fa.fa-comments
                        span.label.label-success(ng-show="notifications.chat && notifications.chat.length")
                            |   {{notifications.chat.length}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   Conversations
                            span( ng-show="notifications.chat && notifications.chat.length")
                                |   ({{notifications.chat.length}})
                        li
                            ul.menu
                                li( ng-repeat="message in notifications.chat")
                                    a( ui-sref="conversations" ui-sref-opts="{reload: true}")
                                        .pull-left
                                            img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                                        h4
                                            |   {{message.heading}}
                                            small
                                                i.fa.fa-clock-o
                                                    |   {{message.created | date : 'MM-dd h:mm a' }}
                                        p
                                            |   {{message.teaser}}
                        li.footer
                            a( ui-sref="conversations" ui-sref-opts="{reload: true}" )
                                |   See All Conversations
                li.dropdown.messages-menu
                    a.dropdown-toggle( href="#" data-toggle="dropdown")
                        i.fa.fa-envelope
                        span.label.label-success(ng-show="notifications.mail && notifications.mail.count")
                            |   {{notifications.mail.count}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   Messages 10
                            span( ng-show="notifications.mail && notifications.mail.messages && notifications.mail.messages.length")
                                |   ( {{notification.mail.messages.length}} )
                        li
                            ul.menu
                                li( ng-repeat="message in notifications.mail.messages")
                                    a( ui-sref="mail.view({id: message._id})" ui-sref-opts="{reload: true}")
                                        .pull-left
                                            img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                                        h4
                                            |   {{message.heading}}
                                            small
                                                i.fa.fa-clock-o
                                                    |   {{message.created}}
                                        p
                                            |   {{message.teaser}}
                        li.footer
                            a( ui-sref="mail.inbox" ui-sref-opts="{reload: true}")
                                |   See All Messages
                li.dropdown.messages-menu
                    a.dropdown-toggle( href="#" data-toggle="dropdown")
                        i.fa.fa-bell
                        span.label.label-success(ng-show="notifications.all && notifications.all.length")
                            |   {{notifications.all.length}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   You have {{notifications.all.length}} notifications
                        li
                            ul.menu
                                li
                                    a( href="#")
                                        i.fa.fa-users.text-aqua
                                        |   5 new members joined today
                        li.footer
                            a( href="#")
                                |   View All
                li.dropdown.tasks-menu
                    a.dropdown-toggle( href="#" data-toggle="dropdown")
                        i.fa.fa-flag
                        span.label.label-success(ng-show="notifications.tasks && notifications.tasks.length")
                            |   {{notifications.tasks.length}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   You have {{notifications.tasks.length}} tasks
                        li
                            ul.menu
                                li
                                    a( href="#")
                                        h3
                                            |   Design some buttons
                                            small.pull-right
                                                |   20%
                                        .progress.xs
                                            .progress-bar.progress-bar-aqua( style="width:20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="0")
                                                span.sr-only
                                                    |   20% Complete
                        li.footer
                            a( href="#")
                                |   View all tasks
                li.dropdown.user.user-menu
                    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown")
                        i.fa.fa-user( style="font-size: 1.3em" ng-show="!user.avatarImage || !user.avatarImage.url")
                        img.user-image( src="{{user.avatarImage.url}}" ng-show="user.avatarImage && user.avatarImage.url")
                        span.hidden-xs
                            |   {{user.profile.first_name}}
                    ul.dropdown-menu
                        li.user-header
                            i.fa.fa-user-secret.text-gray( style="font-size: 5em" ng-show="!user.avatarImage || !user.avatarImage.url")
                            img.img-circle( src="{{user.avatarImage.url}}" ng-show="user.avatarImage && user.avatarImage.url")
                            p
                                |   {{user.profile.first_name}} {{user.profile.last_name}}
                                br
                                |   {{user.email}}
                                br
                                small
                                    |   Member since {{user.created | date: mediumDate}}


                        //li.user-body
                        //    .col-xs-4.text-center
                        //        a( href="#")
                        //            |   Followers
                        //    .col-xs-4.text-center
                        //        a( href="#")
                        //            |   Friends
                        //    .col-xs-4.text-center
                        //        a( href="#")
                        //            |   Sales
                        li.user-footer
                            .pull-left
                                a.btn.btn-default.btn-flat( ui-sref="profile" ui-sref-opts="{reload: true}")
                                    |   Profile
                            .pull-right
                                a.btn.btn-default.btn-flat( href="javascript: void(0)" ng-click="logout()" )
                                    |   Sign Out
                li
                    a( href="#" data-toggle="control-sidebar")
                        i.fa.fa-gears
