header.main-header
    a.logo( ui-sref="root")
        span.logo-mini(style="transform: scale(-1,1); font-family: fantasy; font-size: 20px; font-weight: bold; line-height: 56px; letter-spacing:-3px;-webkit-transform: scale(-1, 1)")
            |   3C
        span.logo-lg(style="transform: scale(-1,1); font-family: fantasy; font-size: 40px; font-weight: bold; line-height: 58px;letter-spacing:-5px;-webkit-transform: scale(-1, 1)")
            |   3C
    nav.navbar.navbar-static-top( role="navigation")
        a.sidebar-toggle( ng-click="toggleSidebar()" href="#" data-toggle="offcanvas" role="button")
            span.sr-only
                |   Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
        //.pull-left.hidden-xs.hidden-sm(style="height: 40px; margin-top: 10px; width: 350px")
            //auto-complete(input-model="tempMember" placeholder="Search users..." auto-complete-http="getUsers"
            //selected="selected")
        .navbar-custom-menu
            ul.nav.navbar-nav
                //chat-widget
                li.dropdown.messages-menu
                    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown" ng-click="isOpen()")
                        i.fa.fa-comments
                        span.label.label-success(ng-show="chat && chat.total")
                            |   {{chat.total}}
                    ul.dropdown-menu(id="msgDropdown")
                        li.header
                            b
                                |   Conversations
                            span( ng-show="chat && chat.total")
                                |   ({{chat.total}})
                        li
                            ul.menu
                                li( ng-repeat="conversation in notifications.chat" ng-style="{background: conversation.isNew ? '#F5F8FE' : ''}" style="position: relative;")
                                    i.text-blue.fa.pull-right(ng-click="toggleNotification($event, conversation._id)"
                                    style="position: absolute; margin-top: 25px; right: 10px; cursor: pointer;"
                                    ng-class="conversation.isNew ? 'fa-circle':'fa-circle-o'")
                                    a( ui-sref="conversations.view({id: conversation._id})" ui-sref-opts="{reload: true}")
                                        .pull-left
                                            img.img-circle( ng-src="{{conversation.members[ conversation.messages[0]._user ].avatarImage.url}}" alt="User Image")
                                        h4
                                            span(ng-repeat="user in conversation.members")
                                                |   {{user.profile.firstName}};
                                            small
                                                i.fa.fa-clock-o
                                                    |   {{conversation.messages[0].created | date : 'MM-dd h:mm a' }}

                                        p(style="margin-right: 15px")
                                            |   {{conversation.members[ conversation.messages[0]._user ].profile.firstName}}: {{conversation.messages[0].content}}
                        li.footer
                            a( ui-sref="conversations" ui-sref-opts="{reload: true}" )
                                |   See All Conversations
                li.dropdown.messages-menu(ng-if="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1")
                    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown")
                        i.fa.fa-envelope
                        span.label.label-success(ng-show="notifications.mail && notifications.mail.count")
                            |   {{notifications.mail.count}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   Messages
                            span( ng-show="notifications.mail && notifications.mail.messages && notifications.mail.messages.length")
                                |   ( {{notification.mail.messages.length}} )
                        li
                            ul.menu
                                li( ng-repeat="message in notifications.mail.messages")
                                    a( ui-sref="mail.view({id: message._id})" ui-sref-opts="{reload: true}")
                                        .pull-left
                                            img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                                        h4
                                            |   {{message.heading}}
                                            small
                                                i.fa.fa-clock-o
                                                    |   {{message.created}}
                                        p
                                            |   {{message.teaser}}
                        li.footer
                            a( ui-sref="mail.inbox" ui-sref-opts="{reload: true}")
                                |   See All Messages
                li.dropdown.messages-menu
                    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown")
                        i.fa.fa-bell
                        span.label.label-success(ng-show="notifications.all && notifications.all.length")
                            |   {{notifications.all.length}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   Notifications
                            span( ng-show="notifications.all && notifications.all.length")
                                |   ( {{notification.all.length}} )
                        li
                            ul.menu
                                li
                                    a( href="#")
                                        i.fa.fa-users.text-aqua
                                        |   5 new members joined today
                        li.footer
                            a( ui-sref="notifications" )
                                |   View All
                li.dropdown.tasks-menu(ng-if="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1 ")
                    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown")
                        i.fa.fa-tasks
                        span.label.label-success(ng-show="notifications.tasks && notifications.tasks.length")
                            |   {{notifications.tasks.length}}
                    ul.dropdown-menu
                        li.header
                            b
                                |   Tasks
                            span( ng-show="notifications.tasks && notifications.tasks.length")
                                |   ( {{notification.tasks.length}} )
                        li
                            ul.menu
                                li
                                    a( href="#")
                                        h3
                                            |   Design some buttons
                                            small.pull-right
                                                |   20%
                                        .progress.xs
                                            .progress-bar.progress-bar-aqua( style="width:20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="0")
                                                span.sr-only
                                                    |   20% Complete
                        li.footer
                            a( ui-sref="boards.list")
                                |   View all tasks
                li.dropdown.user.user-menu
                    a.dropdown-toggle( href="javascript:void(0)" data-toggle="dropdown")
                        i.fa.fa-user( style="font-size: 1.3em" ng-show="!user.avatarImage || !user.avatarImage.url")
                        img.user-image( src="{{user.avatarImage.url}}" ng-show="user.avatarImage && user.avatarImage.url")
                        span.hidden-xs
                            |   {{user.profile.firstName}}&nbsp;
                    ul.dropdown-menu
                        li.user-header
                            i.fa.fa-user-secret.text-gray( style="font-size: 5em" ng-show="!user.avatarImage || !user.avatarImage.url")
                            img.img-circle( src="{{user.avatarImage.url}}" ng-show="user.avatarImage && user.avatarImage.url")
                            p
                                |   {{user.profile.firstName}}&nbsp;{{user.profile.lastName}}
                                br
                                |   {{user.email}}
                                br
                                small
                                    |   Member since {{user.created | date: mediumDate}}


                        //li.user-body
                        //    .col-xs-4.text-center
                        //        a( href="#")
                        //            |   Followers
                        //    .col-xs-4.text-center
                        //        a( href="#")
                        //            |   Friends
                        //    .col-xs-4.text-center
                        //        a( href="#")
                        //            |   Sales
                        li.user-footer
                            .pull-left
                                a.btn.btn-default.btn-flat( ui-sref="profile" ui-sref-opts="{reload: true}")
                                    |   Profile
                            .pull-right
                                a.btn.btn-default.btn-flat( href="javascript: void(0)" ng-click="logout()" )
                                    |   Sign Out
                li.dropdown
                    a( href="javascript:void(0)" data-toggle="control-sidebar")
                        i.fa.fa-gears
