header.main-header
    nav.navbar.navbar-static-top
        .container
            .navbar-header
                a.navbar-brand(ui-sref="root" ui-sref-options="{reload: true}")
                    b
                        |   Admin
                    |   LTE
                button.navbar-toggle.collapsed( type="button" data-toggle="collapse" data-target="#navbar-collapse")
                    i.fa.fa-bars

            .collapse.navbar-collapse.pull-left( id="navbar-collapse")
                ul.nav.navbar-nav
                    li.dropdown
                        a( href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false")
                            |   Domains
                            span.caret
                        ul( class="dropdown-menu" role="menu")
                            li
                                a( href="#")
                                    |   Knowledge
                            li.divider
                            li.text-center
                                a( ui-sref="knowledge")
                                    small
                                        |   See All
                    li
                        a(ui-sref="questions")
                            |   Questions?
            .navbar-custom-menu
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a( ui-sref="login" )
                            |   Login
