section.content-header( ng-controller="SubHeaderController")
    h1
        |   {{subHeader.title}}
        small
            |   {{subHeader.subTitle}}
    ol.breadcrumb
        li(ng-repeat="breadcrumb in subHeader.breadcrumbs track by $index"
            ng-class="{'active':$last}")
            a( ui-sref="{{breadcrumb.url}}" ng-show="!$last"
                ui-sref-opts="{reload: true}")
                i.fa.fa-dashboard(ng-show="!$index")
                |   {{breadcrumb.value}}
            span(ng-show="$last")
                |   {{breadcrumb.value}}