
<aside ng-controller="LeftNavigationController" class="main-sidebar">
  <section class="sidebar">
    <div class="user-panel">
      <div style="overflow: hidden; min-height: 40px; max-width: 50px;" class="pull-left image">
        <h3 style="margin:0" ng-show="!user.avatarImage || !user.avatarImage.url" class="text-center"><i ng-class="{'text-green': !offline, 'text-red':offline}" class="fa fa-user-secret fa-2x"></i></h3><img src="{{user.avatarImage.url}}" alt="User Image" ng-show="user.avatarImage &amp;&amp; user.avatarImage.url" class="img-circle"/>
      </div>
      <div class="pull-left info">
        <p>  {{user.profile.firstName}} {{user.profile.lastName}}</p><a href="#"><i ng-class="{'text-green': !offline, 'text-red':offline}" ng-click="offline = !offline" class="fa fa-circle">  {{!offline ? 'Online' : 'Offline'}}</i></a>
      </div>
    </div>
    <div class="sidebar-form">
      <div class="input-group">
        <input type="text" name="q" placeholder="Search..." class="form-control"/><span class="input-group-btn">
          <button type="submit" class="btn btn-flat"><i class="fa fa-search"></i></button></span>
      </div>
    </div>
    <ul class="sidebar-menu">
      <li class="header">  MAIN NAVIGATION</li>
      <li><a href="#/"><i class="fa fa-dashboard"></i><span>  Dashboard</span></a></li>
      <li><a ui-sref="notifications"><i class="fa fa-bell"></i><span>  Notifications</span></a></li>
      <li ng-show="access.indexOf('sudo') !== -1"><a ui-sref="networks.list"><i class="fa fa-share-alt"></i><span>  Networks</span></a></li>
      <li><a ui-sref="articles.list"><i class="fa fa-book"></i><span>  Articles</span></a></li>
      <li><a ui-sref="boards.list"><i class="fa fa-tasks"></i><span>  Boards</span></a></li>
      <li><a ui-sref="users.list" ui-sref-opts="{reload: true}"><i class="fa fa-users"></i><span>  Users</span><small class="label pull-right bg-green">  New</small></a></li>
      <li><a href="#/admin/newsletter"><i class="fa fa-newspaper-o"></i><span>  Newsletters</span><small class="label pull-right bg-red">  3</small></a></li>
      <li><a href="#/questions"><i class="fa fa-question"></i><span>  Questions</span><small class="label pull-right bg-red">  3</small></a></li>
      <li><a ui-sref="calendar"><i class="fa fa-calendar"></i><span>  Calendar</span><small class="label pull-right bg-red">  3</small></a></li>
      <li><a ui-sref="conversations" ui-sref-opts="{reload: true}"><i class="fa fa-comments"></i><span>  Conversations</span><small class="label pull-right bg-red">  3</small></a></li>
      <li><a ui-sref="mail.inbox"><i class="fa fa-envelope"></i><span>  Mailbox</span><small class="label pull-right bg-yellow">  12</small></a></li>
      <!--li.treeview-->
      <!--    a( href="#")-->
      <!--        i.fa.fa-share-->
      <!--        span-->
      <!--            |   Multilevel-->
      <!--        small.fa.fa-angle-left.pull-right-->
      <!--    ul.treeview-menu-->
      <!--        li-->
      <!--            a( href="#")-->
      <!--                i.fa.fa-circle-o-->
      <!--                |   Level One-->
      <!--                i.fa.fa-angle-left.pull-right-->
      <!---->
      <!--            ul.treeview-menu-->
      <!--                li-->
      <!--                    a( href="#")-->
      <!--                        i.fa.fa-circle-o-->
      <!--                        |   Level Two-->
      <!--                        i.fa.fa-angle-left.pull-right-->
      <!--                    ul.treeview-menu-->
      <!--                        li-->
      <!--                            a( href="#")-->
      <!--                                i.fa.fa-circle-o-->
      <!--                                |   Level Three-->
      <!--                            a( href="#")-->
      <!--                                i.fa.fa-circle-o-->
      <!--                                |   Level Three
      li
          a( href="#")
              i.fa.fa-circle-o
              |   Level One
              i.fa.fa-angle-left.pull-right
      -->
    </ul>
  </section>
</aside>