.row
    div.col-md-4
        .box.box-primary
            .box-header
                h4.box-title
                    |   Recent Activity
            .box-body
                ul.control-sidebar-menu
                    li
                        a( href="javascript::;")
                            i.menu-icon.fa.fa-birthday-cake.bg-red
                            .menu-info
                                h4.control-sidebar-subheading
                                    |   Jose's Birthday
                                p
                                    |   Will be 25 on April 25th
                    li
                        a( href="javascript::;")
                            i.menu-icon.fa.fa-user.bg-yellow
                            .menu-info
                                h4.control-sidebar-subheading
                                    |   Will updated his profile
                                p
                                    |   New Phone +1(800)345-5678
                    li
                        a( href="javascript::;")
                            i.menu-icon.fa.fa-envelope-o.bg-light-blue
                            .menu-info
                                h4.control-sidebar-subheading
                                    |   Jose's Birthday
                                p
                                    |   Will be 25 on April 25th
                    li
                        a( href="javascript::;")
                            i.menu-icon.fa.fa-file-code-o.bg-green
                            .menu-info
                                h4.control-sidebar-subheading
                                    |   Cron Job 254 Executed
                                p
                                    |   Execution time 5 seconds
    div.col-md-4
        .box.box-primary
            .box-header
                h4.box-title
                    |   Tasks Progress
            .box-body
                ul.control-sidebar-menu
                    li
                        a( href="javascript::;")
                            h4.control-sidebar-subheading
                                |   Custom Template Design
                                span.label.label-success.pull-right
                                    |   70%
                            .progress.progress-xxs
                                .progress-bar.progress-bar-danger( style="width: 70%")
                    li
                        a( href="javascript::;")
                            h4.control-sidebar-subheading
                                |   Update Resume
                                span.label.label-success.pull-right
                                    |   95%
                            .progress.progress-xxs
                                .progress-bar.progress-bar-success( style="width: 95%")
                    li
                        a( href="javascript::;")
                            h4.control-sidebar-subheading
                                |   Back End Framework
                                span.label.label-success.pull-right
                                    |   68%
                            .progress.progress-xxs
                                .progress-bar.progress-bar-warning( style="width: 68%")
    div.col-md-4
        .box.box-primary
            .box-header
                h4.box-title
                    |   Upcoming Events
            .box-body
                ul.control-sidebar-menu
                    li
                        a( href="javascript::;")
                            i.menu-icon.fa.fa-calendar.bg-red
                            .menu-info
                                h4.control-sidebar-subheading
                                    |   Sprint 23
                                p
                                    |   Ends November 24, 2015
                    li
                        a( href="javascript::;")
                            i.menu-icon.fa.fa-file-code-o.bg-green
                            .menu-info
                                h4.control-sidebar-subheading
                                    |   Cron Job 254
                                p
                                    |   Next Tomorrow at 10am