.container
    .row
        .col-md-7.col-sm-12.text-left
            #intro-section
                h1
                    != lang.components['callToAction'].header
                p.transparent-text
                    != lang.components['callToAction'].body
                    a(href="/knowledge/information_technology")
                        | Read More.
                p.text-center
                    a( href="/questions" class="btn btn-primary" )
                        != lang.buttons.learnMore
        .col-md-5.col-sm-12.col-right
            #registration-form
                h4.text-center
                    != lang.components['callToAction'].formTitle
                form( name="newsletter" id="newsletter" )
                    .form-group
                        .alert.alert-danger(role="alert" id="error" style="display: none")
                            |   Please Try Again!
                        .alert.alert-success.text-center(role="alert" id="valid" style="display: none")
                            |   Thank You! We'll reach out soon.
                    .form-group.input-group-lg
                        input( type="text" name="name" class="form-control" placeholder=lang.forms.labels.name )
                    .form-group.input-group-lg
                        input( type="email" name="email" class="form-control" placeholder=lang.forms.labels.email )
                    .form-group.input-group-lg
                        select( name="domain" id="domain" class="form-control" )
                            option(value='' selected disabled)
                                != lang.forms.labels.selectDomain
                            option(value='Information Technology')
                                |   Information Technology
                            option(value='custom')
                                |   Other...
                    .form-group.input-group-lg(id="otherDomain" style="display: none")
                        input( type="text" name="other" class="form-control" placeholder=lang.forms.labels.tellUsDomain)
                        small
                            |   We are working on extending into other domain
                    .form-group.input-group-lg
                        button.btn.btn-primary.btn-block.btn-lg
                            != lang.buttons.getStarted