.modal.fade( id="mainModal")
    .modal-dialog
        .modal-content
            .modal-header
                button.close( type="button" data-dismiss="modal" aria-label="Close")
                    span( aria-hidden="true")
                        |   &times;
                h4.modal-title
                    |   Modal title

            .modal-body
                p
                    |   One fine body&hellip;
            .modal-footer
                button.btn.btn-default( type="button" data-dismiss="modal")
                    |   Close
                button.btn.btn-primary( type="button")
                    |   Save changes