doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope ng-app="baseApp")
    include ../common/_head
    body( style="overflow: hidden")
        include ../components/navigation/_adminUser

        iframe( src='#{cmsUrl}' width='100%' style='margin-top: -20px' seamless height="0"
            id='cms-iframe' )

        include ../common/_scriptApp

        script.
            $('.dropdown-submenu > a').submenupicker();

            var iframe = document.getElementById('cms-iframe');
            iframe.setAttribute('height', window.innerHeight - 50 );

            var resizeWatchdog;
            window.addEventListener('resize', function(){
                if( resizeWatchdog ){
                    clearTimeout( resizeWatchdog );
                }

                resizeWatchdog = setTimeout( function(){
                    iframe.setAttribute('height', window.innerHeight - 50 );
                }, 300);
            });