
<div id="dashboard" ng-controller="AdminDashboardController" class="row">
  <div class="col-xs-12">
    <div ng-if="!networks.length" class="h3 text-center">  You have not seen assigned<br/><br/>
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3"><a ui-sref="networks.list" ui-sref-opts="{reload: true}" class="btn btn-primary btn-block">  Networks</a></div>
      </div>
    </div>
    <div id="accordion" role="tablist" aria-multiselectable="true" ng-if="networks.length" class="panel-group">
      <div class="panel panel-default">
        <div role="tab" id="heading{{$index}}" ng-repeat-start="network in networks track by $index" style="padding: 0" class="panel-heading">
          <h4 class="panel-title"><i style="padding: 10px 15px" class="fa fa-mortar-board pull-right"></i><a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{network._id}}" aria-expanded="{{!$index ? 'true':'false'}}" aria-controls="{{network._id}}" style="padding: 10px 15px;" class="btn-block"><i ng-if="network.isPrivate" class="fa fa-lock text-danger"></i><i ng-if="network.isProtected" class="fa fa-lock text-warning"></i>  {{network.name}}</a></h4>
        </div>
        <div id="{{network._id}}" role="tabpanel" aria-labelledby="heading{{$index}}" ng-repeat-end="" ng-class="{in: !$index}" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="col-md-4 col-xs-12">
              <div class="info-box"><span class="info-box-icon bg-fuchsia"><i class="fa fa-line-chart"></i></span>
                <div class="info-box-content"><span class="info-box-text">  Logins</span><span class="info-box-number">  90</span>
                  <div class="progress">
                    <div style="width: 20%" class="progress-bar bg-aqua"></div>
                  </div><span class="progress-description"><i class="fa fa-caret-up text-green">  20%</i>  last<b>  30 Days</b></span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="info-box"><span class="info-box-icon bg-red"><i class="ion ion-clock"></i></span>
                <div class="info-box-content"><span class="info-box-text">  Bounce Rate</span><span class="info-box-number">  10<small>%</small></span>
                  <div class="progress">
                    <div style="width: 4%" class="progress-bar bg-green"></div>
                  </div><span class="progress-description"><i class="fa fa-caret-down text-red">  4%</i>  last<b>  30 Days</b></span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="info-box"><span class="info-box-icon bg-purple"><i class="fa fa-book"></i></span>
                <div class="info-box-content"><span class="info-box-text">  Articles</span><span class="info-box-number">  14</span>
                  <div class="progress">
                    <div style="width: 10%" class="progress-bar bg-red"></div>
                  </div><span class="progress-description"><i class="fa fa-caret-up text-green">  10%</i>  last<b>  30 Days</b></span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="small-box bg-aqua">
                <div class="inner">
                  <h3>  10 / 3</h3>
                  <p>  Tasks / Boards</p>
                </div>
                <div class="icon">
                  <div class="fa fa-tasks"></div>
                </div><a href="#" class="small-box-footer">  View<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="small-box bg-green">
                <div class="inner">
                  <h3>  4</h3>
                  <p>  Members</p>
                </div>
                <div class="icon">
                  <div class="i fa fa-users"></div>
                </div><a href="#" class="small-box-footer">  View<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <div class="col-md-4 col-xs-12">
              <div class="small-box bg-yellow">
                <div class="inner">
                  <h3>  4</h3>
                  <p>  Events</p>
                </div>
                <div class="icon">
                  <div class="fa fa-calendar"></div>
                </div><a href="#" class="small-box-footer">  View<i class="fa fa-arrow-circle-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>