
<div>
  <div class="row">
    <div class="col-xs-12"><a ui-sref="users.list" ui-sref-opts="{reload: true}" ng-show="!myProfile" style="position: absolute;right: 15px;top: -65px; width: 120px;" class="btn btn-success"><i class="fa fa-users"></i>  Users</a></div>
  </div>
  <div class="row">
    <div class="col-md-6"><b>  First Name:</b><br/>  {{current.profile.firstName}}</div>
    <div class="col-md-6"><b>  Last Name:</b><br/>  {{current.profile.lastName}}</div>
  </div>
  <div class="row">
    <div class="col-md-6"><b>  Email:</b><br/>  {{current.email}}</div>
    <div ng-if="isOwn" class="col-md-6"><b>  Access:</b><br/>  {{current.access}}</div>
    <div ng-if="currentUser.access.indexOf('sudo') !== -1 &amp;&amp; !isOwn" class="col-md-6"><b>  Access:</b><br/>  {{current.access}}
      <div ng-if="current.access.indexOf('admin') === -1" ng-click="makeAdmin(current._id)" class="btn btn-default btn-block">  Make Admin</div>
      <div ng-if="current.access.indexOf('admin') !== -1" ng-click="removeAdmin(current._id)" class="btn btn-warning btn-block">  Remove Admin</div>
    </div>
  </div>
</div>