ul.sharebar
    li.facebook
        i.fa.fa-facebook
    li.twitter
        i.fa.fa-twitter
    li.linkedin
        i.fa.fa-linkedin
    li.print.bg-purple
        i.fa.fa-print
    li.email.bg-fuchsia
        i.fa.fa-envelope-o
