.content-wrapper
    div(ng-show="['authorized','admin'].indexOf(access) !== -1")
        heading

    ng-switch( on="access")
        section.content(ng-switch-when="admin")
            div( ng-transclude )
        section.content(ng-switch-when="authorized")
            div( ng-transclude )
        section.content(ng-switch-when="any")
            .container(ng-transclude)