.content-wrapper
    div(ng-show="access.indexOf('any') === -1")
        heading

    ng-switch( on="access.indexOf('any')")
        section.content(ng-switch-when="-1")
            div( ng-transclude )
        section.content(ng-switch-default)
            .container(ng-transclude)