.row(render-video-bg )
.row.login(ng-controller="PagesCtrl")
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1.col-xs-12.xs-no-padding
        h3.text-white
            | Contact Us
        .panel.panel-default
            .panel-body
                feedback-box(success="success")
                form.form-horizontal(ng-submit="contactUs()")
                    .form-group
                        label.col-sm-2.control-label
                            |  Name
                            span.text-danger
                                |   *
                        .col-sm-10
                            .row
                                .col-sm-6.input-group-lg
                                    input.form-control( placeholder="First Name" ng-model="f.firstName")
                                .col-sm-6.input-group-lg
                                    input.form-control( placeholder="Last Name" ng-model="f.lastName")
                    .form-group
                        label.col-sm-2.control-label
                            |  Email
                            span.text-danger
                                |   *
                        .col-sm-10.input-group-lg
                            input.form-control( type="email" placeholder="Email" ng-model='f.email')
                    .form-group
                        label.col-sm-2.control-label
                            |  Message
                            span.text-danger
                                |   *
                        .col-sm-10.input-group-lg
                            textarea.form-control( placeholder="How can we help you?" style="height: 100px" ng-model='f.message')
                    .form-group
                        .col-sm-offset-2.col-sm-10
                            button.btn.btn-primary.btn-lg.btn-block( type="submit"
                                ng-disabled='!f.firstName || !f.lastName || !f.email || !f.message')
                                |  Submit