
<div id="articlesList" class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <ul style="list-style-type: none; padding: 0; margin: 0">
      <li ng-repeat="embedded in hardware track by $index"><a ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}">
          <figure><img ng-src="{{article.coverImage.url}}"/>
            <figcaption class="credit"></figcaption>
          </figure>
          <h3>{{embedded.name}}</h3></a>
        <p class="bg-green label pull-left">  {{embedded.owner.profile.firstName}} {{embedded.owner.profile.lastName}}</p>
        <p class="bg-yellow label pull-right hidden-sm hidden-xs">  {{embedded.created | date:'medium'}}</p>
        <p class="bg-yellow label pull-right hidden-md hidden-lg">  {{embedded.created | date}}</p><br/><br class="hidden-xs hidden-sm"/>
        <div style="min-height: 300px; background: red; " class="article-content">
          <p ng-repeat="msg in embedded.messages track by $index">{{msg}}</p>
        </div>
        <div class="form-group">
          <form ng-submit="sendMessage()">
            <div class="input-group">
              <input type="text" name="message" placeholder="Type Message ..." ng-model="newMessage" class="form-control"/><span class="input-group-btn">
                <button type="submit" class="btn btn-primary btn-flat">  Send</button></span>
            </div>
          </form>
        </div>
        <div ng-show="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1" class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-6"><a ng-click="editEmbedded( embedded );" class="btn btn-default btn-block"><i class="fa fa-edit"></i>  &nbsp;Edit</a></div>
              <div class="col-xs-6"><a ng-click="remove( embedded._id );" class="btn btn-block btn-danger"><i class="fa fa-trash"></i>  &nbsp;Remove</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>