.row( id="network-detail")
    .col-xs-2.col-sm-2.col-md-2.col-lg-2(style="position: absolute; margin-top: -64px; right: 0px")
        a.btn.btn-primary.btn-block.pull-right(ng-click="newNetwork()" ng-if="access.indexOf('sudo') !== -1")
            i.fa.fa-plus
            |   Network

.col-xs-12(ng-if="!hasNetworks")
    |   No Networks
.col-xs-12(ng-if="hasNetworks").hidden-xs
    .row
        .col-xs-12
            .col-sm-3.col-md-2.col-lg-2.no-padding
                strong
                    | Name
            .col-sm-2.col-md-2.col-lg-2.no-padding
                strong
                    | Members
            .col-sm-2.col-md-2.col-lg-2.no-padding
                strong
                    | Articles
            .col-sm-2.col-md-2.col-lg-2.no-padding
                strong
                    | Boards
            .col-sm-2.col-md-2.col-lg-2.no-padding
                strong
                    | Events
            .col-sm-1.col-md-2.col-lg-1.no-padding
                strong
                    | Actions
.row
    .col-xs-12
        .list-group
            .list-group-item( ng-repeat="network in networks track by $index" ui-sref="networks.detail({id: network._id})" ui-sref-opts="{reload: true}" style="cursor:pointer")
                .col-xs-12.col-sm-3.col-md-2.no-padding
                    strong
                        span.visible-xs.pull-left
                            |   Network:&nbsp;
                        i.fa.fa-lock.text-danger(ng-if="network.isPrivate")
                        i.fa.fa-lock.text-warning(ng-if="network.isProtected")
                        | {{network.name}}
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.no-padding
                    span.visible-xs.pull-left
                        |   Members:&nbsp;
                    span
                        | {{members.length || 0}}
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.no-padding
                    span.visible-xs.pull-left
                        |   Articles:&nbsp;
                    span
                        |   {{articles.length || 0}}
                        br
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.no-padding
                    span.visible-xs.pull-left
                        |   Boards:&nbsp;
                    span
                        |   {{boards.length || 0}}
                        br
                .col-xs-6.col-sm-2.col-md-2.col-lg-2.no-padding
                    span.visible-xs.pull-left
                        |   Events:&nbsp;
                    span
                        |   {{articles.length || 'None'}}
                        br
                .col-xs-12.col-sm-1.col-md-2.col-lg-2.no-padding
                    a.btn.btn-primary.btn-block.hidden-xs( href-"javascript::;" ng-click="requestAdmin(network._id); $event.stopPropagation(); " ng-if="access.indexOf('admin') !== -1 && network.members[ currentUser._id ]")
                        i.fa.fa-mortar-board
                    a.btn.btn-success.btn-block( href-"javascript::;" ng-click="join(network._id); $event.stopPropagation(); " ng-if="access.indexOf('authorized') !== -1 && !network.members[ currentUser._id ]")
                        i.fa.fa-plus
                    a.btn.btn-warning.btn-block( href-"javascript::;" ng-click="leave(network._id); $event.stopPropagation(); " ng-if="access.indexOf('authorized') !== -1 && network.members[ currentUser._id ]")
                        i.fa.fa-minus
                    a.btn.btn-default.btn-block.hidden-xs( ng-click="editNetwork( network ); $event.stopPropagation()"
                        ng-if="network.owner === currentUser._id || access.indexOf('sudo') !== -1")
                        i.fa.fa-edit
                    a.btn.btn-danger.btn-block.hidden-xs( ng-click="remove( network._id ); $event.stopPropagation()"
                        ng-if="access.indexOf('sudo') !== -1")
                        i.fa.fa-trash

                .clearfix

modal-window-view( modal-id="modalNetworkForm" title="Network")
    network-form( edit="networkForm" )

//
    .row(style="margin-top: 50px;" ng-show="access.indexOf('sudo') !== -1 || access.indexOf('admin') !== -1")
        .col-xs-12.col-sm-4.col-md-3.col-lg-2
            a.btn.btn-primary(ui-sref="networks.new" ui-sref-opts="{reload: true}")
                i.fa.fa-plus
                |   Add Network
