#network-detail {
  #cover-photo {
    overflow: hidden;
    margin-bottom: 20px;
    img {
      width: 100%;
      margin-top: -230px;
    }
  }
  #tab-sections {
    div.row {
      div.tabs-nav {
        text-align: center;
        ul.nav-pills {
          display: inline-block;
          div {
            text-align: left;
          }
        }
      }
      div.box-body {
        min-height: 300px;
      }
    }
  }
}