/* Empty. Add your own CSS if you like */

input.search {
  width: 80%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin: 7px auto;
  padding: 0 5px;
  text-align: center;
}
a {
  text-decoration: none;
}
body.tabbed-nav .bar {
  height: 64px;
}
body.tabbed-nav .bar .title {
  height: 63px;
}
body.tabbed-nav .bar .tabs {
  background: transparent;
  height: 21px;
  line-height: 18px;
  top: 0px;
  /*bottom: auto;*/
  /*border: 1px solid #e3e3e3 !important;*/
  padding-top: 0;
}
body.tabbed-nav .bar .tabs .tab-item {
  /*border-right: 1px solid #e3e3e3;*/
}
body.tabbed-nav .scroll-content {
  margin-top: 21px;
}
.network.item:first-of-type {
  border-top: none;
}
.modal .item:first-of-type {
  border-top: 1px solid #ddd;
}
.modal .tab-nav.tabs {
  background: transparent;
}
.modal .tab-nav.tabs .tab-item.tab-item-active {
  border: 1px solid #ddd;
  margin-top: -5px;
}
.modal .tab-nav.tabs .icon {
  float: left;
}

.left, .right {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.right img {
  float: right;
}
.right i {
  right: 15px;
  left: auto;
}
.right .direct-chat-text {
  margin: 5px 50px 0 0;
  background: #387ef5;
  border-color: #387ef5;
  color: #fff;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.direct-chat-info {
  height: 20px;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  color: #444444;
  white-space: normal !important;
}
.direct-chat.modal .item {
  border: none !important;
  white-space: initial;
  padding-bottom: 0;
  padding-top: 0;
}

.bar.bar-header {
  border-bottom: 1px solid #ddd;
}
.item-icon-label {
  position: absolute;
  left: 15px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
}
.network-detail {
  margin: 0;
  line-height: 43px;
  font-size: 21pt;
}

.bg-faces {
  background: url('../img/bg/faces.jpg');
  background-size: cover;
  min-height: 200px;
}
.bg-faces div {
  position: relative;
}
#view {
  position: absolute; bottom: 5%; width: 90%; left: 5%; text-align: center;
}
.slider {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  height: 100%;
}
.slider-slide {
  background: #fff;
}
.slidingTabs {
  display: none;
}
.footer-primary .button {
  float: right;
  min-height: 25px;
  line-height: 23px;
  font-size: 13px !important;
  min-height: 10px;
}
.button.button-stable {
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.6);
  border-color: #e3e3e3;
  background-color: #f8f8f8;
  border-bottom: 5px solid #e3e3e3;
  background: linear-gradient(#f8f8f8, #f9f9f9, #e3e3e3);
}
.button.button-stable.activated {
  border-color: #d3d3d3;
  background-color: #f8f8f8;
}
.button.button-positive{
  border-color: #3B7EAD;
  background-color: #428CC0;
  border-radius: 10px;
  color: #fff;
  border-bottom: 5px solid #3B7EAD;
  box-shadow: 0px 2px 3px rgba(0,0,0,.6);
  background: linear-gradient(#428CC0, #5996CA, #3B7EAD);
}
.button.button-positive.activated {
  border-color: #3B7EAD;
  background: #428CC0;
}
#offline {
  background: url('../img/offline/Higher-Education.jpg');
  background-size: cover;
  background-position: center center;
}
#offline, #offline .scroll {
  height: 100%;
}
#offline h3 {
  position: absolute;
  bottom: 75%;
  width: 100%;
  left: 0%;
  text-align: center;
  background: rgba(0,0,0,.7);
  color: #fff;
  padding: 10px 0;
}
