/* Empty. Add your own CSS if you like */

input.search {
  width: 80%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin: 7px auto;
  padding: 0 5px;
  text-align: center;
}
a {
  text-decoration: none;
}
body.tabbed-nav .bar {
  height: 64px;
}
body.tabbed-nav .bar .title {
  height: 63px;
}
body.tabbed-nav .bar .tabs {
  background: transparent;
  height: 21px;
  line-height: 18px;
  top: 0px;
  /*bottom: auto;*/
  /*border: 1px solid #e3e3e3 !important;*/
  padding-top: 0;
}
body.tabbed-nav .bar .tabs .tab-item {
  /*border-right: 1px solid #e3e3e3;*/
}
body.tabbed-nav .scroll-content {
  margin-top: 21px;
}
.network.item:first-of-type {
  border-top: none;
}
.modal .item:first-of-type {
  border-top: 1px solid #ddd;
}
.modal .tab-nav.tabs {
  background: transparent;
}
.modal .tab-nav.tabs .tab-item.tab-item-active {
  border: 1px solid #ddd;
  margin-top: -5px;
}
.modal .tab-nav.tabs .icon {
  float: left;
}

.left, .right {
  display: block;
  margin-bottom: 2px;
  font-size: 12px;
}
.right img {
  float: right;
}
.right i {
  right: 15px;
  left: auto;
}
.right .direct-chat-text {
  margin: 5px 50px 0 0;
  background: #387ef5;
  border-color: #387ef5;
  color: #fff;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.direct-chat-info {
  height: 20px;
}
.direct-chat-img {
  border-radius: 50%;
  float: left;
  width: 40px;
  height: 40px;
}
.direct-chat-text {
  border-radius: 5px;
  position: relative;
  padding: 5px 10px;
  background: #d2d6de;
  border: 1px solid #d2d6de;
  margin: 5px 0 0 50px;
  color: #444444;
  white-space: normal !important;
}
.direct-chat.modal .item {
  border: none !important;
  white-space: initial;
  padding-bottom: 0;
  padding-top: 0;
}

.bar.bar-header {
  border-bottom: 1px solid #ddd;
}
.item-icon-label {
  position: absolute;
  left: 15px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  text-align: center;
}
.network-detail {
  margin: 0;
  line-height: 43px;
  font-size: 21pt;
}

.bg-faces {
  background: url('../img/bg/faces.jpg');
  background-size: cover;
  min-height: 200px;
}
.bg-faces div {
  position: relative;
}
#view {
  position: absolute; bottom: 5%; width: 90%; left: 5%; text-align: center;
}
.slider {
  border-color: #b2b2b2;
  background-color: #f8f8f8;
  height: 100%;
}
.slider-slide {
  background: #fff;
}
.slidingTabs {
  display: none;
}
.footer-primary .button {
  float: right;
  min-height: 25px;
  line-height: 23px;
  font-size: 13px !important;
  min-height: 10px;
}
.button.button-stable {
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0,0,0,.6);
  border-color: #e3e3e3;
  background-color: #f8f8f8;
  border-bottom: 5px solid #e3e3e3;
  background: linear-gradient(#f8f8f8, #f9f9f9, #e3e3e3);
}
.button.button-stable.activated {
  border-color: #d3d3d3;
  background-color: #f8f8f8;
}
.button.button-positive{
  border-color: #3B7EAD;
  background-color: #428CC0;
  border-radius: 10px;
  color: #fff;
  border-bottom: 5px solid #3B7EAD;
  box-shadow: 0px 2px 3px rgba(0,0,0,.6);
  background: linear-gradient(#428CC0, #5996CA, #3B7EAD);
}
.button.button-positive.activated {
  border-color: #3B7EAD;
  background: #428CC0;
}
#offline {
  background: url('../img/offline/Higher-Education.jpg');
  background-size: cover;
  background-position: center center;
}
#offline, #offline .scroll {
  height: 100%;
}
#offline h3 {
  position: absolute;
  bottom: 75%;
  width: 100%;
  left: 0%;
  text-align: center;
  background: rgba(0,0,0,.7);
  color: #fff;
  padding: 10px 0;
}
.card-row {
  margin: 20px auto;
}
.card-row span {
  width: 48px;
  height: 30px;
  margin-right: 3px;
  background-repeat: no-repeat;
  display: inline-block;
  background-size: contain;
}
.visa {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAeCAYAAABqpJ3BAAAABHNCSVQICAgIfAhkiAAABLhJREFUWIXtmGtMFGcUhp9vdhaWBceyuCjFCwouIBhQ0agYMYKphraoMbZVY9T+0NQ/pbZpE2uTpknTJk1JWnszsdVqrVbTRpNeTDCtqRULoiAW2S1euClQdhfXZYHdYac/djtgtMVWE6Dx/TVzvnO+ed9z+WYyAsDhcCQCJZqm5WuaZmEYQwjhEkKcAIptNluLqKqqSjSbzTVxcXExiqIYZVkeao7/CFVV8Xg8AafT6fX5fNNls9lcEhcXN8pisQxv5mHIsozFYjECMUCJFAwGCxRFGRHkB0JRFGMwGCyQgNjh3jZ3Q5hzrDTURO4XDwUMNR4KGGrc9fhR/6hFddUj0EIGYcAwJh3Zkqz7+Lr9HC+9CEBUVARLCzL59vgF/H6VmOhIlizOACAY1Cgrv0xVTRNt7TcxGCTiraNY/8x8os2R+n7XGju48FszfWoQRYkiPy/9vwuQrdMwRMfT6zhG17ldEPAhRcQQu+EUiFDRDn1dwVsl3wGweeMi5s1J5oXthwBYON/GksUZ3PL2sH7Lbmrrrt/xjFVFOboAd6ePFWs/wNftByDCKFN5cgcREYMf73/rIcxjMGVv4tV9PWzOKsPSXU2f+woGS0pYQDkARtnAuqfm4qhv02OTJ1sBeOf94zr5x/IzKVg0Db9f5Vx1A6OVKN1/38EynTyAP6BSU9vCrOxJgwoYdAamZmZQtHMCbcaZqB2XADhz9gpXGzoAKFyaRfyYUTjqW/tjkscCUHWhUbctL5zBk8uyWFU0izdfW6lnt6cnwIEjZwCYN7u/Rc8PiL0vAXm5NvqCgqd3JdJwtRmAg0fK9fWNa+YDYB9QgalT4gGYmdWfwee27eelHYdpvu6+bf8jRytxd/oAeKV4mV6Zc9UND0ZAmi2BsVaFXhVKjgbocHop/akWCGUszZYAoFdACEFyWMDLzy9j9YrZCCHQNI1j31fx+Or3OP3rZSA04HsO/AJAVuYE0mwJZE+fCMD56gdUAYC83FQAfqxo59P9pwiofQBsWrdA9/n9cqgCiQmP6MNpMhl5Y/tyDu/ZQk52EgDdPX5ef/sYAD+cuEhTiwuAuTlTqHPcYGy8AoCrs4trjc4HJGCBDQBN09j75WkAkpOsLMwN2d2dXXi7egGwpYwLEw3o8dMzxvPhu+sQQgDg84UGdvfnP+s+n+w5SdGanXz1TYVuu5c2uqfP0HlzUjDKBgJqH2o4+xvW5urrN1pv6te2lNAAb9r6GQAZ6Y9ilA2UV15F00LvlcV5aZw5e4WLl1oAiImOJDLSqO/hcnehaRrnqxtZ+cTM+xcQbY4gZ0YSZRWh3rXERrO8cIa+3treLyA1XAFHfSvert47sliwaBrbtxWy9cUvdNvej58lMz1Rv1+1/iNqapuprG7A6fJiMhlve+kNhKirq9NSU1MHFdHh9OJyewFQFDPjwr0K4LnVQ2tbJwATx8dhMhlpanHT0NSB19uLpmmMHh3FlKR4Pe6voTfIBpKTrLc9q7Xdg8fjQwjB5ElWJEkgSeIOTna7/d4FDEfY7faR/zH3UMBQ438hwK2q6lDz+NcIc3ZLkiSVejyeEafA4/EEJEkqlX0+XzFQAIy4X4tAsYCR/XP3T6N8y7XxxywcAAAAAElFTkSuQmCC) #fff;
}
.mastercard {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAeCAYAAABqpJ3BAAAABHNCSVQICAgIfAhkiAAABOFJREFUWIXVmF1MU2cYx3/ncA4t/dRWPhRECU07DKhoYIuZJFomQXAsuzHZsi3Ri+GyZHGZyZxuu+BCb4xemDi3ZDeDRU0Mm86wRYmZeuEEHImT0VKCfPnBV7GlhdLS7uLoxoXA230J/+RcnPR53vf3vH3e532fIwF4vd5s4HgikXAnEgkbi1iSJI1JktQM7Hc6nYNSe3t7tsFguGO3200Wi0VVFOV5M86rWCxGIBCIjo6OToTD4SLFYDAct9vtZpvNtrjJn0hRFGw2mwqYgONyPB4vt1gsSwJ+tiwWixqPx8tlYPliT5tn6Qnzcvl5g/xT/e2lj42M4G9sJHj5MpHeXuLBIEp6OmmFhVh37sRSWYkkz1qf+AwM/AR9P4C/AyaHQDWDeQ1kvwJrX4O09KQ5pM7OzoTL5RJ2iEciPKirY+jECeKh0Jx2OqeTnGPHWFZdDb0X4eYBeOyZe2DFCIUfwObPIEUnxOLxeJILIPrwIb6aGsK3bgnZI0m4vngDEw1i9gDpJVDxPRhWLmjq8XgQ3gMzoRC+qipxeCDFomfoqwYeNQu7wHALNFVBdO5/d7aEAxg8eJDw7dvCHMaS9eS9NYn9JdBnQiIu7Aqjv8Ktj4VMhVIo0tPDb04nxGLCDKkZOlRj5M93XQbk7RF2B0mB3V6w5M1p4vF4xKrQ2JkzyHo9OoeDKY+H1NxcmJkh4vM9G35tLo53+p49WKoVbBtg/HeYGp570uUF0H0Gig/OyyYUQPDqVZbV1JBXX493xw4cFy4w3tiI//x5FJuNsbNnSSsoIK24GOJxrNXVdL//NtZdrzPZ3kZ8IoiavZoMdwrm2gYIdMO9Rgg/AFmnldYVm2CiX1vxmWnYehquv/vvBBAdGMDidjPd349t925iw8NMeb3onU5MZWWYt23DWl3Ng7o6dA4Hkiyz+lQDU11dZHz0KWP19azYu5eZ/lboqodfDoB+Bbj2wJoaWLMLVlfA/Z/BmK1N6r8LoYEF2YQ3cVphIaHWVsxuNxGfjxSTCWtVFXqXi6muLibv3sVYUoIuP5+hkycxl5dj2LCB6P376NetY/DwYe0wG2nTBszaqoGb14IpF7rPgmKAts+hv0kLQEBCAag5OaQVFRFuayPQ1IQuP58Uu53Y6Kj2e2YmweZmDKWlqKtWYdi4kemeHkKtrfjPnUNfUEC4pYVY549QegS2fgk5FTDRBymp2jPcoqVW0Yfwwl7ttDbmLMgmlEKW7dvpra1lqqODRCzG46YmJm7cwLRlC7HxcSRZRl25Em9ZGUpmJgATTV9jfNlNtKeL4aM+CHaiDt6B6/dAVmCoRcv7jtPau78DfN9C5hbtDBjv0IJZQP9ZGc19z4Fe/1eVUq2gzxJ2Fy6jQimky8sjfd++JGaHvlPdPLoMj65oT2wiKXdYVzsv/FMJb+LsI0cwbNokDpBIoOZvxroect8Ek0PcFXsxlB4VMhUOIMVoxHHpEobSUmGOke/aiPAiqcuEXbTLXOUlUI1C5kk1NGpWFq5r18g6dAjZOP8EOqeT/IsXyfnmJlRcAOsCN17FCBs/gVevC91EnyrpfuCpZjc00319zAQC/3tDk3Q/sNiUVD+wWCUD/lgS9X2x6AmzX5Zl+UogEFhyEQQCgagsy1eUcDi8HygHltynRWC/BEv74+4fAxroUkHf2nEAAAAASUVORK5CYII=);
}
.amex {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAeCAYAAABqpJ3BAAAABHNCSVQICAgIfAhkiAAAB0xJREFUWIXVl3lwldUZxn/fd/eb5SY3+w5ZIQsR2QJCgixFglSRkhlsHHAYrWhFS6lTcJjWOkxFrE4AS6EFKtgysoqUNSDEGvYQkJAEsidkY7lJbnLvzd2+r39c5mIURdI/As9/5znvec/znO+c7z1HAFC/vXORJDNPEPDjIYcsYxegThLkje4Vc/YK4rLt81WCuHmghfUHkswLogLx6YEW0m/ILBJB1gy0jn5DlBLEgdbw/0HUPuIG4JE3oPx2Q6MUMWhUALgk2RMgCgC4ZZnbVgd+GiU6peInT9DtcKEUBe8Yq9ON1ekiUKdGIQh9Ym0ud5/cVqcbvcrTdkoSHTbnjxtYlZvJM6mR9NhdhPlq6XY4cUsydpdEpL+OkWsK2Zk/Dr1KgUuSiQvQ09hlRZbv5ogx6GnqsgIgCBCgVSMj45JklKKAwy3hp1bRYXMgigJGnZoWsw2DVkW33YVRr+aWxU6wj4abFjtGnRq7201Dh5WJG078sIEgvZq5mTEMX12Iyergj1PSWPREEmM+Psql1i5WPpXBtrlZqBQiQz48hCxD+eJpZBYcIUSvQXNn5Xblj+PxNYUMCtTjlmSazTbWPTuCwup2wn21PJcexZx/nUIAxsUFkxTsy7rTNQw2+lDy+lTWnqxiyYFvGB1tpOhXE3nnWDmlLZ0snTjknl/YewZeGZPAwattCMCKaRmsPVWN+842mpIYykdfV5ES4sfHJ6uZnBDaJ8lvs1NY+8xw1s16HJXCsy2OvTSR4oWTSA31p8bU441d8WUFeRkxXF82k81zRrHxXB1/nz2SWpOFY9XtAGSEG6jvsLDhbO09Rd/TwOTEUFYXV5EY5IvTLdHYaWXPlWYAZqVFo1MpWF1cxdbSBn4zPrlPks8uNVFQXMVfT9V4uZFrCkn76DBXb3WTlxHj5W9a7MQF6gH45EI9TknCZHWQFORLQXEVAIE6FR/MyGT5kTLaunt/1IB3C51quM3l9i5++VgslTfNjI0NoqD4GgAKUeCN8Um8ue8iP0sKIz3c0CfJzKERJId4rlHSnQNR87tcZCD/szNsOl/njc2KDWLT+Xr8tSrWFFfzRFwwpS0dDIsw8GlpIzEGj7m8YTFsvdDAlgv1TE0K/0EDCsWEvOcFQUgO89UwJyOGF4bHISPw5vgkzjZ1EGXQkT04hNyUCGpNFpZkpxDqq6XmtoWfp0bS0GmluauXsjYzZW1mZgyJoKnTxnPpUewuayY2QE+Yn5ZQHy1xgXp+PTYJm8vFmSYT4X5aNv1iFK3dvSzMSkSSZMx2J5kRgYyICiQnPoTrXTZGRxsZFOjDP0vq+4iXwSmolu3YJwrC02/lpJAY5MunpQ18VXeLD3KH4a9VeYNrTRbijT40d9kI8tGgVd6/hJxuvE1WbFAfrupWD2qFSJRBh1IUqDVZeO9EJbPSopiecnel60wW3LJMYpCv54vetrCyqLJPLgmsXgP3VfMQQgKr8v5hHjwZH8L7uZn37Ft3upoWcy9/mpqG8K3i5HRLlN8wkx5mQHGnIMp3CmKHzUFS8PefH5U3zMQF+qBT3S1ol1o7SQ31R6UQOXfdxKufX/D2/WQDBq0au8vNvO1n+/AR/jq2zc1CKQos2HmeFrONbrunYipEkTExRqYlhzNx/XHvmACdmuWThvJFeTP/vtjo5ZdPTqXb7mLl5yXYnG4Ajr6UQ2FVOyuLKpEk2cs/sAEAm9NNW08vZ1+b4uWWHLjE7K0n8dMosbnczBsxiL+dqWF3/jjMdifZ64+TPTiEGpOF/fPHExug5/UvStlcUk+kn47MyADenZoOQIiPhqEfHmJhVgKz06MBKGszs+NyE4ULcjDq1Zy7buLl3SX9MwBgcbgZVnAEgFezEtiSN5rEVQdxSRLXlkxnf2Ur7d29rDhegcnqACA5xHMQlx66jFIUKL9hZmf+OPZXtLK7rJm95S0AbMkbzZyMaN47Ucmqr66SFurPP2aPIjXUnykbi/BTK0n+zrZ7YAO+aiUNv58BeP75r+wpITZAj1IUeGPfRaYkhuGvVTE9ORyVQqRg5mMY9WoA3p40lEh/HX8ovMLusutoFAryh8dSMHM4AqBWiExOCGXpk0Np7LSSs/44dR09HF6Qjc3p5pOSet79sqL/BhSigFuWif7zf7xcvNGHAy9OQJYhd/N/udLeRbivlpz4EF7bW8qGs7Vsf34sOpWCtDADlTfMZA8O5pu2LqINKnZdaGZXmafi/2VGJquLq2jotKJXKXg2LYpAnZrEVQcBCNCqmJYczuFrbQ9uoNflJt7oS8Xip77X987RKwgIHHhxgpdr6LSyr6IFo05Nj8PlHdfQaWX+iMHeuMXfuZbkpkQAnvNW1t7VZ84bPb3sudLcx8AjXwce+RfZo21AkmVRQGgZaB39hYjcKspIRQMtpL+QRbFIAAT10h3rZISXRRHhvqMeEshIXzvsvbPvCn5rW6RCKaYgiP4DqOv+cMt2hUSd4/28qwD/A7TLzBr775WFAAAAAElFTkSuQmCC) #fff;
}
.discover {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAeCAYAAABqpJ3BAAAABHNCSVQICAgIfAhkiAAABMNJREFUWIXVWF1oU2cYfnJ6WrTYbE2oBEpko9JQaosQsChjggqhiobdWC+qd2V/udCOXUmkdlUYvciuKsxhV3B0qx1tJrgJrZqua1eKmmKWpkbr2lg12BobNSfJ+c55djEX7FrFn2KTB76L877v937PA8/Hd3gNAHD9+vVSAB6S20makMUwGAwPDAZDP4BD5eXlMwa/319aWFh4zWw2rzEajfmyLK80xxdCCIF4PK7Ozc09TiQSVXJhYaHHbDYXmUym7Gb+FLIsw2Qy5QNYA8Aj6bq+w2g05gT5Z2E0GvN1Xd8hASjOdtsshaeci6WVJvKmyHkBi7xz9OhRRCIRrFq1Cna7Hfv374csy3C73XC5XFAUBS0tLYhGo6ivr0ddXR1mZ2fR2tqKYDCIyspKHD58GEVFRdBu/QF1+FsgEYNU9iHyP3Dh+9OdMJlMcDqdAIBTp05h3bp1GBgYwJ07dwAAJSUlOH78OBoaGgAAxcXFOHDgAKqqqhYrCIVCfBbV1dU8efIke3t76XQ6uWfPHpKkzWbjxMQEHQ4HW1tbOTw8zNHRUSqKQpvNxubmZgYCAXo8HobDYYrpUT5pfp9Pmt/LrOSZz3j27Flu3LiRJJlOp2mxWDg9Pc2Kigq2t7ezv7+fQ0NDFEJQkiSOjIywvb2dFouF/0coFOKSt3fTpk2orq7Grl27YLFYEIlEMrnS0lJ4vV6sX78eu3fvRl9fH8xmM9xuNwCgsrISAJD65UsAXNBXGz+H2sYWfP7gAcbGxnDjxg1s3rwZVqsVADA5OYlEIgGr1QqDwQAAiEQimJ6eRklJyctZaEFSllFQUABVVTOxEydOoKurC8eOHYPX64XT6cTq1asXb5byluwp5eWhoaEBHR0dmJiYQGNjYyaXTCahKApSqRQAgCR8Ph86OzsRCoWWJrmUhS5evMhgMEiXy8WtW7cusJDP52MsFmNPTw/tdjvn5uZosVjY3d1NIQS7u7sZCAQoZvx88lXZQgv1HCJJ3r17l2vXruWGDRsy51ZUVHBwcJDRaJTRaJRCCObl5ZEkHQ4H29ralrTQIgH19fWsqanhtm3b2NTUxPn5eZLk3r17OTU1xSNHjrC8vJx2u52XLl0iSfr9fu7cuZNlZWWsra1lOBwmSYrIFSbPfEqlo47pwTbqIpU55+DBg+zo6Mh879u3jzU1NZmlqiq3bNlCkgwEAnQ4HFQUJVOvhs4vLSAXIG4NMdG2naFQiDn3DujRcaTOfALoGoAce8j0e0EkT9cDyXgmljM/Qdrfw0h1fQykHi2I54QA9fIPUH9rAnSxKJfVAph6jPSvbmjXep9bk7UCtKkRpL1fgPMzL6zLOgFMxJC+8DW0qz+9VH3WCKCWhrjSCdX3DaA8fOl9Ky6AugYt4IXq84APb7/y/hUTQFWB8HdB/PndaxH/D29dgD57E+LqjxBj3a9klefhrQig8hBa6DzE2M/QI6PL01T6l7oMICaEWPbJBB/fhxa+ABE8B/3WHwC1Ze2Pd60AEJMlSeqLx+Mfvelgi2oS+u3L0G4OQJv8HYyOLw/R5yBlcwpJkvpee7RITYV+7y/ot69An7kKPToOaIuf+mWFXAC8Y0XK5hT3iyoeAagyALk93P0HjHXGXp92US0AAAAASUVORK5CYII=) #fff;
}
