doctype
html(lang="en")
    include ../common/_head
    body
        header( class="header" id="home" )
            div( class="overlay-layer" )
               include ../components/navigation/_anyUser

               .container
                  .row
                     .col-md-4.col-sm-12.text-left

                     .col-md-8.col-sm-12.col-right
                        each val in content
                          .panel-body( style="border: 1px solid #e3e3e3")
                              h3
                                 a( href="/knowledge/articles/"+val.node.Nid)
                                    != val.node.title.replace(/(<([^>]+)>)/ig,"")

                              != val.node.Body.substring(0, 200)



    include ../common/_scriptUtil