.box
    .box-header.with-border
        h3.box-title
            |   Title
        .box-tools.pull-right
            button.btn.btn-box-tool( data-widget="collapse" data-toggle="tooltip" title="Collapse" box-widget tool-tip)
                i.fa.fa-minus
            button.btn.btn-box-tool( data-widget="remove" data-toggle="tooltip" title="Remove" tool-tip)
                i.fa.fa-times
    .box-body
        |   START HERE
    .box-footer
        |   Footer