.container-fluid
    .row
        .col-md-12.col-sm-12.text-center.well
            #intro-section
                h2(style="color: #000;")
                    | Welcome, I have been expecting you. :-)
                .row
                    .col-xs-3.col-xs-offset-2
                        a.btn.btn-primary.btn-block( href="#admin/newsletter" class="btn btn-primary" )
                            | Newsletter List
                    .col-xs-3.col-xs-offset-2
                        a.btn.btn-primary.btn-block( href="#admin/questions" class="btn btn-primary" )
                            | Question List