
<div class="row">
  <callout-info resource="tasks" header="Tasks: empty!" icon="tasks">
      Add a new task by choosing '+ Task' button on the top right corner.
      Tasks are helpful when working on large projects because
      they help keep track of any feature, fix, fun idea to prototype.
  </callout-info>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="list-group"><a href="javascript:void(0)" ng-class="current==task  ? 'active' : ''" ng-repeat="task in tasks track by $index" ng-click="loadTask($index)" style="border-left: 5px solid {{task.color}};" class="list-group-item">
        <h4 class="list-group-item-heading">  {{task.title}}</h4>
        <p ng-bind-html="task.description | rawhtml | limitTo:40" class="list-group-item-text"></p></a></div>
  </div>
  <div ng-show="current" class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="form-group">
      <label>  Title</label>
      <div>  {{current.title}}</div>
    </div>
    <div class="form-group">
      <label>  Description</label>
      <div ng-bind-html="current.description | rawhtml"></div>
    </div>
    <div class="form-group">
      <label>  Label</label>
      <div style="background: {{current.color}}" class="btn-block btn-lg">  &nbsp;</div>
    </div>
    <div class="form-group">
      <label>  Assigned To</label>
      <div>  {{current.assignedTo.firstName}} {{current.assignedTo.lastName}} {{current.assignedTo.email}}</div>
    </div>
    <div class="form-group">
      <label>  Created</label>
      <div>  {{current.created | date : 'medium' }}</div>
    </div>
    <hr/>
    <div class="form-group">
      <button ng-click="editTask( current )" class="pull-left btn btn-default">  Edit</button>
      <button ng-click="startTask(current._id)" class="pull-left btn btn-primary">  Start</button>
      <button ng-click="assignToMe(current._id)" class="btn btn-success pull-right">  Assign To Me</button>
    </div>
  </div>
</div>