
<div ng-if="networkId" class="row">
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
</div>
<div class="row hidden">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="articles.list" ui-sref-opts="{reload: true}" class="btn btn-default">
      <h4><i class="fa fa-chevron-left"></i>  Back</h4></a></div>
</div>
<div class="row article-cover">
  <figure><img ng-src="{{article.primaryImage.url}}"/>
    <figcaption class="credit"></figcaption>
  </figure>
  <div class="article-heading">
    <h1>  {{article.title}}</h1>
    <p>  {{article.deck}}</p>
    <div class="col-xs-3 col-xs-offset-3">
      <p style="display: block" class="bg-green label">  {{article.owner.profile.firstName}} {{article.owner.profile.lastName}}</p>
    </div>
    <div class="col-xs-3">
      <p style="display: block" class="bg-yellow label hidden-sm hidden-xs">  {{article.created | date:'medium'}}</p>
      <p style="display: block" class="bg-yellow label hidden-md hidden-lg">  {{article.created | date}}</p>
    </div>
  </div>
</div>
<div style="margin-top: 30px" class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="article-content">
      <p ng-repeat="section in article.sections track by $index">{{section.body}}</p>
    </div>
  </div>
</div>