
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default no-margin">
      <error-message-box validation-errors="validationErrors"></error-message-box>
      <div class="panel-body">
        <h3 class="text-center">New Article</h3>
        <form novalidate="novalidate" id="article-form">
          <div class="form-group">
            <label>  Image</label><br/><small ng-show="!article._id">  Image upload available after article created</small>
            <div ng-show="article._id">
              <media media="article.coverImage" container="article" actions="mediaActions" icon="fa-photo"></media>
            </div>
          </div>
          <form-input-tag model="article.title" label="Title" required="true"></form-input-tag>
          <div class="form-group">
            <label>  Deck</label>
            <textarea type="text" ng-model="article.deck" class="form-control form-control"></textarea>
          </div>
          <div ng-show="article.sections.length" ng-class="{'sorting-sections': sortingSections}" class="form-group">
            <div ng-show="article.sections.length &gt; 1" class="pull-right"><i style="cursor: pointer; float: right" ng-show="!sortingSections" ng-click="sortSections('#sortable')" class="fa fa-arrows"></i><i style="cursor: pointer; float: right" ng-show="sortingSections" ng-click="stopSorting( '#sortable') " class="fa fa-check"></i></div>
            <label>Body</label>
            <ul style="list-style-type: none; padding: 0;" ui-sortable="sortableOptions" ng-model="article.sections" class="list">
              <li ng-repeat="section in article.sections track by $index" style="padding-bottom: 10px;" class="item">
                <textarea type="text" ng-model="section.body" ng-show="section.edit" class="form-control"></textarea>
                <div ng-show="!section.edit">  {{section.body}}</div>
                <div ng-show="!sortingSections"><i style="cursor: pointer" ng-click="removeSection($index)" class="fa fa-close"></i><i style="padding: 0 5px; cursor: pointer" ng-click="editSection($index)" ng-show="!section.edit" class="fa fa-edit"></i><i style="padding: 0 5px; cursor: pointer" ng-click="saveSection($index)" ng-show="section.edit" class="fa fa-check"></i></div>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <div class="input-group">
              <textarea type="text" ng-model="tempSection" placeholder="Section (e.g Text, Code, Img, etc.)" class="form-control"></textarea><span style="background: #3C8DDD; color: #fff" ng-click="addSection(tempSection); tempSection = '';" class="btn btn-primary input-group-addon"><i style="width: 30px" class="fa fa-plus"></i></span>
            </div>
          </div>
          <hr/>
        </form>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-sm-4 col-md-3">
            <button ng-click="remove(article._id)" ng-show="article._id" class="btn btn-block btn-danger btn-lg">  Remove</button>
          </div>
          <div class="col-sm-4 col-md-3 col-md-offset-3"><a data-dismiss="modal" aria-label="Close" class="btn btn-block btn-default btn-lg">  Cancel</a></div>
          <div ng-class="{true: 'col-md-offset-3'}[ article._id ]" class="col-sm-4 col-md-3 text-center">
            <button ng-click="save()" ng-disabled="tempSection" class="btn btn-block btn-primary btn-lg">  {{article._id ? 'Save' : 'Create'}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>