
<div style="margin-top: 50px;" class="row">
  <div class="col-xs-12 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5"><a ui-sref="articles.new" ui-sref-opts="{reload: true}" class="btn btn-primary btn-block"><i class="fa fa-plus"></i>  Add Article</a></div>
</div>
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <ul style="list-style-type: none; padding: 0; margin: 0">
      <li ng-repeat="article in articles track by $index" style="padding-left: 495px; margin-bottom: 30px; padding-bottom: 30px; border-bottom: 1px solid #e3e3e3; clear: both; padding-top: 30px;"><a ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}">
          <figure style="float: left; width: 465px; margin-left: -495px"><img src="http://cdn.theatlantic.com/assets/media/img/photo/2015/08/winners-of-the-2015-national-geogra/01%20Grand%20Prize-1/hero_wide_640.jpg?1438628037" style="width: 100%"/>
            <figcaption class="credit"></figcaption>
          </figure>
          <h3>{{article.title}}</h3></a><a><small>{{article._creator.firstName}} {{article._creator.lastName}} &lt;{{article._creator.email}}&gt;</small></a>
        <div class="article-content">
          <p ng-repeat="section in article.sections track by $index" ng-show="$first">{{section.body}}</p>
        </div><a ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}" class="btn btn-default btn-block">Read More</a><a ui-sref="articles.edit({id: article._id})" ui-sref-opts="{reload: true}" class="btn btn-default btn-block">Edit</a>
      </li>
    </ul>
  </div>
</div>