
<div ng-if="networkId" id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px; right: 0px" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a ui-sref="articles.new({networkId: networkId})" ui-sref-opts="{reload: true}" ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-primary btn-block pull-right"><i class="fa fa-plus"></i>  Article</a></div>
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Articles" active="true">  &nbsp;</tab>
      <tab heading="Boards" ui-sref="profile.info" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Events" ui-sref="profile.contact" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Members" ui-sref="profile.security" ui-sref-opts="{reload: true}">  &nbsp;</tab>
    </tabset>
  </div>
</div>
<div class="row">
  <div ng-show="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1" class="form-group col-xs-12 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5"><a ui-sref="articles.new" ui-sref-opts="{reload: true}" ng-if="!networkId" class="btn btn-primary btn-block"><i class="fa fa-plus"></i>  Add Article</a></div>
</div>
<div id="articlesList" class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <ul style="list-style-type: none; padding: 0; margin: 0">
      <li ng-repeat="article in articles track by $index"><a ng-if="networkId" ui-sref="networks.article({id: networkId, articleId: article._id})" ui-sref-opts="{reload: true}">
          <figure><img ng-src="{{article.primaryImage.url}}"/>
            <figcaption class="credit"></figcaption>
          </figure>
          <h3>{{article.title}}</h3></a><a ng-if="!networkId" ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}">
          <figure><img ng-src="{{article.primaryImage.url}}"/>
            <figcaption class="credit"></figcaption>
          </figure>
          <h3>{{article.title}}</h3></a>
        <p class="bg-green label pull-left">  {{article.owner.profile.firstName}} {{article.owner.profile.lastName}}</p>
        <p class="bg-yellow label pull-right hidden-sm hidden-xs">  {{article.created | date:'medium'}}</p>
        <p class="bg-yellow label pull-right hidden-md hidden-lg">  {{article.created | date}}</p><br/><br class="hidden-xs hidden-sm"/>
        <div class="article-content">
          <p ng-repeat="section in article.sections track by $index">{{section.body}}</p>
        </div>
        <div class="form-group"><a ng-if="networkId" ui-sref="networks.article({id: networkId, articleId: article._id})" ui-sref-opts="{reload: true}" class="btn btn-primary btn-block form-control">  Continue Reading</a><a ng-if="!networkId" ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}" class="btn btn-primary btn-block form-control">  Continue Reading</a></div>
        <div ng-show="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1" class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-6"><a ui-sref="articles.edit({id: article._id})" ui-sref-opts="{reload: true}" class="btn btn-default btn-block"><i class="fa fa-edit"></i>  &nbsp;Edit</a></div>
              <div class="col-xs-6"><a ng-click="remove( article._id ); $event.stopPropagation()" class="btn btn-block btn-danger"><i class="fa fa-trash"></i>  &nbsp;Remove</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>