
<div ng-if="networkId" id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px; right: 0px" class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-right">
    <div ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn-group">
      <button type="button" ng-click="newArticle()" ui-sref-opts="{reload: true}" class="btn btn-primary"><i class="fa fa-plus"></i>  Article</button>
      <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle"><span class="caret"></span><span class="sr-only">  Toggle Dropdown</span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li ng-class="{true:'active'}[view==='objects']"><a ui-sref="networks.articles({id: networkId, view: 'objects'})" ui-sref-opts="{reload: true}"><i style="width: 20px; margin: 0 auto" class="fa fa-object-ungroup"></i>  : Presentation</a></li>
        <li ng-class="{true:'active'}[view==='list']"><a ui-sref="networks.articles({id: networkId, view: 'list'})" ui-sref-opts="{reload: true}"><i style="width: 20px; margin: 0 auto" class="fa fa-list-ol"></i>  : Manage</a></li>
        <li role="divider" class="divider"></li>
      </ul>
    </div>
  </div>
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.list" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Articles" active="active">  &nbsp;</tab>
      <tab heading="Boards" ui-sref="networks.boards({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Events" ui-sref="networks.events({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Members" ui-sref="networks.members({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
    </tabset>
  </div>
</div>
<callout-info resource="articles" header="Articles: empty!" icon="book">
    Add a new article by choosing '+ Article' button on the top right corner.
    Articles are helpful when communicating on to large audiences because
    they help organize your thoughts.
</callout-info>
<div class="row">
  <div ng-show="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1" class="form-group col-xs-12 col-sm-4 col-sm-offset-4 col-md-6 col-md-offset-3 col-lg-2 col-lg-offset-5"><a ui-sref="articles.new" ui-sref-opts="{reload: true}" ng-if="!networkId" class="btn btn-primary btn-block"><i class="fa fa-plus"></i>  Add Article</a></div>
</div>
<ng-switch on="view">
  <view-articles-list ng-switch-when="list" network-id="networkId" access="access" articles="articles" edit-article="editArticle" remove="remove"></view-articles-list>
  <view-article-objects-array ng-switch-default="ng-switch-default" network-id="networkId" access="access" articles="articles" edit-article="editArticle" remove="remove"></view-article-objects-array>
</ng-switch>
<modal-window-view modal-id="modalArticleForm" title="Article">
  <modal-article-form network-id="networkId" edit="edit"></modal-article-form>
</modal-window-view>