doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope)
    head
        meta(charset="utf-8")
        title(itemprop="name") AdminLTE
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="AdminLTE")

        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        meta(name="mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")

        link(rel="shortcut icon" href="/assets/img/favicon.ico")
        link(rel="apple-touch-icon" href="/assets/img/icon.png")

        link(rel="stylesheet" href="/assets/css/application.css")

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        script( src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
        script( src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
    <![endif]-->

    body.skin-blue.sidebar-mini.fixed
        .wrapper
            header.main-header
                a.logo( href="#")
                    span.logo-mini
                        |   CE
                    span.logo-lg
                        |   CompEngr
                nav.navbar.navbar-static-top( role="navigation")
                    a.sidebar-toggle( href="#" data-toggle="offcanvas" role="button")
                        span.sr-only
                            |   Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    .navbar-custom-menu
                        ul.nav.navbar-nav
                            li.dropdown.messages-menu
                                a.dropdown-toggle( href="#" data-toggle="dropdown")
                                    i.fa.fa-envelope-o
                                    span.label.label-success
                                        |   4
                                ul.dropdown-menu
                                    li.header
                                        |   You have 4 messages
                                    li
                                        ul.menu
                                            li
                                                a( href="#")
                                                    .pull-left
                                                        img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                                                    h4
                                                        |   Support Team
                                                        small
                                                            i.fa.fa-clock-o
                                                                |   5 mins
                                                    p
                                                        |   Why not buy a new aswesome theme?
                                    li.footer
                                        a( href="#")
                                            |   See All Messages
                            li.dropdown.notifications-menu
                                a.dropdown-toggle( href="#" data-toggle="dropdown")
                                    i.fa.fa-bell-o
                                    span.label.label-warning
                                        |   10
                                ul.dropdown-menu
                                    li.header
                                        |   You have 10 notifications
                                    li
                                        ul.menu
                                            li
                                                a( href="#")
                                                    i.fa.fa-users.text-aqua
                                                    |   5 new members joined today
                                    li.footer
                                        a( href="#")
                                            |   View All
                            li.dropdown.tasks-menu
                                a.dropdown-toggle( href="#" data-toggle="dropdown")
                                    i.fa.fa-flag-o
                                    span.label.label-danger
                                        |   9
                                ul.dropdown-menu
                                    li.header
                                        |   You have 9 tasks
                                    li
                                        ul.menu
                                            li
                                                a( href="#")
                                                    h3
                                                        |   Design some buttons
                                                        small.pull-right
                                                            |   20%
                                                    .progress.xs
                                                        .progress-bar.progress-bar-aqua( style="width:20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="0")
                                                            span.sr-only
                                                                |   20% Complete
                                    li.footer
                                        a( href="#")
                                            |   View all tasks
                            li.dropdown.user.user-menu
                                a.dropdown-toggle( href="#" data-toggle="dropdown")
                                    img.user-image( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                                    span.hidden-xs
                                        |   Alexander
                                ul.dropdown-menu
                                    li.user-header
                                        img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                                        p
                                            |   Jesus Rocha
                                            small
                                                |   Member since Nov. 2010

                                    li.user-body
                                        .col-xs-4.text-center
                                            a( href="#")
                                                |   Followers
                                        .col-xs-4.text-center
                                            a( href="#")
                                                |   Friends
                                        .col-xs-4.text-center
                                            a( href="#")
                                                |   Sales
                                    li.user-footer
                                        .pull-left
                                            a.btn.btn-default.btn-flat( href="#")
                                                |   Profile
                                        .pull-right
                                            a.btn.btn-default.btn-flat( href="#")
                                                |   Sign Out
                            li
                                a( href="#" data-toggle="control-sidebar")
                                    i.fa.fa-gears

            aside.main-sidebar
                section.sidebar
                    .user-panel
                        .pull-left.image
                            img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
                        .pull-left.info
                            p
                                |   Jesus Rocha
                            a( href="#")
                                i.fa.fa-circle.text-success
                                    |   Online
                    .sidebar-form
                        .input-group
                            input.form-control( type="text" name="q" placeholder="Search...")
                            span.input-group-btn
                                button.btn.btn-flat( type="submit")
                                    i.fa.fa-search
                    ul.sidebar-menu
                        li.header
                            |   MAIN NAVIGATION
                        li.treeview
                            a( href="#")
                                i.fa.fa-dashboard
                                span
                                    |   Dashboard
                                i.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                                li
                                    a( href="#/dashboard-v1")
                                        i.fa.fa-circle-o
                                            |   Dashboard v1
                                li
                                    a( href="#/blank")
                                        i.fa.fa-circle-o
                                            |   Blank
                        li
                            a( href="#/users")
                                i.fa.fa-users
                                span
                                    |   Users
                                small.label.pull-right.bg-green
                                    |   New
                        li
                            a( href="#/admin/newsletter")
                                i.fa.fa-newspaper-o
                                span
                                    |   Newsletters
                                small.label.pull-right.bg-red
                                    |   3
                        li
                            a( href="#/questions")
                                i.fa.fa-question
                                span
                                    |   Questions
                                small.label.pull-right.bg-red
                                    |   3
                        li
                            a( href="#/calendar")
                                i.fa.fa-calendar
                                span
                                    |   Calendar
                                small.label.pull-right.bg-red
                                    |   3
                        li
                            a( href="#/conversations")
                                i.fa.fa-comments
                                span
                                    |   Conversations
                                small.label.pull-right.bg-red
                                    |   3
                        li
                            a( href="#/mail")
                                i.fa.fa-envelope
                                span
                                    |   Mailbox
                                small.label.pull-right.bg-yellow
                                    |   12
                        li.treeview
                            a( href="#")
                                i.fa.fa-share
                                span
                                    |   Multilevel
                                small.fa.fa-angle-left.pull-right
                            ul.treeview-menu
                                li
                                    a( href="#")
                                        i.fa.fa-circle-o
                                        |   Level One
                                        i.fa.fa-angle-left.pull-right

                                    ul.treeview-menu
                                        li
                                            a( href="#")
                                                i.fa.fa-circle-o
                                                |   Level Two
                                                i.fa.fa-angle-left.pull-right
                                            ul.treeview-menu
                                                li
                                                    a( href="#")
                                                        i.fa.fa-circle-o
                                                        |   Level Three
                                                    a( href="#")
                                                        i.fa.fa-circle-o
                                                        |   Level Three
                                li
                                    a( href="#")
                                        i.fa.fa-circle-o
                                        |   Level One
                                        i.fa.fa-angle-left.pull-right
            .content-wrapper
                section.content-header( ng-controller="SubHeaderController")
                    h1
                        |   Title
                        small
                            |   SubTitme
                    ol.breadcrumb
                        li(ng-repeat="breadcrumb in subHeader.breadcrumbs track by $index"
                        ng-class="{'active':$last}")
                            a( ui-sref="{{breadcrumb.url}}" ng-show="!$last"
                            ui-sref-opts="{reload: true}")
                                i.fa.fa-dashboard(ng-show="!$index")
                                |   Home
                            span(ng-show="$last")
                                |   Here
                section.content
                    .box
                        .box-header.with-border
                            h3.box-title
                                |   Title
                            .box-tools.pull-right
                                button.btn.btn-box-tool( data-widget="collapse" data-toggle="tooltip" title="Collapse" box-widget tool-tip)
                                    i.fa.fa-minus
                                button.btn.btn-box-tool( data-widget="remove" data-toggle="tooltip" title="Remove" tool-tip)
                                    i.fa.fa-times
                        .box-body
                            |   START HERE
                        .box-footer
                            |   Footer

            footer.main-footer
                .pull-right.hidden-xs
                    b
                        |   Version
                    |   2.0
                strong
                    |   Copyright &copy; 2014-2015
                    a( href="#")
                        |   Computer Enchiladas
                |   All Rights Reserved.
    script( src="/assets/js/application.js")