.container
    .row.login
        .col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2.col-xs-10.col-xs-offset-1.snapScreen
            .panel.panel-default
                .panel-body
                    .alert.alert-success.text-center(role="alert" id="valid" ng-show="recoverSuccess")
                        | Password has been reset. Please check your email.
                    p.text-center
                        | Fill with your mail to receive instructions on how to reset your password.
                    form(novalidate ng-submit="recoverPassword()")
                        form-input-tag(
                            model="user.email"
                            label="{{locale['form'].label['shared'].email}}"
                            required="true" icon="envelope"
                            regex="validate['email']")

                        .form-group.ng-hide(ng-show="error")
                            .red.bold.margin {{error}}

                        button.btn.btn-primary.btn-block.btn-lg( type="submit" )
                            | {{locale['form'].button['reset']}}

                        br
                        p.text-center
                            a.btn.btn-default( href="#/login")
                                | {{locale['form'].button['cancel']}}
