
<div ng-if="networkId" id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px; right: 0px" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a ui-sref="users.new({networkId: networkId})" ui-sref-opts="{reload: true}" ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-primary btn-block pull-right"><i class="fa fa-plus"></i>  User</a></div>
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Articles" ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Boards" ui-sref="networks.boards({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Events" ui-sref="networks.events({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Members" active="true">  &nbsp;</tab>
    </tabset>
  </div>
</div>
<div>
  <div class="row">
    <div ng-repeat="user in usersList track by $index" class="col-lg-3 col-sm-6 col-xs-12">
      <div style="cursor: pointer;" ui-sref="users.detail( {id: user._id} )" ui-sref-opts="{reload: true}" class="info-box"><span style="overflow: hidden; float: none; width: 100%" class="info-box-icon"><i ng-show="!user.avatarImage" class="fa fa-user-secret"></i><img src="{{user.avatarImage.url}}" style="max-width: 100%; max-height: 100$; margin: -40px auto 0"/></span>
        <div style="margin: 0 auto" class="info-box-content"><span class="info-box-text text-center">  {{user.profile.first_name}} {{user.profile.last_name}}</span><span class="info-box-text text-center"><small>  {{user.email}}</small></span></div>
      </div>
      <button ng-click="messageModal($index);" class="btn btn-block btn-primary">  Message</button>
    </div>
  </div>
  <div class="row">
    <modal-window-view modal-id="modalNewMessage" actions="actions" title="New Message" type="conversation">
      <modal-private-conversation open="{{open}}"></modal-private-conversation>
    </modal-window-view>
  </div>
</div>