doctype
html(lang="en", itemtype="http://schema.org/WebPage" itemscope ng-app="baseApp")
    include common/_adminLTE

    body.skin-blue.sidebar-mini.fixed(ng-cloak ng-class="role==='admin' ? '':'layout-top-nav'")

        .wrapper
            div( header-navigation-top role="role" )

            div( side-bar type="navigation" role="role")

            div( page-layout )
                div(ui-view)

            div( footer )

            div( side-bar type="settings" role="role" render-app-gestures)

    script( src="/assets/js/application.js")
