.navbar.navbar-default.navbar-fixed-top
    .container
        .navbar-header
            button( type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#seed-navigation" )
                span.sr-only
                    != lang.sr.toggleNavigation
                span.icon-bar
                span.icon-bar
                span.icon-bar

            a( class="navbar-brand" href="/app#/" )
                img( src="/assets/img/logo.jpg" style="margin-top:-7px; width: 35px;")

        #seed-navigation.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a( href="/app#/" )
                        != lang.components.navigation.backToApp