.container
   .row
      .col-md-7.col-sm-12.text-left
         #intro-section
            h1
               |  Free Consulting
            p.transparent-text
               |  Our values put the knowledge seeker first. We want to connect our experiences, even if it means
               |  hiring a domain-expert, because we value the knowledge, reward, and happiness that can be achieved.
               |  Ask us all your questions.
      .col-md-5.col-sm-12.col-right
         #registration-form
            h4.text-center
               | Ask About Anything Degree-Related
            form( name="questions" id="questions" )
               .form-group
                  .alert.alert-danger(role="alert" id="error" style="display: none")
                     |   Please Try Again!
                  .alert.alert-success.text-center(role="alert" id="valid" style="display: none")
                     |   Thank You! We'll reach out soon.
               .form-group.input-group-lg
                  input( type="text" name="name" class="form-control" placeholder=lang.forms.labels.name )
               .form-group.input-group-lg
                  input( type="email" name="email" class="form-control" placeholder=lang.forms.labels.email )
               .form-group.input-group-lg
                  input( name="question" class="form-control" rows="8" placeholder=lang.forms.labels.question )
               .form-group.input-group-lg
                  button.btn.btn-primary.btn-block.btn-lg
                     != lang.buttons.askQuestion