.row
    .col-xs-12.col-sm-6.col-md-6.col-lg-6
        .list-group
            a.list-group-item( href="javascript:void(0)" ng-class="current==task  ? 'active' : ''"
                ng-repeat="task in tasks track by $index" ng-click="loadTask($index)" style="border-left: 5px solid {{task.color}};")
                h4.list-group-item-heading
                    |   {{task.title}}
                p.list-group-item-text
                    |   {{task.description | limitTo : 40}}

    .col-xs-12.col-sm-6.col-md-6.col-lg-6(ng-show="current")
        .form-group
            label
                |   Title
            div
                |   {{current.title}}
        .form-group
            label
                |   Description
            div
                |   {{current.description}}
        .form-group
            label
                |   Label
            div.btn-block.btn-lg(style="background: {{current.color}}")
                |   &nbsp;
        hr
        .form-group
            button.pull-left.btn.btn-default(ui-sref="tasks.edit({id: current._id})" ui-sref-opts="{reload: true}")
                |   Edit
            button.btn.btn-success.pull-right(ng-click="assignToMe(current._id)")
                |   Assign To Me
