.container-fluid
    tabset(id="task-tabs")
        tab( heading="Tasks" ui-sref="tasks.current" ui-sref-opts="{reload: true}"  active="tab[0]" select="tabSelect(0)")
            tasks-current(active="tab[0]")
        tab( heading="Backlog" ui-sref="tasks" ui-sref-opts="{reload: true}" active="tab[1]" select="tabSelect(1)")
            tasks-backlog(active="tab[1]")
        tab( heading="Create Task" ui-sref="tasks.new" ui-sref-opts="{reload: true}" active="tab[2]" select="tabSelect(2)")
            ng-switch( on="tab[2]" )
                div( ng-switch-when="true")
                    tasks-new(active="tab[2]")
                div( ng-switch-default)
                    |   EMPTY
        tab( heading="Edit Task" ng-show="tab[3]" active="tab[3]" select="tabSelect(3)")
            tasks-new(active="tab[3]" edit="id")