div
    .row
        .col-xs-12
            a.btn.btn-default(ui-sref="users.list" ui-sref-opts="{reload: true}" ng-show="!myProfile")
                h4
                    i.fa.fa-chevron-left
                    |   Back
    .row
        .col-md-6
            b
                |   First Name:
            br
            |   {{current.profile.first_name}}
        .col-md-6
            b
                |   Last Name:
            br
            |   {{current.profile.last_name}}
    .row
        .col-md-6
            b
                |   Email:
            br
            |   {{current.email}}
        .col-md-6
            b
                |   Role:
            br
            |   {{current.profile.role}}