div
    .row
        .col-md-6
            b
                |   First Name:
            br
            |   {{current.firstName}}
        .col-md-6
            b
                |   Last Name:
            br
            |   {{current.lastName}}
    .row
        .col-md-6
            b
                |   Email:
            br
            |   {{current.email}}
        .col-md-6
            b
                |   Role:
            br
            |   {{current.role}}