<!-- start template tags -->
script( src="/assets/js/angular/application.js")
script( src="/assets/js/angular/admin_dashboard/admin_controller.js")
script( src="/assets/js/angular/admin_newsletter/newsletterController.js")
script( src="/assets/js/angular/article/controller.js")
script( src="/assets/js/angular/article/service.js")
script( src="/assets/js/angular/board/controller.js")
script( src="/assets/js/angular/board/service.js")
script( src="/assets/js/angular/calendar/controller.js")
script( src="/assets/js/angular/calendar/directive.js")
script( src="/assets/js/angular/calendar/modalEditEvent.js")
script( src="/assets/js/angular/calendar/service.js")
script( src="/assets/js/angular/chat/chatService.js")
script( src="/assets/js/angular/chat/conversationsController.js")
script( src="/assets/js/angular/chat/directiveConversations.js")
script( src="/assets/js/angular/chat/directiveCreateConversation.js")
script( src="/assets/js/angular/chat/directiveCurrentConversation.js")
script( src="/assets/js/angular/chat/directivePrivateConversation-modal.js")
script( src="/assets/js/angular/chat/directivePublicConversations.js")
script( src="/assets/js/angular/dashboard/authorized_controller.js")
script( src="/assets/js/angular/knowledge/controller.js")
script( src="/assets/js/angular/layout/footer/directiveFooter.js")
script( src="/assets/js/angular/layout/header/directiveChatWidget.js")
script( src="/assets/js/angular/layout/header/directivePrimaryTop.js")
script( src="/assets/js/angular/layout/heading/SubHeader.js")
script( src="/assets/js/angular/layout/page/directivePageLayout.js")
script( src="/assets/js/angular/layout/page/directiveRootPageView.js")
script( src="/assets/js/angular/layout/sidebar/LeftNavigationController.js")
script( src="/assets/js/angular/layout/sidebar/RightSettingsController.js")
script( src="/assets/js/angular/layout/sidebar/directiveSideBar.js")
script( src="/assets/js/angular/mail/controller.js")
script( src="/assets/js/angular/mail/directiveMailMessages.js")
script( src="/assets/js/angular/mail/directiveMessage.js")
script( src="/assets/js/angular/mail/directiveSideMenu.js")
script( src="/assets/js/angular/mail/directiveTopMenu.js")
script( src="/assets/js/angular/mail/modalComposeMessage.js")
script( src="/assets/js/angular/mail/service.js")
script( src="/assets/js/angular/modal/directive.js")
script( src="/assets/js/angular/network/NetworkBoardsCtrl.js")
script( src="/assets/js/angular/network/controller.js")
script( src="/assets/js/angular/network/service.js")
script( src="/assets/js/angular/ng_directives/components/autocomplete/auto-complete.js")
script( src="/assets/js/angular/ng_directives/components/autocomplete/service.js")
script( src="/assets/js/angular/ng_directives/components/boxWidget.js")
script( src="/assets/js/angular/ng_directives/components/iCheckBox.js")
script( src="/assets/js/angular/ng_directives/components/notifications.js")
script( src="/assets/js/angular/ng_directives/components/pagination.js")
script( src="/assets/js/angular/ng_directives/components/popOver.js")
script( src="/assets/js/angular/ng_directives/components/toolTip.js")
script( src="/assets/js/angular/ng_directives/components/wysihtml5.js")
script( src="/assets/js/angular/ng_directives/forms/datepicker.js")
script( src="/assets/js/angular/ng_directives/forms/feedback/feedback-box.js")
script( src="/assets/js/angular/ng_directives/forms/input-tag.js")
script( src="/assets/js/angular/ng_directives/forms/media/index.js")
script( src="/assets/js/angular/ng_directives/renderAdminLTE.js")
script( src="/assets/js/angular/ng_directives/repeatDone.js")
script( src="/assets/js/angular/ng_directives/touchScreen.js")
script( src="/assets/js/angular/ng_filters/joinWith.js")
script( src="/assets/js/angular/ng_filters/rawHTML.js")
script( src="/assets/js/angular/ng_services/FormHelper.js")
script( src="/assets/js/angular/ng_services/Notification.js")
script( src="/assets/js/angular/ng_services/Resource.js")
script( src="/assets/js/angular/ng_services/Socket.js")
script( src="/assets/js/angular/ng_services/SubHeader.js")
script( src="/assets/js/angular/ng_services/admin/all.js")
script( src="/assets/js/angular/ng_services/currentUser.js")
script( src="/assets/js/angular/ng_services/feedback.js")
script( src="/assets/js/angular/ng_services/locale.js")
script( src="/assets/js/angular/ng_services/media.js")
script( src="/assets/js/angular/ng_services/newsletter.js")
script( src="/assets/js/angular/ng_services/validators.js")
script( src="/assets/js/angular/notification/controller.js")
script( src="/assets/js/angular/profile/ProfileController.js")
script( src="/assets/js/angular/profile/directives.js")
script( src="/assets/js/angular/profile/service.js")
script( src="/assets/js/angular/questions/controller.js")
script( src="/assets/js/angular/session/controller.js")
script( src="/assets/js/angular/session/service.js")
script( src="/assets/js/angular/sudo_dashboard/sudo_controller.js")
script( src="/assets/js/angular/task/controller.js")
script( src="/assets/js/angular/task/directiveTasksCurrent.js")
script( src="/assets/js/angular/task/service.js")
script( src="/assets/js/angular/user/controller.js")
script( src="/assets/js/angular/user/service.js")
<!-- end template tags -->