<!-- start template tags -->
script( src="/assets/js/angular/application.js")
script( src="/assets/js/angular/admin/AdminHeaderController.js")
script( src="/assets/js/angular/admin/newsletterController.js")
script( src="/assets/js/angular/article/controller.js")
script( src="/assets/js/angular/article/service.js")
script( src="/assets/js/angular/board/controller.js")
script( src="/assets/js/angular/board/service.js")
script( src="/assets/js/angular/calendar/controller.js")
script( src="/assets/js/angular/calendar/directive.js")
script( src="/assets/js/angular/calendar/modalEditEvent.js")
script( src="/assets/js/angular/calendar/service.js")
script( src="/assets/js/angular/conversations/chatService.js")
script( src="/assets/js/angular/conversations/conversationsController.js")
script( src="/assets/js/angular/conversations/directiveConversations.js")
script( src="/assets/js/angular/conversations/directiveCreateConversation.js")
script( src="/assets/js/angular/conversations/directiveCurrentConversation.js")
script( src="/assets/js/angular/conversations/directivePrivateConversation-modal.js")
script( src="/assets/js/angular/conversations/directivePublicConversations.js")
script( src="/assets/js/angular/dashboard/admin_controller.js")
script( src="/assets/js/angular/dashboard/authorized_controller.js")
script( src="/assets/js/angular/dashboard/dashboard_admin_controller.js")
script( src="/assets/js/angular/dashboard/sudo_controller.js")
script( src="/assets/js/angular/directives/components/autocomplete/auto-complete.js")
script( src="/assets/js/angular/directives/components/autocomplete/service.js")
script( src="/assets/js/angular/directives/components/boxWidget.js")
script( src="/assets/js/angular/directives/components/iCheckBox.js")
script( src="/assets/js/angular/directives/components/notifications.js")
script( src="/assets/js/angular/directives/components/pagination.js")
script( src="/assets/js/angular/directives/components/popOver.js")
script( src="/assets/js/angular/directives/components/toolTip.js")
script( src="/assets/js/angular/directives/components/wysihtml5.js")
script( src="/assets/js/angular/directives/forms/feedback/feedback-box.js")
script( src="/assets/js/angular/directives/forms/input-tag.js")
script( src="/assets/js/angular/directives/forms/media/index.js")
script( src="/assets/js/angular/directives/renderAdminLTE.js")
script( src="/assets/js/angular/directives/repeatDone.js")
script( src="/assets/js/angular/filters/joinWith.js")
script( src="/assets/js/angular/filters/rawHTML.js")
script( src="/assets/js/angular/knowledge/controller.js")
script( src="/assets/js/angular/layout/footer/directiveFooter.js")
script( src="/assets/js/angular/layout/header/directivePrimaryTop.js")
script( src="/assets/js/angular/layout/heading/SubHeader.js")
script( src="/assets/js/angular/layout/page/directivePageLayout.js")
script( src="/assets/js/angular/layout/page/directiveRootPageView.js")
script( src="/assets/js/angular/layout/sidebar/LeftNavigationController.js")
script( src="/assets/js/angular/layout/sidebar/directiveSideBar.js")
script( src="/assets/js/angular/mail/controller.js")
script( src="/assets/js/angular/mail/directiveMailMessages.js")
script( src="/assets/js/angular/mail/directiveMessage.js")
script( src="/assets/js/angular/mail/directiveSideMenu.js")
script( src="/assets/js/angular/mail/directiveTopMenu.js")
script( src="/assets/js/angular/mail/modalComposeMessage.js")
script( src="/assets/js/angular/mail/service.js")
script( src="/assets/js/angular/modal/directive.js")
script( src="/assets/js/angular/notifications/controller.js")
script( src="/assets/js/angular/profile/ProfileController.js")
script( src="/assets/js/angular/profile/directives.js")
script( src="/assets/js/angular/profile/service.js")
script( src="/assets/js/angular/questions/controller.js")
script( src="/assets/js/angular/services/Notification.js")
script( src="/assets/js/angular/services/Socket.js")
script( src="/assets/js/angular/services/SubHeader.js")
script( src="/assets/js/angular/services/admin/all.js")
script( src="/assets/js/angular/services/currentUser.js")
script( src="/assets/js/angular/services/feedback.js")
script( src="/assets/js/angular/services/locale.js")
script( src="/assets/js/angular/services/media.js")
script( src="/assets/js/angular/services/newsletter.js")
script( src="/assets/js/angular/services/validators.js")
script( src="/assets/js/angular/session/controller.js")
script( src="/assets/js/angular/session/service.js")
script( src="/assets/js/angular/task/controller.js")
script( src="/assets/js/angular/task/directiveTasksCurrent.js")
script( src="/assets/js/angular/task/service.js")
script( src="/assets/js/angular/user/controller.js")
script( src="/assets/js/angular/user/service.js")
<!-- end template tags -->