div(ng-show="role=='admin'")
    form(novalidate ng-submit="makeAdmin()")
        .row.form-group( ng-show="madeAdmin")
            .col-xs-12
                .alert.alert-success.text-center(role="alert")
                    | The email ({{madeAdmin}}) now has admin rights.

        .row.form-group
            .col-xs-6
                input(type="email" class="form-control" ng-model="email" placeholder="Copy and paste email to make admin")
            .col-xs-6
                button.btn.btn-primary.btn-block( type="submit" )
                    | Make Admin

hr
.table-responsive
    table.table.table-striped
        tr
            th
                | Actiond
            th
                | Name
            th
                | Email
            th
                | Role
        tr(ng-repeat="elem in usersList track by $index")
            td
                button.btn.btn-danger(ng-click="removeEntry(elem._id, $index)"
                    ng-show="role=='admin'")
                    |   Remove
                button.btn.btn-success(ng-click="setUser($index)" data-toggle="modal" data-target="#myMessage")
                    |   Message

            td
                | {{elem.firstName}} {{elem.lastName}}
            td
                | {{elem.email}}
            td
                | {{elem.role}}

modal-private-conversation( ng-model="user", id="myMessage" )