.box-body
    h3
        |   {{message.subject}}
    .media
        .media-left
            a( href="#")
                img.media-object( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" width="60")
        .media-body
            h4.media-heading
                |   {{message.fromUser.firstName}} {{message.fromUser.lastName }}
                small
                    |   {{message.created | date: mediumDate}}
            h5
                |   To: {{message.toUser.firstName}} {{message.toUser.lastName }}
                |   &nbsp; &nbsp;
                button.fa.fa-angle-double-down(type="button" data-toggle="collapse" data-target="#mailMoreInformation" aria-expanded="false" aria-controls="mailMoreInformation")

        p.collapse( id="mailMoreInformation" )
            small
                |   From:     {{message.fromUser.firstName}} {{message.fromUser.lastName }} ({{message.fromUser.email}})
                br
                |   Sent:    {{message.created | date: mediumDate}}
                br
                |   To:    {{message.toUser.firstName}} {{message.toUser.lastName }} ({{message.toUser.email}})

        p
            |   {{message.content}}