.row(style="margin-top: 20px")
   .col-xs-12(ng-if="!hasConversations")
        |   No Conversations
   .col-xs-12.col-sm-6.col-md-6.col-lg-5
      conversations( conversations="conversations" current="conversation._id" load="load" )
   .col-xs-12.col-sm-6.col-md-6.col-lg-7
      current-conversation( current="conversation" private="isPrivate" )