.container-fluid
    modal-window-view( modal-id="modalComposeConversation" title="Compose New Conversation" type="conversation")
        modal-create-conversation( private="private" )
    button.btn.btn-primary(style="position: absolute;right: 15px;top: 61px;" ng-click="composeConversation()")
        |   Create Conversation

    all-conversations(active="true")