.row(ng-if='networkId')
    .col-xs-12.col-sm-4.col-md-3.col-lg-2(style="position: absolute; margin-top: -64px")
        a.btn.btn-default(ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}")
            i.fa.fa-chevron-left
                |   Back
.row.hidden
    .col-xs-12.col-sm-4.col-md-3.col-lg-2
        a.btn.btn-default(ui-sref="articles.list" ui-sref-opts="{reload: true}")
            h4
                i.fa.fa-chevron-left
                |   Back
.row.article-cover
    figure
        img(ng-src='{{article.coverImage.url}}')
        figcaption(class="credit")
    .article-heading
        h1
            |   {{article.title}}
        p
            |   {{article.deck}}
        .col-xs-3.col-xs-offset-3
            p.bg-green.label(style="display: block")
                |   {{article.owner.profile.firstName}} {{article.owner.profile.lastName}}
        .col-xs-3
            p.bg-yellow.label.hidden-sm.hidden-xs(style="display: block")
                |   {{article.created | date:'medium'}}
            p.bg-yellow.label.hidden-md.hidden-lg(style="display: block")
                |   {{article.created | date}}
.row(style="margin-top: 30px")
    .col-sm-10.col-sm-offset-1
        div(class="article-content")
            p(ng-repeat="section in article.sections track by $index")
                |{{section.body}}