.row(id="articlesList")
   .col-md-10.col-md-offset-1.col-sm-12


      ul(style="list-style-type: none; padding: 0; margin: 0")
         li( ng-repeat="article in articles track by $index")
            a(ng-if="networkId" ui-sref="networks.article({id: networkId, articleId: article._id})" ui-sref-opts="{reload: true}")
               figure
                  img( ng-src='{{article.coverImage.url}}')
                  figcaption(class="credit")
               h3
                  |{{article.title}}
            a(ng-if="!networkId" ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}")
               figure
                  img( ng-src='{{article.coverImage.url}}')
                  figcaption(class="credit")
               h3
                  |{{article.title}}
            p.bg-green.label.pull-left
               |   {{article.owner.profile.firstName}} {{article.owner.profile.lastName}}
            p.bg-yellow.label.pull-right.hidden-sm.hidden-xs
               |   {{article.created | date:'medium'}}
            p.bg-yellow.label.pull-right.hidden-md.hidden-lg
               |   {{article.created | date}}
            br
            br.hidden-xs.hidden-sm
            div(class="article-content")
               p(ng-repeat="section in article.sections track by $index")
                  |{{section.body}}
            .form-group
               a.btn.btn-primary.btn-block.form-control(ng-if='networkId' ui-sref="networks.article({id: networkId, articleId: article._id})" ui-sref-opts="{reload: true}")
                  |   Continue Reading
               a.btn.btn-primary.btn-block.form-control(ng-if='!networkId' ui-sref="articles.detail({id: article._id})" ui-sref-opts="{reload: true}")
                  |   Continue Reading
            .row(ng-show="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1")
               .col-xs-10.col-xs-offset-1
                  .row
                     .col-xs-6
                        a.btn.btn-default.btn-block(ng-click="editArticle( article );")
                           i.fa.fa-edit
                           |   &nbsp;Edit
                     .col-xs-6
                        a.btn.btn-block.btn-danger(ng-click="remove( article._id );")
                           i.fa.fa-trash
                           |   &nbsp;Remove