
<div ng-if="networkId" id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px; right: 0px" class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><a ng-click="newEvent()" ui-sref-opts="{reload: true}" ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-primary btn-block pull-right"><i class="fa fa-plus"></i>  Event</a></div>
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.list" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Summary" ui-sref="networks.detail({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Articles" ui-sref="networks.articles({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Boards" ui-sref="networks.boards({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Events" active="active">  &nbsp;</tab>
      <tab heading="Members" ui-sref="networks.members({id: networkId})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
    </tabset>
  </div>
</div>
<callout-info resource="events" header="Events: empty!" icon="calendar">
    Add a new event by choosing '+ Event' button on the top right corner.
    Events are helpful when organizing a meet up because
    they help keep track of agenda and attendees.
</callout-info>
<div id="articlesList" class="row">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <ul style="list-style-type: none; padding: 0; margin: 0">
      <li ng-repeat="event in events track by $index"><a ng-if="networkId" ui-sref="networks.event({id: networkId, eventId: event._id})" ui-sref-opts="{reload: true}">
          <figure><img ng-src="{{event.coverImage.url}}"/>
            <figcaption class="credit"></figcaption>
          </figure>
          <h3>{{event.title}}</h3></a><a ng-if="!networkId" ui-sref="networks.event({id: networkId, eventId: event._id})" ui-sref-opts="{reload: true}">
          <figure>
            <!--img( ng-src='{{article.coverImage.url}}')-->
            <!--figcaption(class="credit")-->
          </figure>
          <h3>{{event.title}}</h3></a>
        <p class="bg-yellow label pull-left">  {{event.start | date : 'medium' : 'UTC'}}</p>
        <p class="bg-yellow label pull-right">  {{event.end | date : 'medium' : 'UTC'}}</p><br/><br class="hidden-xs hidden-sm"/>
        <div class="article-content"> {{event.description}}</div>
        <div ng-show="access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1" class="row">
          <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
              <div class="col-xs-6"><a ng-click="editEvent( event ); $event.stopPropagation()" ng-if="networkId &amp;&amp; (access.indexOf('admin') !== -1 || access.indexOf('sudo') !== -1)" class="btn btn-default btn-block"><i class="fa fa-edit"></i>  &nbsp;Edit</a></div>
              <div class="col-xs-6"><a ng-click="remove( event._id );" class="btn btn-block btn-danger"><i class="fa fa-trash"></i>  &nbsp;Remove</a></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<modal-window-view modal-id="modalEventForm" title="Event">
  <modal-event-form edit="edit" network-id="networkId"></modal-event-form>
</modal-window-view>