
<div id="{{modalId}}" tabindex="-1" role="dialog" aria-labelledby="{{modalId}}" aria-hidden="true" class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">  &times;</span></button>
        <h4 class="modal-title">  Compose New Message</h4>
      </div>
      <div ng-transclude="ng-transclude" class="modal-body"></div>
      <div class="modal-footer">
        <div class="pull-right">
          <button ng-click="save()" class="btn btn-default"><i class="fa fa-pencil"></i>  Draft</button>
          <button ng-click="send()" class="btn btn-primary"><i class="fa fa-envelope"></i>  Send</button>
        </div>
        <button data-dismiss="modal" aria-label="Close" class="btn btn-default pull-left"><i class="fa fa-times"></i>  Discard</button>
      </div>
    </div>
  </div>
</div>