aside.main-sidebar(ng-controller="LeftNavigationController")
    section.sidebar
        .user-panel
            .pull-left.image(style="overflow: hidden; min-height: 40px; max-width: 50px;")
                h3.text-center(style="margin:0" ng-show="!user.avatarImage || !user.avatarImage.url")
                    i.fa.fa-user-secret.fa-2x(ng-class="{'text-green': !offline, 'text-red':offline}")
                img.img-circle( src="{{user.avatarImage.url}}" alt="User Image"
                    ng-show="user.avatarImage && user.avatarImage.url")
            .pull-left.info
                p
                    |   {{user.profile.first_name}} {{user.profile.last_name}}
                a( href="#")
                    i.fa.fa-circle(ng-class="{'text-green': !offline, 'text-red':offline}" ng-click="offline = !offline")
                        |   {{!offline ? 'Online' : 'Offline'}}
        .sidebar-form
            .input-group
                input.form-control( type="text" name="q" placeholder="Search...")
                span.input-group-btn
                    button.btn.btn-flat( type="submit")
                        i.fa.fa-search
        ul.sidebar-menu
            li.header
                |   MAIN NAVIGATION
            li
                a( href="#/")
                    i.fa.fa-dashboard
                    span
                        |   Dashboard
            //li
            //    a( ui-sref="restrooms")
            //        i.fa.fa-male
            //        span
            //            |   Restrooms
            li
                a( ui-sref="articles.list")
                    i.fa.fa-book
                    span
                        |   Articles
            li
                a( ui-sref="boards.list")
                    i.fa.fa-building
                    span
                        |   Boards
            li
                a( ui-sref="users.list" ui-sref-opts="{reload: true}")
                    i.fa.fa-users
                    span
                        |   Users
                    small.label.pull-right.bg-green
                        |   New
            li
                a( href="#/admin/newsletter")
                    i.fa.fa-newspaper-o
                    span
                        |   Newsletters
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/questions")
                    i.fa.fa-question
                    span
                        |   Questions
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/calendar")
                    i.fa.fa-calendar
                    span
                        |   Calendar
                    small.label.pull-right.bg-red
                        |   3
            li
                a( ui-sref="conversations.public" ui-sref-opts="{reload: true}")
                    i.fa.fa-comments
                    span
                        |   Conversations
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/mail")
                    i.fa.fa-envelope
                    span
                        |   Mailbox
                    small.label.pull-right.bg-yellow
                        |   12
            li.treeview
                a( href="#")
                    i.fa.fa-share
                    span
                        |   Multilevel
                    small.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a( href="#")
                            i.fa.fa-circle-o
                            |   Level One
                            i.fa.fa-angle-left.pull-right

                        ul.treeview-menu
                            li
                                a( href="#")
                                    i.fa.fa-circle-o
                                    |   Level Two
                                    i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a( href="#")
                                            i.fa.fa-circle-o
                                            |   Level Three
                                        a( href="#")
                                            i.fa.fa-circle-o
                                            |   Level Three
                    li
                        a( href="#")
                            i.fa.fa-circle-o
                            |   Level One
                            i.fa.fa-angle-left.pull-right
