aside.main-sidebar(ng-controller="LeftNavigationController")
    section.sidebar
        .user-panel
            .pull-left.image(style="overflow: hidden; min-height: 40px; max-width: 50px;")
                h3.text-center(style="margin:0" ng-show="!user.avatarImage || !user.avatarImage.url")
                    i.fa.fa-user-secret.fa-2x(ng-class="{'text-green': !offline, 'text-red':offline}")
                img.img-circle( src="{{user.avatarImage.url}}" alt="User Image"
                    ng-show="user.avatarImage && user.avatarImage.url")
            .pull-left.info
                p
                    |   {{user.profile.firstName}} {{user.profile.lastName}}
                a( href="#")
                    i.fa.fa-circle(ng-class="{'text-green': !offline, 'text-red':offline}" ng-click="offline = !offline")
                        |   {{!offline ? 'Online' : 'Offline'}}
        .sidebar-form
            .input-group
                input.form-control( type="text" name="q" placeholder="Search...")
                span.input-group-btn
                    button.btn.btn-flat( type="submit")
                        i.fa.fa-search
        ul.sidebar-menu
            li.header
                |   MAIN NAVIGATION
            li(ng-class="{active: state==='root'}")
                a( ui-sref="root" ui-sref-opts="{reload: true}")
                    i.fa.fa-dashboard
                    span
                        |   Dashboard
            li(ng-class="{active: state==='notifications'}" ng-if="access.indexOf('admin')!==-1")
                a( ui-sref="notifications")
                    i.fa.fa-bell
                    span
                        |   Notifications
            li.treeview( ng-class="{active: state==='networks'}")
                a(ui-sref="networks.list")
                    i.fa.fa-share-alt
                    span
                        |   Networks
                ul.treeview-menu(ng-if="currentNetwork" ng-class="{'menu-open': currentNetwork}")
                    li
                        a( ui-sref="networks.articles({id: currentNetwork})" ui-sref-opts="{reload: true}" )
                            i.fa.fa-book
                            span
                                |   Articles
                    li
                        a( ui-sref="networks.boards({id: currentNetwork})" ui-sref-opts="{reload: true}" )
                            i.fa.fa-tasks
                            span
                                |   Boards
                    li
                        a( ui-sref="networks.members({id: currentNetwork})" ui-sref-opts="{reload: true}" )
                            i.fa.fa-users
                            span
                                |   Members
                    li
                        a( ui-sref="networks.events({id: currentNetwork})" ui-sref-opts="{reload: true}")
                            i.fa.fa-calendar
                            span
                                |   Events

            li(ng-if="access.indexOf('admin')!==-1" ng-class="{active: state==='articles'}")
                a( ui-sref="articles.list" ui-sref-opts="{reload: true}")
                    i.fa.fa-book
                    span
                        |   Articles
            li(ng-if="access.indexOf('admin')!==-1" ng-class="{active: state==='boards'}")
                a( ui-sref="boards.list")
                    i.fa.fa-tasks
                    span
                        |   Boards
            li(ng-if="access.indexOf('admin')!==-1" ng-class="{active: state==='calendar'}")
                a( ui-sref="calendar" ui-sref-opts="{reload: true}" )
                    i.fa.fa-calendar
                    span
                        |   Events
                    small.label.pull-right.bg-red
                        |   3
            li(ng-if="access.indexOf('admin')!==-1 || access.indexOf('sudo')!==-1" ng-class="{active: state==='users'}")
                a( ui-sref="users.list" ui-sref-opts="{reload: true}")
                    i.fa.fa-users
                    span
                        |   Users
                    small.label.pull-right.bg-green
                        |   New
            li(ng-if="access.indexOf('sudo') !== -1")
                a( href="#/admin/newsletter")
                    i.fa.fa-newspaper-o
                    span
                        |   Newsletters
                    small.label.pull-right.bg-red
                        |   3
            li(ng-if="access.indexOf('sudo') !== -1")
                a( href="#/questions")
                    i.fa.fa-question
                    span
                        |   Questions
                    small.label.pull-right.bg-red
                        |   3

            li(ng-class="{active: state==='conversations'}")
                a( ui-sref="conversations" ui-sref-opts="{reload: true}")
                    i.fa.fa-comments
                    span
                        |   Conversations
                    //small.label.pull-right.bg-red
                        |   3
            li(ng-if="access.indexOf('admin')!==-1 || access.indexOf('sudo')!==-1" ng-class="{active: state==='mail'}")
                a( ui-sref="mail.inbox" )
                    i.fa.fa-envelope
                    span
                        |   Mailbox
                    small.label.pull-right.bg-yellow
                        |   12
            li(ng-if="access.indexOf('sudo') !== -1")
                a( ui-sref="hardware" ui-sref-opts="{reload: true}")
                    i.fa.fa-hdd-o
                    span
                        |   Hardware
                    small.label.pull-right.bg-red
                        |   3
            //li(ng-show="currentNetwork")
            //    a( ui-sref="networks.detail.boards({id: currentNetwork})" )
            //        i.fa.fa-book
            //        span
            //            |   Articles
            //li.treeview
            //    a( href="#")
            //        i.fa.fa-share
            //        span
            //            |   Multilevel
            //        small.fa.fa-angle-left.pull-right
            //    ul.treeview-menu
            //        li
            //            a( href="#")
            //                i.fa.fa-circle-o
            //                |   Level One
            //                i.fa.fa-angle-left.pull-right
            //
            //            ul.treeview-menu
            //                li
            //                    a( href="#")
            //                        i.fa.fa-circle-o
            //                        |   Level Two
            //                        i.fa.fa-angle-left.pull-right
            //                    ul.treeview-menu
            //                        li
            //                            a( href="#")
            //                                i.fa.fa-circle-o
            //                                |   Level Three
            //                            a( href="#")
            //                                i.fa.fa-circle-o
            //                                |   Level Three
                    li
                        a( href="#")
                            i.fa.fa-circle-o
                            |   Level One
                            i.fa.fa-angle-left.pull-right
