aside.main-sidebar
    section.sidebar
        .user-panel
            .pull-left.image
                img.img-circle( src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user2-160x160.jpg" alt="User Image")
            .pull-left.info
                p
                    |   Jesus Rocha
                a( href="#")
                    i.fa.fa-circle.text-success
                        |   Online
        .sidebar-form
            .input-group
                input.form-control( type="text" name="q" placeholder="Search...")
                span.input-group-btn
                    button.btn.btn-flat( type="submit")
                        i.fa.fa-search
        ul.sidebar-menu
            li.header
                |   MAIN NAVIGATION
            li.treeview
                a( href="#")
                    i.fa.fa-dashboard
                    span
                        |   Dashboard
                    i.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a( href="#/dashboard-v1")
                            i.fa.fa-circle-o
                                |   Dashboard v1
                    li
                        a( href="#/blank")
                            i.fa.fa-circle-o
                                |   Blank
            li
                a( ui-sref="boards.list")
                    i.fa.fa-building
                    span
                        |   Boards
            li
                a( href="#/users")
                    i.fa.fa-users
                    span
                        |   Users
                    small.label.pull-right.bg-green
                        |   New
            li
                a( href="#/admin/newsletter")
                    i.fa.fa-newspaper-o
                    span
                        |   Newsletters
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/questions")
                    i.fa.fa-question
                    span
                        |   Questions
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/calendar")
                    i.fa.fa-calendar
                    span
                        |   Calendar
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/conversations")
                    i.fa.fa-comments
                    span
                        |   Conversations
                    small.label.pull-right.bg-red
                        |   3
            li
                a( href="#/mail")
                    i.fa.fa-envelope
                    span
                        |   Mailbox
                    small.label.pull-right.bg-yellow
                        |   12
            li.treeview
                a( href="#")
                    i.fa.fa-share
                    span
                        |   Multilevel
                    small.fa.fa-angle-left.pull-right
                ul.treeview-menu
                    li
                        a( href="#")
                            i.fa.fa-circle-o
                            |   Level One
                            i.fa.fa-angle-left.pull-right

                        ul.treeview-menu
                            li
                                a( href="#")
                                    i.fa.fa-circle-o
                                    |   Level Two
                                    i.fa.fa-angle-left.pull-right
                                ul.treeview-menu
                                    li
                                        a( href="#")
                                            i.fa.fa-circle-o
                                            |   Level Three
                                        a( href="#")
                                            i.fa.fa-circle-o
                                            |   Level Three
                    li
                        a( href="#")
                            i.fa.fa-circle-o
                            |   Level One
                            i.fa.fa-angle-left.pull-right
