
<div id="network-detail" class="row">
  <div style="position: absolute; margin-top: -64px" class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.list" ui-sref-opts="{reload: true}" class="btn btn-default"><i class="fa fa-chevron-left">  Back</i></a></div>
  <div id="tab-sections" class="col-xs-12">
    <tabset vertical="false" type="pills">
      <tab heading="Summary" active="true">  &nbsp;</tab>
      <tab heading="Articles" ui-sref="networks.articles({id: network._id})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Boards" ui-sref="networks.boards({id: network._id})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Events" ui-sref="networks.events({id: network._id})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
      <tab heading="Members" ui-sref="networks.members({id: network._id})" ui-sref-opts="{reload: true}">  &nbsp;</tab>
    </tabset>
  </div>
  <div id="cover-photo" class="col-xs-12"><img ng-src="{{network.coverImage.url}}"/></div>
</div>
<!--
br
br
br
.col-xs-12
    .form-group
        label.pull-left
            | Name: &nbsp;
        |   {{network.name}}
    .form-group
        label.pull-left
            |   Is Private? &nbsp;
        |   {{network.isPrivate}}
    .form-group
        label.pull-left
            |   Is Protected? &nbsp;
        |   {{network.isProtected}}
    .form-group
        label
            | Members
        div
            span(ng-repeat="member in network.members track by $index")
                | {{member.profile.firstName}} {{member.profile.lastName}}
                br
    .form-group
        label
            | Events
        div
            span(ng-repeat="event in network.events track by $index")
                | {{event.title}} {{event.start | date:'medium' }}
                br
    .form-group
        label
            | Boards
        div
            span(ng-repeat="board in network.boards track by $index")
                | {{board.name}}
                br
        a.btn.btn-block(ui-sref="networks.detail.boards")
            |   Manage Boards
    .form-group
        label
            | Conversations
        div
            span(ng-repeat="conversation in network.conversations track by $index")
                | {{conversation.topic}}
                br
    .form-group(ng-show="network.owner === currentUser._id")
        label
            | Actions
        div
            a.btn.btn-default.btn-block( ui-sref="networks.edit({id: network._id})" ui-sref-opts="{reload: true}" ng-click="$event.stopPropagation()")
                |   Edit &nbsp;
                i.fa.fa-edit
            a.btn.btn-danger.btn-block( ng-click="remove( network._id ); $event.stopPropagation()")
                |   Remove &nbsp;
                i.fa.fa-trash
-->