
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
    <div class="panel panel-default">
      <error-message-box validation-errors="validationErrors"></error-message-box>
      <div class="panel-body">
        <h3 class="text-center">Add Network</h3>
        <form novalidate="novalidate" ng-submit="network._id ? update() : add()">
          <form-input-tag model="network.name" label="Name" required="true"></form-input-tag>
          <div class="row">
            <div class="col-xs-6">
              <div class="form-group">
                <label> Private Network</label>
                <input type="checkbox" ng-model="network.isPrivate" i-check="i-check"/>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="form-group">
                <label> Protected Network</label>
                <input type="checkbox" ng-model="network.isProtected" i-check="i-check"/>
              </div>
            </div>
          </div>
          <div ng-if="access.indexOf('sudo') !== -1" class="form-group">
            <label>  Owner:&nbsp;</label>
            <div ng-show="!has['owner']" class="pull-right">  me ?
              <input type="checkbox" ng-model="has['owner']" ng-click="selectUser(null, 'owner', 1)" i-check="i-check"/>
            </div><span ng-show="has['owner']" style="padding-right: 20px; position: relative" class="bg-red label"><i style="line-height: 20px; padding: 0 5px; cursor: pointer;position: absolute; right: 0; top: -1px" ng-click="removeUser( null , 'owner' )" class="fa fa-close pull-right"></i>  {{network.owner.profile.firstName}} {{network.owner.profile.lastName}} &lt;{{network.owner.email}}&gt;</span>
            <div ng-show="!has['owner']">
              <auto-complete input-model="tempOwner" placeholder="Add Owner" auto-complete-http="getUsers" selected="selectUser" hash="owner" single="1"></auto-complete>
            </div>
          </div>
          <div ng-show="has['members']" class="form-group">
            <label>Members</label>
            <div><span ng-repeat="member in network.members track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" class="bg-blue"><i style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeUser(member._id, 'members')" class="fa fa-close pull-right"></i>  {{member.profile.firstName}} {{member.profile.lastName}} &lt;{{member.email}}&gt;</span></div>
          </div>
          <auto-complete input-model="tempMember" placeholder="Members" auto-complete-http="getUsers" selected="selectUser" hash="members"></auto-complete>
          <div ng-show="has['admins']" class="form-group">
            <label>Moderators</label>
            <div><span ng-repeat="admin in network.admins track by $index" style="margin: 1px 0 0; padding: 5px; display: block;" class="bg-blue"><i style="line-height: 20px; padding: 0 5px; cursor: pointer" ng-click="removeUser(admin._id, 'admins')" class="fa fa-close pull-right"></i>  {{admin.profile.firstName}} {{admin.profile.lastName}} &lt;{{admin.email}}&gt;</span></div>
          </div>
          <auto-complete input-model="tempAdmin" placeholder="Moderators" auto-complete-http="getUsers" selected="selectUser" hash="admins"></auto-complete>
          <hr/>
          <div class="text-center form-group">
            <button type="submit" class="btn btn-block btn-primary btn-lg">{{network._id ? 'Save' : 'Create'}}</button>
          </div>
        </form>
        <div class="col-xs-8 col-xs-offset-2 text-center form-group"><a ui-sref="networks.list" ui-sref-opts="{reload: true}" class="btn btn-block btn-default">Cancel</a></div>
      </div>
    </div>
  </div>
</div>