
<div class="col-xs-12">
  <div class="row">
    <div class="col-xs-12">
      <div class="col-md-2 col-lg-2 no-padding"><strong>Name</strong></div>
      <div class="col-md-2 col-lg-3"><strong>Members</strong></div>
      <div class="col-md-2 col-lg-2"><strong>Events</strong></div>
      <div class="col-md-2 col-lg-2"><strong>Boards</strong></div>
      <div class="col-md-2 col-lg-2"><strong>Conversations</strong></div>
      <div class="col-md-2 col-lg-1"><strong>Actions</strong></div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      <div ng-repeat="network in networks track by $index" ui-sref="networks.detail({id: network._id})" ui-sref-opts="{reload: true}" style="cursor:pointer" class="list-group-item">
        <div class="col-md-2 col-lg-2 no-padding"><strong><i ng-show="network.isPrivate" class="fa fa-lock"></i>{{network.name}}</strong></div>
        <div class="col-md-2 col-lg-3 no-padding"><span ng-repeat="member in network.members track by $index">{{member.profile.firstName}} {{member.profile.lastName}}<br/></span></div>
        <div class="col-md-2 col-lg-2 no-padding"><span ng-repeat="board in network.boards track by $index">{{board.name}}<br/></span></div>
        <div class="col-md-2 col-lg-2 no-padding"><span ng-repeat="event in network.events track by $index">{{event.title}} {{event.start | date:'medium' }}<br/></span></div>
        <div class="col-md-2 col-lg-2 no-padding"><span ng-repeat="conversation in network.conversations track by $index">{{conversation.topic}}<br/></span></div>
        <div ng-show="network.owner === currentUser._id" class="col-md-2 col-lg-1 no-padding"><a ui-sref="networks.edit({id: network._id})" ui-sref-opts="{reload: true}" ng-click="$event.stopPropagation()" class="btn btn-default btn-block"><i class="fa fa-edit"></i></a><a ng-click="remove( network._id ); $event.stopPropagation()" class="btn btn-danger btn-block"><i class="fa fa-trash"></i></a></div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 50px;" class="row">
  <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2"><a ui-sref="networks.new" ui-sref-opts="{reload: true}" class="btn btn-primary"><i class="fa fa-plus"></i>  Add Network</a></div>
</div>