<ion-view view-title="Demo">
  <ion-content scroll="false">
    <ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>
      <ion-slide ion-slide-tab-label="1" class="slider-slide">
        <h1>Screenshot 1</h1>
      </ion-slide>
      <ion-slide ion-slide-tab-label="2">
        <h1>Screenshot 2</h1>
      </ion-slide>
      <ion-slide ion-slide-tab-label="3">
        <div id="view">
          <login-button></login-button>
          <register-button></register-button>
          <a class="button button-block" href="#/tabs/dash">
            Try it! Free!
          </a>
        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
