<ion-view view-title="">

  <ion-content id="event-detail">
    <div class="header">
      <h5 class="padding-left"><i class="ion-ios-people"></i>{{event.network.name}}</h5>
      <h2 class="padding-left">{{event.title}}</h2>
      <p  class="time">
        <button class="button button-small">
          <i class="ion-ios-calendar"></i>
        </button>
        {{event.start | date : 'longDate' : '+0'}}
        <br/>
        {{event.start | date : 'shortTime' : '+0'}}
        &mdash;
        {{event.end | date : 'shortTime' : '+0'}}
      </p>
      <p class="location" ng-show="event.locationAddress && event.locationName">
        <button class="button button-small">
          <i class="ion-map"></i>
        </button>
        {{event.locationName}}
        <br/>
        {{event.locationAddress}}
      </p>
    </div>
    <div class="padding-left padding-right">
      {{event.deck}}
    </div>
    <div class="row padding">
      <div class="description col-90" ng-class="{true: 'showMore'}[showMore]">
        {{event.description}}
      </div>
      <div class="col-10" style="text-align: center; margin-top: 20px">
        <i class="ion-chevron-down" ng-style="{true: {visibility: 'hidden'}}[showMore]"
           ng-click="showMore=true"></i>
      </div>
    </div>

  </ion-content>

</ion-view>
