<div class="modal">
  <ion-header-bar class="bar-header">
    <h1 class="title" ng-hide="editting">Register</h1>
    <h1 class="title" ng-hide="!editting">Edit Profile</h1>
    <button class="button button-clear" ng-click="closeAndReset()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <div class="row" ng-show="form.avatarImage && form.avatarImage.url" ng-hide="!editting"
           style="min-height: 200px;position:relative" ng-style="{background: 'url('+form.avatarImage.url+')', backgroundSize: 'cover'}">
        <button class="button" style="position: absolute; right: 10px; bottom: 10px;" ng-click="addPicture()">Change</button>
      </div>
      <div class="list">
        <form novalidate="novalidate" ng-submit="register()">
          <label ng-hide="!editting">
            <button class="button button-stable button-block" ng-hide="form.avatarImage" ng-click="addPicture()">Add Picture</button>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">First Name</span>
            <input ng-model="form.firstName" type="text" placeholder="John" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Last Name</span>
            <input ng-model="form.lastName" type="text" placeholder="Lopez" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input ng-model="form.email" type="email" placeholder="you@domain.com" />
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input ng-model="form.password" type="password" placeholder="******" />
          </label>
          <button type="submit" style="visibility: hidden"></button>
        </form>
      </div>
      <div class="list" ng-hide="!editting">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Confirm password to continue</span>
          <input ng-model="form.currentPassword" type="text" placeholder="******" />
        </label>
      </div>
    </div>
  </ion-content>
  <ion-footer-bar align-title="left">
    <div class="row" style="padding: 0;">
      <div class="col col-50 col-offset-50">
        <div class="footer-primary">
          <button class="button button-block" style="margin:0;" ng-click="register()" ng-hide="editting"
                  ng-disabled="!form.email || !form.password || !form.firstName || !form.lastName">
            Register
          </button>
          <button class="button button-block" style="margin:0;" ng-click="updateProfile()" ng-hide="!editting"
                  ng-disabled="!form.password">
            Update
          </button>
        </div>
      </div>
    </div>
  </ion-footer-bar>
</div>
