<div class="modal direct-chat">
  <ion-header-bar class="bar-header">
    <h1 class="title">{{chat.otherMember.profile.firstName}}</h1>
    <h1 class="title" ng-show="!chat._id">New Message</h1>
    <button class="button button-clear" ng-click="modal.chat.hide()">Done</button>
  </ion-header-bar>
  <ion-content>
    <div class="padding" ng-hide="chat._id">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            Select User:
          </div>
          <select ng-model="chat.otherMember">
            <option ng-repeat="user in users" value="{{user._id}}">
              {{user.profile.firstName}}
              {{user.profile.lastName}}
            </option>
          </select>
        </label>
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="message in chat.messages" type="item-text-wrap" ng-class="currentId===chat.members[message._user]._id ? 'left' : 'right'">
        <div class="direct-chat-info">
          <span class="direct-chat-name" ng-class="currentId===chat.members[message._user]._id ? 'pull-left' : 'pull-right'" >
            <strong>{{currentUser.id}}
              {{chat.members[message._user].profile.firstName}} {{chat.members[message._user].profile.lastName}}
            </strong>
          </span>
          <small class="direct-chat-timestamp" ng-class="currentId===chat.members[message._user]._id ? 'pull-right' : 'pull-left'">
            {{message.created | date: 'short' }}
          </small>
        </div>
        <img class="direct-chat-img" ng-src="{{chat.members[message._user].avatarImage.url}}" width="40" ng-show="chat.members[message._user].avatarImage">
        <i class="item-icon-label ion-android-person" ng-show="!chat.members[message._user].avatarImage" style="font-size: 40px"></i>
        <p class="direct-chat-text" ng-bind-html="message.content"></p>

      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar>
    <button class="button button-clear" style="width: 30px; margin-right: 10px;" ng-click="menu()">
      <i class="ion-android-camera ion" style="font-size: 20pt; line-height: 34px;"></i>
    </button>
    <label class="item-input-wrapper">
      <i class="icon ion-ios-chatboxes placeholder-icon"></i>
      <input type="search" placeholder="Messages..." style="background: transparent; width: 100%;" ng-model="chat.newMessage">
    </label>
    <button class="button button-clear" ng-click="sendMessage()" ng-disabled="!chat.otherMember || !chat.newMessage">
      Send
    </button>
  </ion-footer-bar>
</div>
