<div class="modal">
  <ion-header-bar class="bar-header">
    <h1 class="title">New Object</h1>
    <button class="button button-clear" ng-click="modal.hide()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <div class="padding">
      <div class="list">
        <label class="item item-input">
          <input ng-model="form.name" type="text" name="name" placeholder="Placeholder" />
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Lightsaber
          </div>
          <select>
            <option>Blue</option>
            <option selected>Green</option>
            <option>Red</option>
          </select>
        </label>
        <button class="button button-block button-stable" ng-click="addObject( modal )">Create</button>
      </div>
    </div>
  </ion-content>
</div>
