<ion-view>
  <ion-nav-buttons side="left">
    <button class="button button-light no-animation"
            ng-click="tryFree()" ng-show="!isPastFirstSlide()">
      Try Free!
    </button>
    <button class="button button-light no-animation" ion-wizard-previous>
      Back
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-light no-animation" ion-wizard-next ng-click="pushNext()">
      Next
    </button>
    <button class="button button-light no-animation" ion-wizard-start="register()" condition="agreedTerms()">
      Register
    </button>
  </ion-nav-buttons>
  <ion-slide-box ion-wizard>
    <ion-slide ion-wizard-step next-condition="form.firstName && form.lastName">
      <ion-wizard-content class="has-header">
        <div class="padding">
          <div class="list">
            <div class="item" style="padding: 0 16px;">
              <input ng-model="form.firstName" type="text" placeholder="First Name"/>
            </div>
            <div class="item" style="padding: 0 16px;">
              <input ng-model="form.lastName" type="text" placeholder="Last Name"/>
            </div>
          </div>
        </div>
      </ion-wizard-content>
    </ion-slide>
    <ion-slide ion-wizard-step next-condition="form.email && form.password">
      <ion-wizard-content class="has-header">
        <div class="padding">
          <div class="list">
            <div class="item" style="padding: 0 16px;">
              <input ng-model="form.email" type="text" placeholder="Email"/>
            </div>
            <div class="item" style="padding: 0 16px;">
              <input ng-model="form.password" type="password" placeholder="Password"/>
            </div>
          </div>
        </div>
      </ion-wizard-content>
    </ion-slide>
    <ion-slide ion-wizard-step class="has-header">
      Agree terms?
      <input type="checkbox" ng-model="form.terms">
    </ion-slide>
  </ion-slide-box>

</ion-view>
