<ion-view hide-nav-bar="true">
  <ion-content scroll="false">
    <!--<ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>-->
      <!--<ion-slide ion-slide-tab-label="1"><h1>Tab 1</h1></ion-slide>-->
      <!--<ion-slide ion-slide-tab-label="2"><h1>Tab 2</h1></ion-slide>-->
      <!--<ion-slide ion-slide-tab-label="3">-->
        <!--<button class="button button-positive" style="width: 100%" ng-click="provisionSignInModal()">-->
          <!--Sign In-->
        <!--</button>-->
      <!--</ion-slide>-->
    <!--</ion-slide-box>-->
    <div id="offline">
      <h3>Which Degree<br/><small>Higher Education Insights</small></h3>
      <div id="view">
        <login-button></login-button>
        <register-button></register-button>
        <demo-button></demo-button>
      </div>
    </div>
  </ion-content>
</ion-view>
