<ion-view hide-nav-bar="true">
  <ion-content scroll="false">
    <!--<ion-slide-box slide-tabs-scrollable="false" show-pager="false" ion-slide-tabs>-->
      <!--<ion-slide ion-slide-tab-label="1"><h1>Tab 1</h1></ion-slide>-->
      <!--<ion-slide ion-slide-tab-label="2"><h1>Tab 2</h1></ion-slide>-->
      <!--<ion-slide ion-slide-tab-label="3">-->
        <!--<button class="button button-positive" style="width: 100%" ng-click="provisionSignInModal()">-->
          <!--Sign In-->
        <!--</button>-->
      <!--</ion-slide>-->
    <!--</ion-slide-box>-->
    <div style="background:#e3e3e3; height: 100%;">
      <div style="position: absolute; bottom: 5%; width: 90%; left: 5%; text-align: center;">
        <h3 style="margin-bottom: 200px">Welcome to <br/>WhichDegree</h3>
        <button class="button button-block">
          Sign up
        </button>
        <button class="button button-block">
          Log in
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
