<ion-view>
  <ion-nav-title>
    Payments
  </ion-nav-title>

  <!--<ion-nav-buttons side="secondary">-->
    <!--<button class="button" ng-click="editPayment()">-->
      <!--<i class="icon ion-card"></i>-->
      <!--Edit-->
    <!--</button>-->
  <!--</ion-nav-buttons>-->

  <ion-content>
    <div ng-show="!currentUser.hasPayment">
      <form ng-submit="savePayment()" novalidate>
        <div class="row">
          <div class="col">
            <ion-checkbox ng-model="adFree" ng-click="adFree=true;">Ad Free: $0.99 / month</ion-checkbox>
          </div>
        </div>
        <div class="row">
          <div class="col" style="position: relative">
            <img style="position:absolute;right: 10px;width: 150px;top: 16px;" src="https://assets.democrats.org/imgs/donate-cards-trans.png">
            <form-input-tag model="form.number" type="text" label="Card Number" required="true" icon="" placeholder="XXXX-XXXX-XXXX-XXXX"></form-input-tag>
          </div>
        </div>
        <div class="row">
          <div class="col col-50">
            <form-input-tag model="form.exp" type="text" label="Expiration" required="true" icon="" placeholder="MM / YY"></form-input-tag>
          </div>
          <div class="col col-50">
            <form-input-tag model="form.cvc" type="text" label="Security code" required="true" icon="" placeholder="***"></form-input-tag>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <form-input-tag model="form.address_zip" type="text" label="Zip code" required="true" icon="" placeholder="98765"></form-input-tag>
          </div>
        </div>
        <div class="row">
          <div class="col col-50 col-offset-25">
            <button class="button button-balanced button-block" type="submit">Save</button>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="currentUser.hasPayment" style="text-align: center;">
      <i class="ion-checkmark-circled balanced" style="display: block;font-size: 50pt;margin: 20px auto;"></i>
      <h3>Payment has been setup.</h3>
      <br/>
      <br/>
      <br/>
      <div class="row">
        <div class="col col-50 col-offset-25">
          <button ng-click="confirmRemoval()" class="button button-assertive button-block">Remove</button>
        </div>
      </div>

    </div>
  </ion-content>

</ion-view>
