<ion-view view-title="Chats">
  <ion-nav-buttons side="secondary">
    <button class="button button-stable" ng-click="provisionChatModal( );">
      <i class="icon ion-compose icon-accessory"></i>
      New
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"
        ng-click="provisionChatModal( chat.id );">
        <img ng-src="{{chat.otherMember.face}}">
        <h2>
          {{chat.otherMember.profile.firstName}}
        </h2>
        <p>{{chat.lastMessage.content}}</p>
        <i class="icon ion-chatbubble-working icon-accessory" style="font-size: 21pt;"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
