<ion-view view-title="Chats">
  <ion-nav-buttons side="secondary">
    <button class="button button-stable" ng-click="provisionChatModal( );">
      <i class="icon ion-compose icon-accessory"></i>
      New
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap"
        ng-click="provisionChatModal( chat._id );">
        <img ng-src="{{chat.otherMember.avatarImage.url}}" ng-show="chat.otherMember.avatarImage">
        <i class="item-icon-label ion-android-person" ng-show="!chat.otherMember.avatarImage" style="font-size: 40px"></i>
        <h2>
          {{chat.otherMember.profile.firstName}} {{chat.otherMember.profile.lastName}}
        </h2>
        <p>{{chat.lastMessage.content}}</p>
        <i class="icon ion-record icon-accessory" style="font-size: 9pt;width: 15px;margin-top: -10px;z-index:9; color: #387ef5"></i>
        <i class="icon ion-chatbubble-working icon-accessory" style="font-size: 21pt;"></i>
        <ion-option-button class="button-assertive" ng-click="remove(chat.id)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
