<ion-view view-title="Account">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/profile">
        <h2>My Profile</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-item class="item-icon-right" type="item-text-wrap" href="#/tab/payment" ng-show="!currentUser.paymentToken">
        <h2>Payment</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
      <ion-toggle ng-model="settings.enableFriends">
          Show me online
      </ion-toggle>
    </ion-list>

    <div class="row">
      <div class="col col-50 col-offset-25">
        <a class="button button-assertive button-block" ng-click="logout()">
          Sign Out
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
