<ion-view view-title="Dash">
  <!--<ion-nav-buttons side="secondary">-->
    <!--<input type="text" class="search" placeholder="Search..." style="width: 75px; margin-top: 2px;" />-->
  <!--</ion-nav-buttons>-->
  <div class="item item-divider" style="display: none;">
    Recent Articles
  </div>
  <ion-content scroll-event-interval="5" id="dashboard">

    <div style="text-align: center" ng-hide="hideLoading">
      <ion-spinner icon="spiral" style="margin: 0 auto;"></ion-spinner>
    </div>
    <div ng-hide="!hideLoading">
        <div class="list card">
          <div class="item item-avatar" ion-affix data-affix-within-parent-with-class="card">
            <img src="img/networks/2/mahrio-network.png">
            <p class="time" style="float: right"><small>3m</small></p>
            <h2>Jesus Rocha</h2>
            <p class="network"><i class="icon ion-ios-cloud"></i> Mahr.io</p>
          </div>
          <div class="item item-body">
            <img class="full-image" src="img/networks/3/the-flamingo-network.png">
            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of tabs, icons aligned left, within the card-footer.
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
        </div>
        <div class="list card">

          <div class="item item-avatar" ion-affix data-affix-within-parent-with-class="card">
            <img src="img/networks/2/mahrio-network.png">
            <p class="time"><small>2h</small></p>
            <h2>Erik Peterson</h2>
            <p class="network"><i class="icon ion-ios-cloud"></i> Finance</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/networks/3/the-flamingo-network.png">

            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of tabs, icons aligned left, within the card-footer.
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
        </div>

        <div class="list card">

          <div class="item item-avatar" ion-affix data-affix-within-parent-with-class="card">
            <img src="img/networks/2/mahrio-network.png">
            <p class="time"><small>2d</small></p>
            <h2>Erik Peterson</h2>
            <p class="network"><i class="icon ion-ios-cloud"></i> Finance</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/networks/3/the-flamingo-network.png">

            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of tabs, icons aligned left, within the card-footer.
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
        </div>
        <div class="list card">

          <div class="item item-avatar" ion-affix data-affix-within-parent-with-class="card">
            <img src="img/networks/2/mahrio-network.png">
            <p class="time"><small>2w</small></p>
            <h2>Jesus Rocha</h2>
            <p class="network"><i class="icon ion-ios-cloud"></i> Mahr.io</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="img/networks/3/the-flamingo-network.png">

            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of tabs, icons aligned left, within the card-footer.
            </p>
          </div>
          <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>
        </div>
      <div class="list card">

        <div class="item item-avatar" ion-affix data-affix-within-parent-with-class="card">
          <img src="img/networks/2/mahrio-network.png">
          <p class="time"><small>2m</small></p>
          <h2>Erik Peterson</h2>
          <p class="network"><i class="icon ion-ios-cloud"></i> Finance</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/networks/3/the-flamingo-network.png">

          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
      <div class="list card">

        <div class="item item-avatar" ion-affix data-affix-within-parent-with-class="card">
          <img src="img/networks/2/mahrio-network.png">
          <p class="time"><small>1y</small></p>
          <h2>Jesus Rocha</h2>
          <p class="network"><i class="icon ion-ios-cloud"></i> Finance</p>
        </div>

        <div class="item item-body">
          <img class="full-image" src="img/networks/3/the-flamingo-network.png">

          <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
            the content is from a card-body consisting of an image and paragraph text. The footer
            consists of tabs, icons aligned left, within the card-footer.
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>

      <!--<div style="display:none" class="list">-->

        <!--<div class="item item-divider">-->
          <!--Recent Articles-->
        <!--</div>-->
        <!--<div class="card">-->
          <!--<div class="item item-avatar">-->
            <!--<img src="img/networks/2/mahrio-network.png">-->
            <!--<h2>What is mahrio?</h2>-->
            <!--<p>December 21, 2015</p>-->
          <!--</div>-->

          <!--<div class="item item-body">-->
            <!--<img class="full-image" src="img/networks/3/the-flamingo-network.png">-->
            <!--<p>-->
              <!--Discover what mahrio is? how it evolved? the motivation behind it? the future for it?-->
              <!--<br/>-->
              <!--<br/>-->
              <!--All these questions and more are answered in this article.-->
            <!--</p>-->
            <!--<p>-->
              <!--<a href="#" class="subdued">Network 1</a>-->
            <!--</p>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="item item-divider">-->
          <!--Upcoming Events-->
        <!--</div>-->
        <!--<a class="item item-avatar item-icon-right" href="#">-->
          <!--<img src="img/networks/4/swedish-cadillac-network.png">-->
          <!--<h2>Car Club</h2>-->
          <!--<p><small>01/03/2016 05:00pm Hollister CA</small></p>-->
          <!--<i class="icon ion-chevron-right icon-accessory"></i>-->
        <!--</a>-->
      <!--</div>-->
    </div>

  </ion-content>
</ion-view>
