<ion-view view-title="Dash">
  <!--<ion-nav-buttons side="secondary">-->
    <!--<input type="text" class="search" placeholder="Search..." style="width: 75px; margin-top: 2px;" />-->
  <!--</ion-nav-buttons>-->
  <ion-content class="padding">
    <div style="text-align: center" ng-hide="hideLoading">
      <ion-spinner icon="spiral" style="margin: 0 auto;"></ion-spinner>
    </div>
    <div ng-hide="!hideLoading" style="text-align: center">
      Welcome, {{currentUser.profile.firstName}} {{currentUser.profile.lastName}}<br/>
      {{currentUser.email}}
    </div>
  </ion-content>
</ion-view>
