<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

  <ion-tabs class="tabs-icon-top tabs-color-active-positive" ng-hide="$root.hideTabs">

    <!-- Dashboard Tab -->
    <ion-tab title="Articles" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/dash" >
      <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Calendar Tab -->
    <ion-tab title="Events" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/search">
      <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <!-- Chats Tab -->
    <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats" badge="chatBadge" ng-controller="TabNotificationCtrl">
      <ion-nav-view name="tab-chats"></ion-nav-view>
    </ion-tab>

    <!-- Articles Tab -->
    <ion-tab title="Networks" icon-off="ion-ios-cloud-outline" icon-on="ion-ios-cloud" href="#/tab/networks" >
      <ion-nav-view name="tab-networks"></ion-nav-view>
    </ion-tab>

    <!-- Account Tab -->
    <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
      <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>
  </ion-tabs>

  <!--<div ng-hide="!$root.hideTabs">-->
    <!--<ion-nav-view name="tab-chats" ng-show="!$root.hideTabs"></ion-nav-view>-->
  <!--</div>-->


  <!--<div ng-hide="!$root.hideTabs">-->
    <!--<button class="button button-stable" style="width: 30px; margin-right: 10px;" ng-click="menu()">-->
      <!--<i class="ion-android-menu ion"></i>-->
    <!--</button>-->
    <!--<label class="item-input-wrapper">-->
      <!--<i class="icon ion-ios-chatboxes placeholder-icon"></i>-->
      <!--<input type="search" placeholder="Messages..." style="background: transparent; width: 100%;" ng-model="chat.newMessage">-->
    <!--</label>-->
    <!--<button class="button button-stable" ng-click="sendMessage()" ng-disabled="!chat.otherMember || !chat.newMessage">-->
      <!--Send-->
    <!--</button>-->
  <!--</div>-->
