.container
   .row
      .col-xs-10.col-xs-offset-1
         .panel.panel-danger
            .panel-heading
               h4.text-center
                  | Oops! Page Not Found
            .panel-body.text-center
               p
                  |  Sorry, the page you requested was not found on this server, or is currently unavailable.
               p
                  |  You may want to start at our
                  a( href="/" )
                     |  home page
                  |  or make a selection from the available options below.

               h4
                  |  Domains:
               p
                  a( href="/knowledge/information_technology")
                     | Information Technology